//
// Lists
// --------------------------------------------------
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Description Lists
dl {
  margin: 0;
}

dt {
  font-weight: inherit;
}

// Default list
.list {
  > li + li {
    margin-top: 5px;
  }
}

.list-xl {
  > li + li {
    margin-top: 44px;
  }
}

// List inline
//

@mixin list-inline($value, $value1 : $value) {
  margin-left: -$value1;
  margin-right: -$value;

  > li {
    display: inline-block;
    padding-left: $value1;
    padding-right: $value;
  }
}

.list-inline {
  @include list-inline(5px);
  vertical-align: baseline;

  > li {
    > .icon {
      vertical-align: middle;
    }
  }
}

.list-inline-reset {
  font-size: 0;
  line-height: 0;
}

.list-inline-xs {
  @include list-inline(6px);
}

.list-inline-sm {
  @include list-inline(10px);
}

.list-inline-md {
  @include list-inline(15px);
}

.list-objects-inline {
  $x: 22px;
  $y: 4px;
  margin-bottom: -$y;
  margin-left: -$x;
  transform: translateY(-$y);

  > *, > *:first-child {
    display: inline-block;
    vertical-align: middle;
    margin-top: $y;
    margin-left: $x;
  }

  > li {
    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > * + * {
      margin-left: 5px;
    }
  }
}

// List terms
//

.list-terms {
  dt + dd {
    margin-top: 10px;
  }

  dd + dt {
    margin-top: 31px;
  }
}

.list-terms-variant-1 {
  dt {
    font: 700 16px/22px $font-family-base;
    letter-spacing: -.025em;
    color: $black;
  }

  // Offsets
  dt + dd {
    margin-top: 18px;
  }

  dd + dt {
    margin-top: 40px;
  }

  @include media-breakpoint-up(xl) {
    dt {
      font-size: 24px;
      line-height: 1.2;
    }

    dd + dt {
      margin-top: 50px;
    }
  }
}

// list dashed
.list-inline-dashed {
  margin-left: -15px;

  li {
    padding-left: 15px;
    padding-right: 10px;

    &:after {
      content: '|';
      position: relative;
      right: -12.5px;
      color: $porcelain;
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .list-md-dashed {
    > * {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        font-weight: 100;
        top: 0;
        right: -6%;
        height: 73px;
        @include transform ( translateX(-50%) skew(-21deg));
        width: 1px;
        background: #48494a;

        @include media-breakpoint-up(xl) {
          right: -3%;
          height: 120px;
        }
      }

      &:last-child::after{
        display: none;
      }
    }
  }
}

.dl-inline {
  vertical-align: middle;
  dt,
  dd {
    display: inline-block;
    vertical-align: middle;
  }

  dt {
    padding-right: 5px;
  }

  dt:after {
    content: ':';
  }

  .pricing-object-sm {
    position: relative;
    top: -5px;
  }
}

.list-terms-inline {
  dt, dd {
    display: inline-block;
  }

  dt {
    color: $black;
  }

  dd {
    color: $body-color;
  }

  dt:after {
    content: ':';
  }
}

// List index
//

.list-index {
  counter-reset: li;

  > li {
    .list-index-counter {
      &:before {
        content: counter(li, decimal-leading-zero);
        counter-increment: li;
      }
    }
  }
}

// List marked
//

// List marked
.list-marked {
  li {
    color: $black;
    position: relative;
    padding-left: 32px;

    &:before {
      position: absolute;
      top: 1px;
      left: 0;
      content: '\e005';
      font-family: "fl-flat-icons-set-2";
      display: inline-block;
      margin-right: 11px;
      font-size: 13px;
      line-height: inherit;
      vertical-align: middle;
      color: $primary;
    }

    &:not(:last-child):after {
      content: ';';
    }

    &:last-child:after {
      content: '.';
    }
  }

  li + li {
    margin-top: 11px;
  }

  &-spacing-lg {
    li {
      padding-left: 26px;
    }
  }

  @include media-breakpoint-between(lg, xl) {
    li {
      padding-left: 24px;
      font-size: 13px;
      &:before {
        font-size: 11px;
      }
    }
  }
}

// List marked v2
.list-marked-variant-2 {
  > li {
    > a {
      position: relative;
      display: inline-block;
      padding-left: 20px;

      &:before {
        content: '\f105';
        position: absolute;
        left: 0;
        top: -1px;
        font: 400 18px/24px 'FontAwesome';
        color: $primary;
        transition: .33s all ease;
      }

      &:hover {
        &:before {
          left: 4px;
        }
      }
    }
  }

  > li + li {
    margin-top: 14px;
  }
}

// List ordered
.list-ordered {
  counter-reset: li;
  li {
    color: $black;
    &:before {
      display: inline-block;
      margin-right: 13px;
      width: 15px;
      content: counter(li, decimal) '.';
      counter-increment: li;
    }

    &:not(:last-child):after {
      content: ';';
    }

    &:last-child:after {
      content: '.';
    }
  }

  li + li {
    margin-top: 11px;
  }
}

// List tags
.list-tags {
  > li {
    display: inline-block;
    font-style: italic;

    a {
      &, &:active, &:focus {
        color: $primary;
      }

      &:hover {
        color: $primary;
      }
    }
  }

  > li {
    &:after {
      content: ',';
      display: inline-block;
      color: $gray-200;
    }
  }

  > li:last-child {
    &:after {
      display: none;
    }
  }
}

// List numbered
.list-numbered {
  counter-reset: li;

  > li {
    position: relative;
    padding-left: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: counter(li, decimal) '.';
      counter-increment: li;
    }
  }

  > li + li {
    margin-top: 10px;
  }
}

// List icon pack
.list-icon-pack {
  margin-top: 6px;
  > li {
    margin-top: 25px;

    span {
      display: block;
    }

    span + span {
      margin-left: .25em;
    }
  }

  h6 + *,
  .h6 + * {
    margin-top: 2px;
  }
}

// List links
.list-links {
  > li {
    display: inline-block;
  }

  > li:after {
    content: ';';
  }

  > li:last-child {
    &:after {
      display: none;
    }
  }
}

// List hashtags
.list-hashtags {
  > li {
    display: inline-block;
    a {
      color: inherit;
      &:hover {
        color: $primary;
      }
    }
  }

  > li > a {
    &:before {
      content: '#';
    }
  }
}

// List marked bordered
.list-marked-bordered {
  color: $black;

  li {
    a {
      display: block;
      padding: 10px 7px;
      border-bottom: 1px solid $gray-200;

      &:before {
        position: relative;
        display: inline-block;
        padding-right: 10px;
        font: 400 18px "FontAwesome";
        line-height: inherit;
        color: $primary;
        content: '\f105';
      }

      span {
        color: inherit;
        transition: color .33s;
      }

      span:first-child {
        color: $black;
      }

      &:hover {
        &, span:nth-child(n) {
          color: $primary;
        }
      }
    }

    span:not(:last-child) {
      margin-right: .25em;
    }
  }
}

// List bordered horizontal
.list-bordered-horizontal {
  @include spacing(35px, 7px);

  @include media-breakpoint-up(md) {
    > li {
      display: inline-block;
    }

    > li:not(:last-child) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        width: 1px;
        height: 22px;
        background: $gray-300;
      }
    }
  }
}

.list-tag-blocks {
  @include spacing(6px);

  li {
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;

    a {
      display: inline-block;
      padding: 6px 19px;
      border-radius: 0;
      border: 1px solid transparent;

      &, &:active, &:focus {
        color: $black;
        background: $white;
      }

      &:hover {
        background: transparent;
        border-color: $silver;
      }
    }
  }
}

// List progress
.list-progress {
  font-family: $font-family-base;
  color: $secondary;

  li + li {
    margin-top: 23px;
  }

  p {
    padding-right: 40px;
  }
}

// List tags inline
.list-tags-inline {
  > li {
    display: inline;
    
    a{
      color: inherit;
      &:hover {
        color: $primary;
      }
    }
  }

  > li:not(:last-child) {
    &:after {
      content: ',';
    }
  }
}

// List rating
.list-rating {
  font-size: 0;
  line-height: 0;

  > li {
    display: inline-block;
  }

  .icon {
    color: $gold;
  }
}

// List wide bordered
.list-wide-bordered {
  color: $secondary;
  font: 400 14px/22px $font-family-base;
  border-top: 1px solid $gray-300;

  dl {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    @include justify-content(space-between);
    width: 100%;
    font-weight: 700;

    dt {
      padding-right: 15px;
    }

    dd {
      font-weight: 700;
      font-size: 14px;
    }
  }

  li {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include align-items(center);
    min-height: 54px;
    padding: 10px 20px;
    border-bottom: 1px solid $gray-300;
  }
}

.list-wide-bordered + .list-wide-bordered {
  border-top: 0;
}

@include media-breakpoint-up(md) {
  .list-wide-bordered {
    font-size: 16px;

    li {
      min-height: 73px;
      padding: 20px 30px;
    }
  }
}