//
// Quotes custom
// --------------------------------------------------

// Reset styles
blockquote {
  font: inherit;
  padding: 0;
  margin: 0;
  border: 0;
  q {
    &:before,
    &:after {
      content: none;
    }
  }
  cite {
    font-style: normal;
  }
}

// Quote default
.quote-default {
  position: relative;
  padding: 43px 0 43px 6px;
  @extend %text-bigger;
  color: $gray-900;

  .quote-open,
  .quote-close {
    position: absolute;
    left: 30px;
    font-size: 18px;
    line-height: 1;
    color: #eaebee;
  }

  .quote-open {
    top: 0;
  }

  .quote-close {
    bottom: 0;
  }
}

// Quote bordered
.quote-bordered {
  $border-color: $porcelain;
  $quote-open-color: $primary;
  $quote-padding: 37px 22px 29px 34px;
  $tail-center: 56px;
  $tail-width: 20px;
  $tail-height: 10px;
  padding-top: 14px;

  .quote-body {
    position: relative;
    padding-bottom: $tail-height;
  }

  h6 {
    font-size: 18px;
  }

  .quote-body-inner {
    position: relative;
    padding: $quote-padding;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: $border-color;

    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: -$tail-height;
      height: $tail-height;
      border-style: solid;
      border-color: $border-color;
      background-color: transparent;
    }

    &:before {
      left: $tail-width / 2;
      width: $tail-center - $tail-width / 2;
      border-width: 1px 1px 0 0;
      transform: skew(45deg);
      transform-origin: 100% 100%;
    }

    &:after {
      right: $tail-width / 2;
      width: calc(100% - #{$tail-center - $tail-width / 2 + $tail-height  * 2});
      border-width: 1px 0 0 1px;
      transform: skew(-45deg);
      transform-origin: 0 100%;
    }
  }

  .quote-open {
    position: absolute;
    top: -10px;
    left: nth($quote-padding, 4);
    z-index: 2;
    font-size: 37px;
    font-style: italic;
    line-height: 1;
    color: $quote-open-color;
  }

  .quote-footer {
    padding-left: 25px;
  }

  cite {
    font-size: 17px;
    font-weight: 900;
    line-height: 21px;
    color: $white;
  }

  // Offsets
  * + .quote-footer {
    margin-top: 9px;
  }

  cite + p {
    margin-top: 0;
  }
}

.quote-bordered-inverse {
  cite,
  q {
    color: $black;
  }
}

// Quote minimal bordered
.quote-minimal-bordered {
  position: relative;
  padding: 16px 0 26px;
  text-align: center;

  q {
    font: 400 20px $font-family-base;
    font-style: italic;
    color: $abbey;

    &:before,
    &:after {
      content: '"';
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 270px;
    height: 1px;
    transform: translateX(-50%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba($gray-300, 1) 50%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba($gray-300, 1) 50%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba($gray-300, 1) 50%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00000000', GradientType=1);

  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  @include media-breakpoint-up(md) {
    q {
      font-size: 24px;
      line-height: 1.55;
    }
  }

  @include media-breakpoint-up(xl) {
    q {
      font-size: 30px;
    }
  }
}

// Quote minimal
.quote-minimal {
  q {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
    color: $black;
  }

  cite {
    font: 700 15px $font-family-base;
    line-height: 1.1;
    color: $black;
  }

  .caption {
    color: $body-color;
  }

  // Mods
  &.quote-minimal-inverse {
    q {
      color: $white;
    }

    cite {
      color: $white;
    }

    .caption {
      color: rgba(#fff, .5);
    }
  }

  // Offsets
  * + .caption {
    margin-top: 0;
  }

  * + .quote-meta {
    margin-top: 20px;
  }
}

// Quote strict
.quote-strict {
  q,
  cite {
    color: $black;
  }

  q {
    font-size: 19px;
    font-weight: 300;
    font-style: italic;
    line-height: 28px;
  }

  cite {
    display: block;
    font: 700 16px/21px $font-family-base;
    text-transform: uppercase;
  }

  // Offsets
  * + cite {
    margin-top: 20px;
  }

  // Mods
  &.quote-strict-inverse {
    q,
    cite {
      color: $white;
    }
  }
}

// Quote vertical
.quote-vertical {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  q {
    font-size: 16px;
    line-height: (30 / 19);
    font-weight: 100;
    color: rgba($black, .5);
  }

  cite {
    display: block;
    color: $black;
    font: 700 14px/18px $font-family-base;
  }

  .quote-open {
    > .quote-icon {
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      color: $primary;
    }
  }

  .quote-image {
    &,
    > img {
      border-radius: 600px;
    }

    > img {
      max-width: 113px;
    }
  }

  // Offsets
  * + cite {
    margin-top: 16px;
  }

  * + .caption {
    margin-top: 0;
  }

  * + .quote-text {
    margin-top: 25px;
  }

  * + .quote-meta {
    margin-top: 25px;
  }

  // Mods
  &.quote-vertical-inverse {
    q,
    cite {
      color: $white;
    }

    .cite {
      color: rgba($white, .5);
    }

    .quote-open {
      > .quote-icon {
        color: $white;
      }
    }
  }
}

// Quote review
.quote-review {
  cite {
    font: 700 14px/18px $font-family-base;
    text-transform: uppercase;
    letter-spacing: -.025em;
    color: $black;
  }

  .quote-header {
    @include spacing(10px, 2px);
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Offsets
  * + .quote-body {
    margin-top: 10px;
  }
}

* + .quote-review {
  margin-top: 35px;
}

@include media-breakpoint-up(md) {
  .quote-minimal {
    q {
      font-size: 22px;
    }

    cite {
      font-size: 19px;
    }

    // Offsets
    * + .quote-meta {
      margin-top: 37px;
    }
  }

  * + .quote-review {
    margin-top: 45px;
  }
}

@include media-breakpoint-up(lg) {
  .quote-minimal {
    q {
      font-size: 24px;
    }
  }

  .quote-vertical {
    q {
      font-size: 19px;
    }
  }
}

// Quote-left
.quote-left {

  .divider-fullwidth {
    margin-top: 20px;
    background: #595654;
  }

  .quote-name {
    font-size: 18px;
    font-weight: 500;
    color: $white;

    @include media-breakpoint-up(lg) {
    	font-size: 24px;
    }
  }

  .quote-desc-text {
    font-size: 26px;
    line-height: 1;
    font-style: italic;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
    	font-size: 36px;
    }
  }

  .quote-body {
    margin-top: 27px;
    position: relative;
    text-align: left;

    .quote-image {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 50px;
      line-height: 1;
      color: $gray-300;
      opacity: .5;
    }

    img {
      border-radius: 50%;
    }

    q {
      color: $white;
    }
  }

  .h4 + *,
  h5 + * {
    margin-top: 0;
  }

}


// Quote slide
//

.quote-slide{
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
  }

  @include media-breakpoint-up(xl) {
    display: block;
  }

  &-img{
    flex: none;
  }

  .quote-slide-inner{
    padding-top: 15px;

    @include media-breakpoint-up(md) {
      padding-left: 30px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 0;
    }
  }

  &-holder{
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-left: 35px;
    }
  }

  .quote-body{
    @include media-breakpoint-up(xl) {
      padding-right: 125px;
    }
  }

  .sub-header{
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 12px;
    font-weight: 700;
    color: $primary;
  }

  h4{
    margin-top: 4px;
    @include media-breakpoint-up(md) {
      margin-top: 12px;
    }
  }

  q{
    letter-spacing: 0.05em;
  }

  .unit{
    margin-top: 10px;

    @include media-breakpoint-up(md) {
      margin-top: 30px;
    }
  }

  &-img{
    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translate(-100%, -50%);
    }
  }
}
