//
// Custom utilities
// --------------------------------------------------

// Helpers
// -------------------------
.relative {
  position: relative;
}

.static {
  position: static;
}

.block-top-level {
  position: relative;
  z-index: 3;
}

.height-fill {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);

  > * {
    @include flex-grow(1);
  }
}

.centered {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.align-bottom {
  @include align-self(flex-end);
}

.block-centered {
  margin-left: auto;
  margin-right: auto;
}

.responsive-centered {
  @include media-breakpoint-down(sm){
    margin-left: auto;
    margin-right: auto;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.page .white-space-normal {
  white-space: normal;
}

// Main Layout
// -------------------------
* + h1,
* + .h1 {
  margin-top: 10px;
}

* + h2,
* + .h2 {
  margin-top: 15px;
}

* + h3,
* + .h3 {
  margin-top: 20px;

  @include media-breakpoint-up(md) {
    margin-top: 27px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 34px;
  }
}

* + h4,
* + .h4 {
  margin-top: 25px;
}

* + h5,
* + .h5 {
  margin-top: 17px;
}

* + h6,
* + .h6 {
  margin-top: 15px;
}

h1 + *,
.h1 + * {
  margin-top: 10px;
}

h2 + *,
.h2 + * {
  margin-top: 15px;
}

h3 + *,
.h3 + * {
  margin-top: 25px;
}

h4 + *,
.h4 + * {
  margin-top: 18px;
}

h5 + *,
.h5 + * {
  margin-top: 19px;
}

h6 + *,
.h6 + * {
  margin-top: 18px;
}

* + p,
* + p {
  margin-top: 14px;
}

* + .text-big {
  margin-top: 20px;
}

hr + * {
  margin-top: 18px;
  @include media-breakpoint-up(xl) {
    margin-top: 26px;
  }
}

p + p {
  margin-top: 27px;
}

* + .big {
  margin-top: 6px;
}

* + .text-large {
  margin-top: 10px;
}

* + .text-bigger {
  margin-top: 28px;
}

* + .btn {
  margin-top: 30px;

  @include media-breakpoint-up(xl) {
    margin-top: 44px;
  }
}

* + .link {
  margin-top: 18px;
}

* + .contact-info {
  margin-top: 16px;
}

* + .list-inline {
  margin-top: 32px;
}

* + .list-terms {
  margin-top: 42px;

  @include media-breakpoint-up(xl) {
    margin-top: 62px;
  }
}

* + .list-marked,
* + .list-ordered {
  margin-top: 22px;
}

* + .link-wrap {
  margin-top: 8px;
}

* + .link-iconed {
  margin-top: 2px;
}

// Misc
// -------------------------
.contact-info {
  color: $secondary;
  vertical-align: baseline;

  a {
    display: inline-block;
  }

  dl {
    dt, dd {
      display: inline-block;
    }

    dt:after {
      content: ':';
      display: inline-block;
      text-align: center;
    }
  }

  .dl-inline {
    dt {
      padding-right: 0;
    }
  }
}

.grid-system {
  p {
    color: $secondary;
  }
  @include media-breakpoint-down(lg) {
    p {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.object-inline,
.object-inline-baseline {
  white-space: nowrap;
  > * + * {
    margin-top: 0;
    margin-left: 5px;
  }
}

.object-inline {
  vertical-align: middle;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.object-inline-baseline {
  vertical-align: baseline;

  > * {
    display: inline-block;
    vertical-align: baseline;
  }
}

.row-no-gutter {
  margin-left: 0;
  margin-right: 0;

  [class*='col'] {
    padding: 0;
  }
}

.text-width-1 {
  max-width: 400px;
  @include media-breakpoint-up(lg) {
    max-width: 310px;
  }
}

.min-width-1 {
  min-width: 100%;
  @include media-breakpoint-up(sm) {
    min-width: 270px;
  }
}

.img-shadow {
  box-shadow: -3px 2px 4px 0px rgba($black, 0.58);
  @include media-breakpoint-up(md) {
    box-shadow: -5px 4px 8px 0px rgba($black, 0.58);
  }
}

// Boxes
.box {
  box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.3);
  padding: 50px 30px;

  @include media-breakpoint-up(lg) {
    padding: 55px 30px 65px 44px;
  }
  @include media-breakpoint-up(xl) {
    padding: 75px 40px 85px 54px;
  }
}

.box-xs {
  padding: 38px 20px;
}

.page .box-list-xs {
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);

  .box-xs + .box-xs {
    border-top: 1px solid $big-stone;
  }

  @include media-breakpoint-up(md) {
    max-width: 170px;
  }
}

// Items Group
.group-item {
  width: 100%;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}
@include media-breakpoint-up(sm) {
  .group-item {
    max-width: 300px;
  }
}
@include media-breakpoint-up(md) {
  .group-item {
    min-width: 40%;
    max-width: 0;
  }
}
@include media-breakpoint-up(xl) {
  .group-item {
    min-width: 272px;
  }

  .group-item-sm {
    min-width: 195px;
  }
}

// Border Modern
@include media-breakpoint-up(xl) {
  .border-modern {
    position: relative;

    .border-modern-item {
      &-1, &-2,
      &-3, &-4 {
        position: absolute;
        width: 45px;
        height: 45px;
        border-left: 3px solid $primary;
        border-top: 3px solid $primary;
      }

      &-1, &-2 {
        top: -27px;
      }
      &-3, &-4 {
        bottom: -68px;
      }
      &-1, &-3 {
        left: 68px;
      }
      &-2, &-4 {
        right: 68px;
      }
      &-2 {
        transform: rotate(90deg);
      }
      &-3 {
        transform: rotate(-90deg);
      }
      &-4 {
        transform: rotate(180deg);
      }
    }
  }
}