extends  ../_skeleton

//- Includes
include ../elements/_ui-post-classic

block variables
	- var activeIndex = 6
	- var pageName = 'Blog Classic'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title('Blog', 'bg-image-1')

	//- Blog masonry
	section.section-50.section-md-75.section-xl-100.novi-background.bg-cover.bg-white
		.container
			.row.row-fix.justify-content-md-center
				.col-xl-10.post-classic-wrap
					+post-classic({
						img: 'blog-classic-2-113x113',
						header: 'Leave your Legacy through Planned Giving',
						text: [
							'There comes a point in life where you want to begin sharing or gifting all the things you’ve collected over the years—stories, wisdom, financial wealth. And unlike the Ancient Egyptians believed, you cannot take your worldly goods with you when your light goes out. You can share your stories wisdom in a manifesto or through funny tales to your family, but what about the money? Like the most, you have (or should have) a will and most of your assets are likely going to friends and family. But, what...'
						],
						tags: ["Legacy", "Plan"],
						user: 'Amelia Condon',
						time: ['2018-06-17', '05/14/2018'],
						media: {
							type: "image",
							data: 'blog-classic-1-971x649'
						}
					})


					+post-classic({
						img: 'blog-classic-3-113x113',
						header: 'Protecting Your Biggest Asset',
						text: [
							"Life is full of risks, and people make decisions everyday that require weighing those risks against their ability to protect themselves using their own resources or by transferring the risk to an insurance company. Most people realize that they couldn’t afford to rebuild a damaged home or buy a new car without insurance. While these are important and expensive assets, the actual risk of loss pales next to the loss of their biggest asset, their ability to earn an income...",
						],
						tags: ["Protecting", "Insurance"],
						user: 'Jack Smith',
						time: ['2018-03-02', '04/3/2018']
					})


					+post-classic({
						img: 'blog-classic-4-113x113',
						header: 'A Lesson in Helping your Student Pay for College',
						text: [
							"You think back fondly on those halcyon collegiate days--studying in the quad, late-night pizza, tailgating for the big tailgating game, dorm living, tossing your graduation cap in the air...beyond the lifelong friends and the parties and fun, college helped you get to where you are today. Looking ahead, your student is planning on following in your footsteps and will be receiving that admissions letter of acceptance sooner than you think...",
						],
						tags: ["Lesson", "Student"],
						user: 'Alex Murphy',
						time: ['2018-03-02', '04/3/2018'],
						media: {
							type: "image",
							data: "blog-classic-5-970x546"
						}
					})

					+post-classic({
						img: 'blog-classic-8-113x113',
						header: 'Debt After Death – Do You Have it Covered?',
						text: [
							"Many people deal with credit card debt all of their lives with most of them giving little or no thought to what happens with their debt after they die. The fact that nearly 60% die without a will is a strong indication that they’ve given absolutely no thought to it. As a consequence, those that survive the debt holder are often left to deal with a myriad of issues that can be time-consuming and unpleasant. Credit card debt doesn’t simply evaporate when someone dies. In fact, creditors will actually...",
						],
						tags: ["Debt", "Credit Card"],
						user: 'Joe Peterson',
						time: ['2018-03-02', '04/3/2018'],
						media: {
							type: "gallery",
							data: [
								"blog-classic-6-970x546",
								"blog-classic-7-970x546"
							]
						}
					})

					.pagination-custom-wrap.text-center
						+pagination
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default