extends  ../_skeleton

//- Includes
include ../elements/_ui-post-block

block variables
  - var activeIndex = 3
  - var pageName = 'Blog Grid'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title('Blog', 'bg-image-1')

  //- Blog grid
  section.section-50.section-md-75.section-xl-100.bg-cover.novi-background
    .container
      .row.justify-content-md-center.justify-content-lg-start.row-30
        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-1-570x253',
            header: 'Choosing the Strategy',
            user: 'Joan Williams',
            time: ['2018-01-01', '22 November'],
            tags: ['Strategy', 'Capital']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-2-570x253',
            header: 'Narrow Your Focus to Prevent Overanalysis',
            user: 'Tom Park',
            time: ['2018-01-01', '22 November'],
            tags: ['Idea', 'Business']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-3-570x253',
            header: '8 Tips for Building a Bankable Business',
            user: 'John Miller',
            time: ['2018-01-01', '22 November'],
            tags: ['Business', 'Plan']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-4-570x253',
            header: 'New HMRC Offshore Disclosure Facility',
            user: 'Julien Miro',
            time: ['2018-01-01', '22 November'],
            tags: ['Facility', 'Opportunity']
          })

        .col-md-9.col-lg-6.height-fill
          +post-block({
            img: 'blog-grid-5-570x253',
            header: 'Your Business Model is the Foundation of Your Business Plan',
            user: 'Amelia Anderson',
            time: ['2018-01-01', '22 November'],
            tags: ['Business', 'Plan']
          })

      .row.row-fix.text-center
        .col-sm-12
          +pagination
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default