extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Brands'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //-Our Partners
  section.section-50.section-md-90.novi-background.bg-cover
    .container
      .row.row-40.text-center.text-md-left
        .col-6.col-md-3
          +link-image({img: 'clients-1-126x68'})
        .col-6.col-md-3
          +link-image({img: 'clients-2-126x100'})
        .col-6.col-md-3
          +link-image({img: 'clients-3-132x83'})
        .col-6.col-md-3
          +link-image({img: 'clients-4-169x68'})

  section.section-66.section-md-top-90.section-md-bottom-75.novi-background.bg-cover.bg-whisper-lighten
    .container
      .row.row-fix.row-30
        .col-sm-12
          h3
            | Our
            =' '
            span.text-thin Partners

        .col-12
          p.text-black-05(style='max-width: 590px;').
            We build trust and long-term partnerships with our clients. In our work, we try to adapt to your ideas and to feel as part of your company. Everyone can become our affiliate.

        .col-sm-12
          //- Owl Carousel
          .owl-carousel(data-nav="false", data-loop="true", data-dots="true", data-items="1", data-xs-items="2", data-sm-items="3", data-md-items="5", data-lg-items="6", data-xl-items="6")
            .item
              +link-image({img: 'clients-1-126x68'})
              +link-image({img: 'clients-7-104x84'})

            .item
              +link-image({img: 'clients-2-126x100'})
              +link-image({img: 'clients-8-144x68'})

            .item
              +link-image({img: 'clients-3-132x83'})
              +link-image({img: 'clients-9-105x94'})

            .item
              +link-image({img: 'clients-4-169x68'})
              +link-image({img: 'clients-10-95x101'})

            .item
              +link-image({img: 'clients-5-141x88'})
              +link-image({img: 'clients-11-126x68'})

            .item
              +link-image({img: 'clients-6-138x55'})
              +link-image({img: 'clients-12-132x83'})

  ='\n'

  //-Our Clients
  section.section-60.section-md-90.novi-background.bg-cover
    .container
      .row.row-fix
        .col-sm-12
          h3 Our Clients
      .row.row-40.row-fix
        .col-md-7.col-lg-5.col-xl-4
          //- Owl Carousel
          .owl-carousel-dark
            .owl-carousel.owl-nav-bottom-left(data-items='1', data-stage-padding='0', data-loop='true', data-margin='30', data-mouse-drag="false", data-nav='true')
              .item
                p Among our clients, there are many world-renowned industry leaders. Their companies are now ranked as the most successful companies – thanks to us.
              .item
                p Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.
              .item
                p I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.

        .col-lg-7.col-xl-8
          .row.shift-md-top-1.row-30
            .col-6.col-md-3
              +link-image({img: 'services-2-132x83'})

            .col-6.col-md-3
              +link-image({img: 'services-3-169x68'})

            .col-6.col-md-3
              +link-image({img: 'services-4-141x88'})

            .col-6.col-md-3
              +link-image({img: 'services-5-138x55'})
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default