extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-link-image

block variables
	- var activeIndex = 2
	- var pageName = 'Services'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title(pageName, 'bg-image-1')

	//- Services Overview
	section.section-60.section-md-90.novi-background.bg-cover
		.container
			.row.row-fix.row-40
				.col-12
					h3.text-center Services #[span.text-thin Overview]
					p.text-center Tab Account offers a variety of services covering almost every need of modern #[br.d-none.d-xl-inline-block] businesses. Learn more about our services below.
				.col-12
					.row.justify-content-sm-center.text-center.text-lg-left.row-60
						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-6-370x220')

								h6.thumbnail-title: a(href="single-service.html") Audit & Accounting

								p.text-black-05 Audit & accounting services assure your company’s compliance with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-7-370x220')

								h6.thumbnail-title: a(href="single-service.html") Tax Planning

								p.text-black-05 Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-8-370x220')

								h6.thumbnail-title: a(href="single-service.html") Consulting & Advisory

								p.text-black-05 Consulting & advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Tab Account can offer to its clients (including business advisory and consulting).

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-9-370x220')

								h6.thumbnail-title: a(href="single-service.html") Audit & Accounting

								p.text-black-05 Audit & accounting services assure your company’s compliance with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-10-370x220')

								h6.thumbnail-title: a(href="single-service.html") Tax Planning

								p.text-black-05 Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-11-370x220')

								h6.thumbnail-title: a(href="single-service.html") Consulting & Advisory

								p.text-black-05 Consulting & advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Tab Account can offer to its clients (including business advisory and consulting).

	='\n'

	//- Starbis Is Exactly What You Need
	section.section-60.section-md-100.context-dark.bg-accent.novi-background.bg-cover
		.container.text-center.text-lg-left
			.row.row-fix.justify-content-sm-center.align-items-lg-center.justify-content-lg-start.row-30
				.col-lg-8.text-center
					h3 affordable business advice
				.col-lg-4.col-xl-3
					a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Learn more
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default