extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Sliders'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Slider with navigation
      .divider

  include ../sections/_section-slider

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Slider with pagination
      .divider

  //-Swiper
  section
    .swiper-container.swiper-slider.swiper-variant-1.bg-black(data-loop='false' data-autoplay='5000', data-simulate-touch='true')
      .swiper-wrapper.text-center
        .swiper-slide(data-slide-bg='images/home-slider-1-slide-1.jpg')
          .swiper-slide-caption
            .container
              .row.row-fix.justify-content-sm-center
                .col-md-11.col-lg-10
                  .text-white.text-uppercase.jumbotron-custom.border-modern(data-caption-animate='fadeInUp', data-caption-delay='0s') Upgrade #[span.text-thin your business]
                    span.border-modern-item-1
                    span.border-modern-item-2
                    span.border-modern-item-3
                    span.border-modern-item-4
                  div(data-caption-animate='fadeInUp', data-caption-delay='450s')
                    p.text-big-19.text-white.d-none.d-md-inline-block We provide extensive assistance with any audit issues to modern bussinesses
                  .button-block(data-caption-animate='fadeInUp', data-caption-delay='550s')
                    a.btn.btn-primary(href='contact-us.html') Contact us

        .swiper-slide(data-slide-bg='images/bg-image-5.jpg')
          .swiper-slide-caption
            .container
              .row.row-fix.justify-content-sm-center
                .col-md-11.col-lg-10.col-xl-12
                  .text-white.text-uppercase.jumbotron-custom.border-modern(data-caption-animate='fadeInUp', data-caption-delay='0s') We Provide Proper Audit Solutions
                    span.border-modern-item-1
                    span.border-modern-item-2
                    span.border-modern-item-3
                    span.border-modern-item-4
                  div(data-caption-animate='fadeInUp', data-caption-delay='450s')
                    p.text-big-19.text-white.d-none.d-md-inline-block Optimize audit costs using our years of experience
                  .button-block(data-caption-animate='fadeInUp', data-caption-delay='550s')
                    a.btn.btn-primary(href='contact-us.html') Contact us

      //- Swiper Navigation
      .swiper-pagination

  ='\n'

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Slider with video
      .divider

  //-Swiper
  section
    .swiper-container.swiper-slider.swiper-variant-1.bg-black(data-loop='false' data-autoplay='5000', data-simulate-touch='true')
      .swiper-wrapper.text-center
        .swiper-slide.bg-vide.bg-vide-mask.novi-vide.overlay-5( data-vide-bg="video/video-bg", data-vide-options="posterType: jpg" )
          .swiper-slide-caption
            .container
              .row.row-fix.justify-content-sm-center
                .col-md-11.col-lg-10
                  .text-white.text-uppercase.jumbotron-custom.border-modern(data-caption-animate='fadeInUp', data-caption-delay='0s') Upgrade #[span.text-thin your business]
                    span.border-modern-item-1
                    span.border-modern-item-2
                    span.border-modern-item-3
                    span.border-modern-item-4
                  div(data-caption-animate='fadeInUp', data-caption-delay='450s')
                    p.text-big-19.text-white.d-none.d-md-inline-block We provide extensive assistance with any audit issues to modern bussinesses
                  .button-block(data-caption-animate='fadeInUp', data-caption-delay='550s')
                    a.btn.btn-primary(href='contact-us.html') Contact us

        .swiper-slide(data-slide-bg='images/home-slider-1-slide-1.jpg')
          .swiper-slide-caption
            .container
              .row.row-fix.justify-content-sm-center
                .col-md-11.col-lg-10
                  .text-white.text-uppercase.jumbotron-custom.border-modern(data-caption-animate='fadeInUp', data-caption-delay='0s') Upgrade #[span.text-thin your business]
                    span.border-modern-item-1
                    span.border-modern-item-2
                    span.border-modern-item-3
                    span.border-modern-item-4
                  div(data-caption-animate='fadeInUp', data-caption-delay='450s')
                    p.text-big-19.text-white.d-none.d-md-inline-block We provide extensive assistance with any audit issues to modern bussinesses
                  .button-block(data-caption-animate='fadeInUp', data-caption-delay='550s')
                    a.btn.btn-primary(href='contact-us.html') Contact us

        .swiper-slide(data-slide-bg='images/bg-image-5.jpg')
          .swiper-slide-caption
            .container
              .row.row-fix.justify-content-sm-center
                .col-md-11.col-lg-10.col-xl-12
                  .text-white.text-uppercase.jumbotron-custom.border-modern(data-caption-animate='fadeInUp', data-caption-delay='0s') We Provide Proper Audit Solutions
                    span.border-modern-item-1
                    span.border-modern-item-2
                    span.border-modern-item-3
                    span.border-modern-item-4
                  div(data-caption-animate='fadeInUp', data-caption-delay='450s')
                    p.text-big-19.text-white.d-none.d-md-inline-block Optimize audit costs using our years of experience
                  .button-block(data-caption-animate='fadeInUp', data-caption-delay='550s')
                    a.btn.btn-primary(href='contact-us.html') Contact us

      //- Swiper Navigation
      .swiper-pagination
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default