//
// Sections
// --------------------------------------------------

.section-relative {
  position: relative;
}


@include media-breakpoint-up(md) {
  .section-with-counters{
    padding-top: 1px;
    padding-bottom: 1px;
    > div{
      position: relative;
      box-shadow:         2px 2px 27px 0px rgba(1, 3, 4, 0.35);
      z-index: 2;
      margin-top: -30px;
      margin-bottom: -30px;
    }
  }
}


.section-image-aside {

  @include media-breakpoint-up(md) {
    position: relative;
  }

  &-img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 190%;
    -webkit-background-size: cover;
    background-size: cover;

    @include media-breakpoint-up(md) {
      width: 50vw;
    }
  }
}

.section-image-aside-left {
  .section-image-aside-img {
    right: -50%;

    @include media-breakpoint-up(md) {
      right: 0;
    }
  }
}

.section-image-aside-right {
  .section-image-aside-img {
    left: -50%;

    @include media-breakpoint-up(md) {
      left: 0;
    }
  }
}


@include media-breakpoint-up(lg) {
  section.section-transform + section.section-transform{
    padding-top: 0 !important;
    //z-index: auto; 

    .bg-transform-inner{
      top: -340px;
    }
  }
}

.section-transform {
  position: relative;
  //z-index: 2;
  
  p + .rd-mailform-inline { margin-top: 22px; }


  // Icon box
  // ------------------
  .icon-box {
    position: relative;
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include align-items(center);
    @include justify-content(center);
    max-width: 400px;
    padding: 35px 30px;
    text-align: center;
    cursor: default;
    background-color: #fff;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;

    .box-top,
    .box-body {
      position: relative;
      will-change: transform;
      transition: .33s all ease;
      -webkit-filter: blur(0);
    }

    .box-top {
      top: 0;
    }

    .box-body {
      margin-top: 12px;
    }

    .box-header {
      margin-top: 22px;
    }

    .box-icon {
      min-height: 46px;
      @include display-inline-flex;
      @include flex-direction(row);
      @include flex-wrap(nowrap);
      @include align-items(center);
      @include justify-content(center);
    }

    img,
    svg{
      transition: .2s;
      stroke-width: 0;
      pointer-events: none;
    }

    // States
    &.hover,
    &:hover {
      &:after{
        height: 100%;
      }

      svg{
        fill: $white !important;
        stroke: $white !important;
      }

      img{
        filter: grayscale(100%) brightness(150%);
      }

      *{
        color: #fff;
      }
    }

    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3px;
      transition: .3s ease-in-out;
      background-color: $primary;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(md) {
    .icon-box {
      max-width: 308px;
      padding: 60px 40px 53px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  html.ie-11,
  html.ie-10{
    .icon-box{
      display: block;
    }
  }
}


.section-dividers-white{
  .row + .row {
    margin-top: 30px;
    @include media-breakpoint-up(sm) {
      border-top: 1px solid $gray-300;
      margin-top: 0;
    }
  }

  [class*='col-sm'] + [class*='col-sm']{
    @include media-breakpoint-up(sm) {
      border-left: 1px solid $gray-300;
    }
  }
}
* + .section-dividers-white { margin-top: 30px; }
// Large ≥992px
@include media-breakpoint-up(lg) {
  * + .section-dividers-white { margin-top: 60px; } 
}

// Novi section
[data-x-mode="true"] .novi-section {
  position: relative;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 30px;
  }
}


// Section Spacing
// -------------------------

$insets: (15px, 30px, 35px, 40px, 45px, 50px, 60px, 66px, 75px, 90px, 100px, 120px, 130px, 145px, 165px);

@include indent-responsive(section, '', (padding-top, padding-bottom), $grid-breakpoints, $insets);
@include indent-responsive(section, top, padding-top, $grid-breakpoints, $insets);
@include indent-responsive(section, bottom, padding-bottom, $grid-breakpoints, $insets);


.frame-header {
  width: 100%;
  height: 350px;
  outline: none;
  border: 0;

  @include media-breakpoint-up(md) {
    height: 400px;
  }

  @include media-breakpoint-up(xl) {
    height: 500px;
  }
}