//- Icon box
mixin icon-box(obj)
  //- Icon box
  article.icon-box(class=obj.mod)
    .box-top
      .box-icon
        .icon.novi-icon(class=obj.iconClass)
      .box-header
        h5: a(href='#')=obj.header
    //-.divider
    .box-body
      p.text-black=obj.text

    a(href="#").btn.btn-icon-only.btn-icon-single.btn-icon-default
      span.novi-icon.icon.icon-sm.material-icons-arrow_forward