//- Icon box left
mixin icon-box-left(obj)
  //- Icon box horizontal left
  article.icon-box-horizontal
    .unit.unit-horizontal.unit-spacing-md
      .unit-left
        span.icon.icon-primary(class=obj.icon)
      .unit-body
        h4: a(href='#')=obj.header
        p(class= obj.descStyle)=obj.text
  ='\n'
