//- Quote bordered
mixin quote-bordered(obj)
  //- Quote bordered
  blockquote.quote-bordered(class= obj.class)
    .quote-body
      .quote-open.fa.fa-quote-left.novi-icon
      .quote-body-inner
        h6=obj.header
        p: q=obj.text
    .quote-footer
      .unit.unit-horizontal.unit-spacing-sm.align-items-center
        .unit-left
          +jpg(obj.img, 'img-circle')
        .unit-body
          cite=obj.cite
          p.text-primary=obj.caption
