//- Thumbnail variant 1
mixin thumbnail-1(obj)
  //- Thumbnail variant 1
  .thumbnail.thumbnail-variant-1
    .thumbnail-image
      +img(obj.img)
      .thumbnail-image-inner
        a.icon.icon-md.material-icons-local_phone.link-primary-inverse-v2(href='tel:#')
        a.icon.icon-md-smaller.fa-envelope-o.link-white(href='mailto:#')
    .thumbnail-caption
      h5.header: a(href='team-member.html')=obj.header
      p=obj.caption