//- Career block
mixin block-career(obj)
  li.custom-bg-image.block-image-plate.bg-black.bg-image(style='background-image: url(images/' + obj.img + '.jpg);')
    .block-inner
      .block-header
        h5.text-none=obj.header
      .block-body
        .block-left
          .block-list-counter
        .block-text
          each line in obj.text
            p=line
