//- Thumbnail variant 2
mixin thumbnail-2(obj)
  .thumbnail-variant-2-wrap
    //- Thumbnail variant 2
    .thumbnail.thumbnail-variant-2
      figure.thumbnail-image
        +jpg(obj.img)

      .thumbnail-inner
        .link-group
          span.novi-icon.icon.icon-xxs.icon-primary.material-icons-local_phone
          a.link-white(href='tel:#')=obj.phone

        .link-group
          span.novi-icon.icon.icon-xxs.icon-primary.fa-envelope-o
          a.link-white(href='mailto:#')=obj.email

      .thumbnail-caption.novi-background
        p.text-header: a(href='team-member.html')=obj.header
        .divider.divider-md.bg-default-02
        p.text-caption=obj.caption