//- Post classic
mixin post-classic(obj)
  //- Post classic
  article.post-classic
    if (typeof(obj.media) !== 'undefined')
      .post-media
        case obj.media.type
          when "audio"
            .soundcloud-player-classic
              !=obj.media.data

          when "video"
            .embed-responsive.embed-responsive-16by9
              !=obj.media.data

          when "gallery"
            //- Owl Carousel
            .owl-carousel.owl-style-minimal(data-items='1', data-stage-padding='0', data-loop='true', data-margin='15', data-mouse-drag="true", data-nav='false' data-dots='true', data-animation-in='fadeIn', data-animation-out='fadeOut')
              each item in obj.media.data
                .item
                  figure
                    +jpg(item)

          when "image"
            figure
              +jpg(obj.media.data)

    .post-main
      .post-info
        +jpg(obj.img)
        h6.post-author=obj.user

      .post-body
        h4: a(href='blog-post.html')=obj.header
        each line in obj.text
          p=line

        .post-footer
          ul.post-meta
            li.object-inline
              span.novi-icon.icon.icon-xxs.icon-black.material-icons-event
              time(datetime=obj.time[0])=obj.time[1]

            li.object-inline
              span.novi-icon.icon.icon-xxs.icon-black.material-icons-loyalty
              ul.list-tags-inline
                each tag in obj.tags
                  li: a(href='#')=tag

