extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Call to action'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 1
      .divider

  //-Join Our Team
  section.section-60.section-md-90.bg-whisper-lighten.novi-background.bg-cover
    .container
      h3 Join #[span.text-thin Our Team]
      .row.row-40.row-fix.justify-content-xl-between
        .col-md-10.col-lg-7
          .inset-lg-right-15.inset-xl-right-0
            p.
              Take a job opportunity of a lifetime – join the team of Tab Account. We cherish active specialists willing to work on projects of any type and complexity. If you are enthusiastic about audit and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.

        .col-md-6.col-lg-4
          a.btn.btn-primary.btn-block(href='team.html') get started now

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 2
      .divider

  //-Choose your plan
  section.section-60.section-md-90.bg-athens-gray.novi-background.bg-cover
    .container
      .row.row-40.row-fix
        .col-md-6.col-lg-8
          .row.row-30.row-fix
            .col-lg-6
              h3
                | Choose
                =' '
                span.text-thin Your Plan

            .col-lg-6
              p.text-gray-05.
                Pick the best plan that meets your business needs. A free trial is available to help you with the decision-making.
        .col-xl-1.d-none.d-xl-inline-block
        .col-md-5.col-lg-4.col-xl-3
          a.btn.btn-primary.btn-block(href='#') Learn more

  ='\n'

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 3
      .divider

  //-Not Sure Which Plan is Right For You?
  section.section-60.section-md-90.bg-accent.novi-background.bg-cover
    .container
      .row.row-fix.justify-content-lg-center.row-30.align-items-lg-center
        .col-lg-8.col-xl-7
          h5 Not Sure Which Plan is Right For You?
          p.text-white(style='max-width: 420px;').
            If you are in doubt of which plan to opt for, contact our managers, and we will try to help you make the right decision.
        .col-lg-4.col-xl-3
          a.btn.btn-lg.btn-lg-bigger.btn-white-outline(href='contact-us.html') Send us a letter
  ='\n'

  section.section-66.novi-background.bg-cover
    .container.text-center
      h3 Call to action 4
      .divider

  //-The Law Firm You Can Trust!
  section.section-60.section-md-100.context-dark.bg-accent.novi-background.bg-cover
    .container.text-center.text-lg-left
      .row.row-fix.justify-content-sm-center.align-items-lg-center.justify-content-lg-start.row-30
        .col-lg-8.text-center
          h3 affordable business advice
        .col-lg-4.col-xl-3
          a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Learn more
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default