extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-icon-box-horizontal
include ../elements/_ui-icon-box

block variables
	- var activeIndex = 6
	- var pageName = 'Features'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title(pageName, 'bg-image-1')

	section.section-66.novi-background.bg-cover.bg-whisper-lighten
		.container.text-center
			h3 Features image
			.divider

	//-Why Choose Us
	section.bg-cape-cod.context-dark.novi-background
		.container
			.row.row-fix.justify-content-sm-center.justify-content-lg-start
				.col-sm-10.col-lg-5.text-left.section-60.section-md-90
					div
						h3
							| our
							=' '
							span.text-thin advantages

						.row.row-30.inset-left-15
							.col-12
								.unit.unit-xs.unit-xs-horizontal
									.unit-left
										span.novi-icon.icon.icon-primary.icon-lg-bigger.thin-icon-briefcase-2
									.unit-body
										h4.text-white Confidentiality
										p.text-white-05 We guarantee the confidentiality of our client data through strict control over our infrastructure, as well as our physical and personal access rights.
							.col-12
								.unit.unit-xs.unit-xs-horizontal
									.unit-left
										span.novi-icon.icon.icon-primary.icon-lg-bigger.thin-icon-support
									.unit-body
										h4.text-white Comprehensive support
										p.text-white-05 As an experienced outsourcing provider, we  offer legal services, audit and internal control, financial administration, and other business support.
							.col-12
								.unit.unit-xs.unit-xs-horizontal
									.unit-left
										span.novi-icon.icon.icon-primary.icon-lg-bigger.thin-icon-time
									.unit-body
										h4.text-white Quality
										p.text-white-05 We are dedicated to providing high quality financial administration services based on extensive experience and knowledge.

				.col-lg-1.d-none.d-lg-inline-block
				.col-lg-6.section-image-aside.section-image-aside-right
					.section-image-aside-img.d-none.d-lg-block.custom-bg-image(style='background-image: url(images/about-2.jpg)')
	='\n'

	section.section-66.novi-background.bg-cover
		.container.text-center
			h3 Features boxed
			.divider

	section.section-transform.section-66.section-md-95.bg-whisper-lighten
		.container
			.row.row-40
				.col-md-6.col-xl-3.height-fill
					+icon-box({
						iconClass: 'fl-bigmug-line-checkmark16',
						header: 'Quick and Easy',
						text: 'We offer lots of ways to quickly pay off your loans.'
					})

				.col-md-6.col-xl-3.height-fill
					+icon-box({
						iconClass: 'fl-bigmug-line-button5',
						header: 'No Penalties',
						text: 'Our clients are free of any prepayment penalties.'
					})

				.col-md-6.col-xl-3.height-fill
					+icon-box({
						iconClass: 'fl-bigmug-line-graphical8',
						header: 'Lower Rates',
						text: 'We have lower rates than most of our competitors.'
					})

				.col-md-6.col-xl-3.height-fill
					+icon-box({
						iconClass: 'fl-bigmug-line-lock64',
						header: 'Secure Process',
						text: 'Complete loans on our site quickly and securely.'
					})
	='\n'

	section.section-66.novi-background.bg-cover
		.container.text-center
			h3 Features parallax
			.divider

	section.section.parallax-container.bg-black.bg-image.context-dark(data-parallax-img='images/bg-image-7.jpg')
		.parallax-content
			.section-60.section-md-90.bg-overlay-cello
				.container
					.row.row-fix
						.col-sm-12.text-center
							h3 What #[span.text-thin We Do]
							p.text-white Tab Account provides unparalleled guidance on audit, review, and other financial assurance #[br.d-none.d-xl-inline-block] and attestations matter in a cost effective way without draining your internal resources.

					.row.row-50
						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-document-edit'],
								header: 'Advisory',
								text: 'From strategy through execution, Tab Account’s Advisory practice helps clients build their next competitive advantage.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-user'],
								header: 'Assurance',
								text: 'Working closely with public and private companies, we help solve complex business issues that our clients face.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-planet'],
								header: 'Tax Services',
								text: 'Our Tax professionals are problem solvers, providing value to their clients through analyzing and interpreting tax policy, advising on intricate tax matters.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-money'],
								header: 'Public Sector Practice',
								text: 'We often help federal, state & local and multilateral development agencies address complex business issues; manage risk; and improve financial measures.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-thumb-up'],
								header: 'Business Management',
								text: 'Our business management services provide companies and the individuals who run them with tools and strategies to improve operations and plan for the future.',
								descStyle: "text-white-05"
							})

						.col-sm-6.col-lg-4
							+icon-box-vertical({
								mod: 'icon-box-vertical-sm',
								icon: ['icon-lg', 'thin-icon-clock'],
								header: 'Financial Planning',
								text: 'We help you build and maintain a desirable position on the market through a combination of financial planning services.',
								descStyle: "text-white-05"
							})


	//- Page Footer
	include ../sections/_section-footer-default