extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Forms'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //-Our Partners
  section.section-60.section-md-top-90.section-md-bottom-100
    .container
      //- Feedback Form
      .row.row-fix
        .col-lg-9.col-xl-7
          h3 Feedback #[span.text-thin Form]
          //- RD Mailform
          form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .row.row-30.row-fix
              .col-md-5
                .form-wrap
                  input#feedback-name.form-input(type="text" name="name" data-constraints="@Required")
                  label.form-label(for="feedback-name") Name
              .col-md-7
                .form-wrap
                  input#feedback-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="feedback-email") Email
              .col-md-5
                .form-wrap
                  input#feedback-date.form-input(type="text" name="date" data-constraints="@Required", data-time-picker='date')
                  label.form-label(for="feedback-date") Date
              .col-md-7
                .form-wrap
                  input#feedback-time.form-input(type="text" name="time" data-constraints="@Required", data-time-picker='time')
                  label.form-label(for="feedback-time") Time Interval
              .col-sm-12
                .form-wrap
                  .textarea-lined-wrap
                    textarea#feedback-message.form-input(name="message" data-constraints="@Required")
                    label.form-label(for="feedback-message") Message

              .col-sm-8
                button(type="submit").btn.btn-primary.btn-block Send

              .col-sm-4
                button(type="reset").btn.btn-silver-outline.btn-block Reset
  ='\n'

  section.section-35.section-md-75.section-xl-100.bg-whisper-lighten
    .container
      .row.row-fix
        .col-lg-9.col-xl-6
          h3 Feedback #[span.text-thin Form 2]
          //- RD Mailform
          form.rd-mailform(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .row.row-30.row-fix
              .col-md-6
                .form-wrap
                  input#feedback-2-first-name.form-input(type="text" name="first-name" data-constraints="@Required")
                  label.form-label(for="feedback-2-first-name") First Name
              .col-md-6
                .form-wrap
                  input#feedback-2-last-name.form-input(type="text" name="last-name" data-constraints="@Required")
                  label.form-label(for="feedback-2-last-name") Last Name
              .col-md-6
                .form-wrap
                  input#feedback-2-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="feedback-2-email") Email
              .col-md-6
                .form-wrap
                  input#feedback-2-phone.form-input(type="text" name="phone" data-constraints="@Numeric @Required")
                  label.form-label(for="feedback-2-phone") Phone
              .col-sm-12
                .form-wrap
                  textarea#feedback-2-message.form-input(name="message" data-constraints="@Required")
                  label.form-label(for="feedback-2-message") Message

              .col-md-6
                button(type="submit").btn.btn-primary-outline.btn-block Send
  ='\n'

  //-Our Clients
  section.section-60.section-md-top-90.section-md-bottom-100.novi-background.bg-cover
    .container
      .row.row-fix.justify-content-sm-center.justify-content-lg-start.row-50
        .col-lg-7.col-xl-6
          h3 Get in #[span.text-thin Touch]
          //- RD Mailform
          form.rd-mailform.form-modern(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .row.row-fix.row-30
              .col-md-6
                .form-wrap
                  input#contact-name.form-input(type="text" name="name" data-constraints="@Required")
                  label.form-label(for="contact-name") Name
              .col-md-6
                .form-wrap
                  input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="contact-email") Email

              .col-sm-12
                .form-wrap
                  .textarea-lined-wrap
                    textarea#contact-message.form-input(name="message" data-constraints="@Required")
                    label.form-label(for="contact-message") Message

              .col-sm-8
                button(type="submit").btn.btn-primary.btn-block Send

              .col-sm-4
                button(type="reset").btn.btn-silver-outline.btn-block Reset

        .col-xl-1.d-none.d-xl-inline-block

        .col-lg-5.col-xl-4
          .row.row-40
            .col-md-10.col-lg-12
              h3 How to #[span.text-thin Find Us]
              p.text-secondary.
                If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit us.

            .col-md-6.col-lg-12
              h4 Headquarters
              address.contact-info
                p.text-uppercase 9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.
                dl.list-terms-inline
                  dt Telephone
                  dd: a.link-secondary(href='tel:#') +1 800 603 6035

                dl.list-terms-inline
                  dt E-mail
                  dd: a.link-primary(href='mailto:#') mail@demolink.org

            .col-md-6.col-lg-12
              h4 Support Centre
              address.contact-info
                p.text-uppercase 9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45
                dl.list-terms-inline
                  dt Telephone
                  dd: a.link-secondary(href='tel:#') +1 800 603 6035

                dl.list-terms-inline
                  dt E-mail
                  dd: a.link-primary(href='mailto:#') mail@demolink.org

  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default