extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-3
include ../elements/_ui-quote-default

block variables
	- var activeIndex = 4
	- var pageName = 'Team Member Profile'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title('Our team', 'bg-image-1')

	//- Julien Miro
	section.section-50.section-md-75.section-xl-100
		.container
			.row.justify-content-md-center.justify-content-lg-start.row-40
				.col-md-6.col-lg-6
					.thumbnail.thumbnail-profile
						.thumbnail-image
							+jpg('profile-1-570x570')
						.thumbnail-caption
							.thumbnail-caption-inner
								ul
									li
										.unit.unit-horizontal.unit-spacing-xs.align-items-center
											.unit-left
												span.novi-icon.icon.icon-xxs.icon-black.material-icons-phone
											.unit-body
												ul.list-info
													li: a.link-black-v2(href='tel:#') + 123 098 890 76 56
									li
										.unit.unit-horizontal.unit-spacing-xs.align-items-center
											.unit-left
												span.novi-icon.icon.icon-xxs.icon-black.material-icons-mail
											.unit-body
												ul.list-info
													li: a.link-black-v2(href='tel:#') + 123 098 890 76 56
								.btn-wrap
									a.btn.btn-small.btn-min-width-0.btn-silver-outline(href='contact-us.html') get in touch

				.col-md-6.col-lg-6.col-xl-5
					.thumbnail-profile-info
						.inset-md-left-50.inset-lg-left-40.inset-xl-left-100

							h4 Tom Brown
							p.text-black-05 Finance Director

							p.text-black-05 I’m Tom and I own and run Tab Account. I am a Chartered Accountant with 23 years of post qualification experience. After qualifying I spent 16 years out in industry.

						.profile-quote
							+quote-default('I’m a qualified specialist with more than 20 years of experience in audit.')

						.inset-md-left-50.inset-lg-left-40.inset-xl-left-100
							p.text-black-05 After qualifying I spent 16 years out in industry as a finance director, with experience across manufacturing, service and distribution sectors, before starting TabAccount. I always aim to bring a positive approach and an independent mind.

							include ../_includes/_progress-list
	='\n'

	//- Portfolio
	section.section-50.section-md-90.section-xl-top-90.section-xl-bottom-100.bg-whisper-lighten
		.container.isotope-wrap
			.row.row-40
				.col-sm-12.text-center
					h3
						| Check out
						=' '
						span.text-thin tom`s works
					.row.justify-content-lg-center.row-40
						.col-lg-8
							p.text-black In my portfolio, there are hundreds of successful projects and dozens of satisfied customers. Some of the companies I’ve been working with became profitable market players with millions of customers . Check out the gallery to learn more.
						.col-12
							//- Isotope Filters
							ul.isotope-filters-responsive
								li: p Choose your category:
								li.block-top-level
									//- Isotope Filters
									button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-1', data-custom-toggle-hide-on-blur='true')
										| Filter
										span.caret

									#isotope-1.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
										ul.list-inline
											li
												a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
											li
												a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Internal Audit
											li
												a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Capital Markets
											li
												a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') Corporate Reporting
											li
												a(data-isotope-filter='Category 4', data-isotope-group='gallery', href='#') Risk Assurance


				.col-sm-12
					.row
						.isotope.isotope-gutter-default(data-isotope-layout='fitRows', data-isotope-group='gallery', data-lightgallery='group')
							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
								+thumbnail-3({img: 'gallery-grid-1-370x278', original: 'gallery-1-1170x781_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
								+thumbnail-3({img: 'gallery-grid-2-370x278', original: 'gallery-2-600x772_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
								+thumbnail-3({img: 'gallery-grid-3-370x278', original: 'gallery-3-1170x780_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
								+thumbnail-3({img: 'gallery-grid-4-370x278', original: 'gallery-4-1170x780_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
								+thumbnail-3({img: 'gallery-grid-5-370x278', original: 'gallery-5-1170x841_original'})

							.col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
								+thumbnail-3({img: 'gallery-grid-6-370x278', original: 'gallery-6-1170x780_original'})
	='\n'

	//- Page Footer
	include ../sections/_section-footer-default