ul.list-progress
  li
    p.animated.fadeIn.text-gray-darker.h7 Tax Consultancy Services
    //- Progress Bar
    .progress-bar-js.font-weight-bold.progress-bar-horizontal.progress-bar-primary(data-value='70', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')
  li
    p.animated.fadeIn.text-gray-darker.h7 Tax Training
    //- Progress Bar
    .progress-bar-js.font-weight-bold.progress-bar-horizontal.progress-bar-old-gold(data-value='54', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')
  li
    p.animated.fadeIn.text-gray-darker.h7 Bookkeeping
    //- Progress Bar
    .progress-bar-js.font-weight-bold.progress-bar-horizontal.progress-bar-bermuda-gray(data-value='87', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')
  li
    p.animated.fadeIn.text-gray-darker.h7 Bank Reconciliation
    //- Progress Bar
    .progress-bar-js.font-weight-bold.progress-bar-horizontal.progress-bar-contessa(data-value='90', data-stroke='4', data-easing='linear', data-counter='true' data-duration='1000', data-trail='100')