extends  ../_skeleton

//- Includes
include ../elements/_ui-comment
include ../elements/_ui-post-preview

block variables
  - var activeIndex = 3
  - var pageName = 'Blog Post'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title('Blog', 'bg-image-1')

  //- Blog post
  section.section-60.section-md-75.section-xl-100.novi-background.bg-cover
    .container
      .row.row-50.row-fix
        .col-lg-8.col-xl-9
          article.post.post-single
            .post-image
              figure
                +jpg('post-1-870x412')
            .post-header
              h4 Choosing the Strategy

            .post-meta
              ul.list-bordered-horizontal
                li
                  dl.list-terms-inline
                    dt Date
                    dd: time(datetime='2018-01-22') January 22, 2018
                li
                  dl.list-terms-inline
                    dt Posted by
                    dd Amelia Lee
                li
                  dl.list-terms-inline
                    dt Category
                    dd Marketing

            .divider-fullwidth.bg-gray-light

            .post-body
              p.text-black Perhaps you are a new entrepreneur about to launch a business or innovation you have been dreaming about for years. Or maybe you have an established business and things are going well, or maybe even too well. In both instances you are going to need capital – the “oxygen” that every business needs to grow and prosper.
              p.text-black So now you are writing your first business plan or touching up the old one in anticipation of raising capital. Capital can only come into a business in one of two ways. Capital that is generated internally through positive cash flow from business operations (e.g., selling stuff), or from external funding sources. The new entrepreneur is limited to only one option – external funding sources. The established business is hopefully generating positive cash flow, but may require additional capital. Which funding option is best? Is it best that the capital come from only one source, or does it make more sense for the capital to come from multiple sources? How do you decide?
              .post-blockquote.inset-md-right-40.inset-xl-left-40.inset-xl-right-120
                blockquote.quote-minimal-bordered
                  p: q Not only should you post interesting content, you should try to blog at least three times a week as a business.
              p.text-black-08 How you decide to capitalize the business is called your capital formation strategy. There are undoubtedly a number of other factors to consider depending on your company’s current circumstances, and, quite importantly, where you want your company to go in the next few years. If you are still hesitating what development strategy to pick for your company.

            .post-footer
              h6.text-medium Share this post:
              ul.list-inline.list-inline-xs
                li: a.novi-icon.icon.icon-xxs-small.link-primary.fa-facebook(href='#')
                li: a.novi-icon.icon.icon-xxs-small.link-primary.fa-twitter(href='#')
                li: a.novi-icon.icon.icon-xxs-small.link-primary.fa-google-plus(href='#')
                li: a.novi-icon.icon.icon-xxs-small.link-primary.fa-pinterest-p(href='#')

        //- Aside
        .col-lg-4.col-xl-3
          .inset-lg-left-15
            .row.row-40

              .col-md-6.col-lg-12
                h6.text-small-16.font-weight-bold.text-uppercase.aside-title Categories
                ul.list-marked-bordered
                  li: a(href='#')
                    span Business
                    span.text-dusty-gray (2)
                  li: a(href='#')
                    span Marketing
                    span.text-dusty-gray (5)
                  li: a(href='#')
                    span Audit
                    span.text-dusty-gray (3)

              .col-md-6.col-lg-12.post-preview-wrap
                h6.text-small-16.font-weight-bold.text-uppercase.aside-title Popular posts

                +post-preview({
                  classes: ['offset-top-15'],
                  small: true,
                  img: 'post-preview-1-70x70',
                  header: 'How is that Strategic Alliance Working Out?',
                  time: ['2018-02-04', 'Feb 4, 2018']
                })

                +post-preview({
                  classes: ['offset-top-15'],
                  small: true,
                  img: 'post-preview-2-70x70',
                  header: 'The Fourth Industrial Revolution',
                  time: ['2018-02-04', 'Feb 4, 2018']
                })

                +post-preview({
                  classes: ['offset-top-15'],
                  small: true,
                  img: 'post-preview-3-70x70',
                  header: 'Attracting & Retaining the Best Employees',
                  time: ['2018-02-04', 'Feb 4, 2018']
                })

              .col-md-6.col-lg-12
                h6.text-small-16.font-weight-bold.text-uppercase.aside-title Tags
                ul.list-tag-blocks.offset-top-22
                  li: a(href='#') Planning
                  li: a(href='#') support
                  li: a(href='#') business
                  li: a(href='#') company
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default