extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Footers'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  section.section-66.novi-background.bg-cover.bg-whisperapprox
    .container.text-center
      h3 Footer default
      .divider

  include ../sections/_section-footer-default

  section.section-66.novi-background.bg-cover.bg-whisperapprox
    .container.text-center
      h3 Footer minimal
      .divider

  //-Footer base
  footer.section-single-footer.novi-background.bg-cover.bg-cape-cod.context-dark
    .container.text-center
      .row.row-fix
        .col-12
          p.rights
            span Tab Account
            span &nbsp;&#169;&nbsp;
            span.copyright-year
            span All Rights Reserved
            br.d-md-none
            a.link-primary-inverse(href='#') Terms of Use
            span and
            a.link-primary-inverse(href='privacy-policy.html') Privacy Policy
            | . Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]
  ='\n'


  section.section-66.novi-background.bg-cover.bg-whisperapprox
    .container.text-center
      h3 Footer subscribe
      .divider

  include ../sections/_section-footer-corporate