extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-3

block variables
  - var activeIndex = 6
  - var pageName = 'Gallery'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  section.section-66.novi-background.bg-cover.bg-whisper-lighten
    .container.text-center
      h3 Gallery grid
      .divider

  section.section-50.section-md-100.novi-background.bg-cover
    .container.isotope-wrap
      .row.text-center.row-40
        .col-sm-12
          //- Isotope Filters
          ul.isotope-filters-responsive
            li: p Choose your category:
            li.block-top-level
              //- Isotope Filters
              button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-1', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              #isotope-1.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
                ul.list-inline
                  li
                    a.active(data-isotope-filter='*', data-isotope-group='gallery1', href='#') All
                  li
                    a(data-isotope-filter='Category 1', data-isotope-group='gallery1', href='#') Internal Audit
                  li
                    a(data-isotope-filter='Category 2', data-isotope-group='gallery1', href='#') Capital Markets
                  li
                    a(data-isotope-filter='Category 3', data-isotope-group='gallery1', href='#') Corporate Reporting
                  li
                    a(data-isotope-filter='Category 4', data-isotope-group='gallery1', href='#') Risk Assurance

        //- Isotope Content
        .col-sm-12
          .row
            .isotope.isotope-gutter-default(data-isotope-layout='fitRows', data-isotope-group='gallery1', data-lightgallery='group')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-1-370x278', original: 'gallery-1-1170x781_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-2-370x278', original: 'gallery-2-600x772_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-grid-3-370x278', original: 'gallery-3-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
                +thumbnail-3({img: 'gallery-grid-4-370x278', original: 'gallery-4-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-5-370x278', original: 'gallery-5-1170x841_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
                +thumbnail-3({img: 'gallery-grid-6-370x278', original: 'gallery-6-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-grid-7-370x278', original: 'gallery-7-1170x781_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-grid-8-370x278', original: 'gallery-8-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-grid-9-370x278', original: 'gallery-9-1170x780_original'})

              .col-12.isotope-item(data-filter='Category 3')
  ='\n'

  section.section-66.novi-background.bg-cover.bg-whisper-lighten
    .container.text-center
      h3 Gallery masonry
      .divider

  section.section-50.section-md-100.novi-background.bg-cover
    .container.isotope-wrap
      .row.text-center.row-40
        .col-sm-12
          //- Isotope Filters
          ul.isotope-filters-responsive
            li: p Choose your category:
            li.block-top-level
              //- Isotope Filters
              button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-2', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              #isotope-2.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
                ul.list-inline
                  li
                    a.active(data-isotope-filter='*', data-isotope-group='gallery2', href='#') All
                  li
                    a(data-isotope-filter='Category 1', data-isotope-group='gallery2', href='#') Internal Audit
                  li
                    a(data-isotope-filter='Category 2', data-isotope-group='gallery2', href='#') Capital Markets
                  li
                    a(data-isotope-filter='Category 3', data-isotope-group='gallery2', href='#') Corporate Reporting
                  li
                    a(data-isotope-filter='Category 4', data-isotope-group='gallery2', href='#') Risk Assurance


        //- Isotope Content
        .col-sm-12
          .row
            .isotope.isotope-gutter-default(data-isotope-layout='masonry', data-isotope-group='gallery2', data-lightgallery='group')
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-masonry-2-370x278', original: 'gallery-3-1170x780_original'})

              .col-12.col-md-6.col-lg-8.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-masonry-1-770x586', original: 'gallery-1-1170x781_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-masonry-3-371x587', original: 'gallery-2-600x772_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
                +thumbnail-3({img: 'gallery-masonry-4-373x279', original: 'gallery-4-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-masonry-5-373x279', original: 'gallery-5-1170x841_original'})

              .col-12.col-md-6.col-lg-8.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-masonry-6-769x384', original: 'gallery-8-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
                +thumbnail-3({img: 'gallery-masonry-7-371x384', original: 'gallery-9-1170x780_original'})

              .col-12.isotope-item(data-filter='Category 3')
  ='\n'

  section.section-66.novi-background.bg-cover.bg-whisper-lighten
    .container.text-center
      h3 Gallery cobbles
      .divider

  section.section-50.section-md-100.novi-background.bg-cover
    .container.isotope-wrap
      .row.text-center.row-40
        .col-sm-12
          //- Isotope Filters
          ul.isotope-filters-responsive
            li: p Choose your category:
            li.block-top-level
              //- Isotope Filters
              button.isotope-filters-toggle.btn.btn-sm.btn-default(data-custom-toggle='#isotope-3', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              #isotope-3.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
                ul.list-inline
                  li
                    a.active(data-isotope-filter='*', data-isotope-group='gallery3', href='#') All
                  li
                    a(data-isotope-filter='Category 1', data-isotope-group='gallery3', href='#') Internal Audit
                  li
                    a(data-isotope-filter='Category 2', data-isotope-group='gallery3', href='#') Capital Markets
                  li
                    a(data-isotope-filter='Category 3', data-isotope-group='gallery3', href='#') Corporate Reporting
                  li
                    a(data-isotope-filter='Category 4', data-isotope-group='gallery3', href='#') Risk Assurance

        //- Isotope Content
        .col-sm-12.offset-top-40
          .isotope(data-isotope-layout='masonry', data-isotope-group='gallery3', data-lightgallery='group')
            .row.no-gutters
              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-cobbles-1-390x601', original: 'gallery-2-600x772_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
                +thumbnail-3({img: 'gallery-cobbles-2-390x301', original: 'gallery-4-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
                +thumbnail-3({img: 'gallery-cobbles-3-390x301', original: 'gallery-3-1170x780_original'})

              .col-12.col-md-6.col-lg-8.isotope-item(data-filter='Category 4')
                +thumbnail-3({img: 'gallery-cobbles-4-780x300', original: 'gallery-5-1170x841_original'})

              .col-12.col-md-6.col-lg-8.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-cobbles-5-780x600', original: 'gallery-1-1170x781_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
                +thumbnail-3({img: 'gallery-cobbles-6-390x300', original: 'gallery-9-1170x780_original'})

              .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 4')
                +thumbnail-3({img: 'gallery-cobbles-7-390x300', original: 'gallery-6-1170x780_original'})

              .col-12.isotope-item(data-filter='Category 3')
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default