extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 1
  - var pageName = 'Headers'
  - var headerPage = true

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-corporate-dark

  //- Page Content
  +page-title(pageName, 'bg-image-1')