extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 6
  - var pageName = 'Headers'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  section.section-66.novi-background.bg-cover.bg-whisper-lighten
    .container.text-center
      h3 Header default
      .divider

  section
    iframe.frame-header(src="header-corporate-dark.html")

  section.section-66.novi-background.bg-cover.bg-whisper-lighten
    .container.text-center
      h3 Header corporate dark
      .divider

  section
    iframe.frame-header(src="header-default.html")

  section.section-66.novi-background.bg-cover.bg-whisper-lighten
    .container.text-center
      h3 Header corporate light
      .divider

  section
    iframe.frame-header(src="header-corporate-light.html")


  //- Page Footer
  include ../sections/_section-footer-default