extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-thumbnail-1
include ../elements/_ui-thumbnail-3
include ../elements/_ui-link-image
include ../elements/_ui-icon-box
include ../elements/_ui-quote-strict

block variables
	- var activeIndex = 0
	- var footerLink = true

block title
	title Home

block page
	//- Page Header
	include ../sections/_section-header-default
	include ../sections/_section-slider

	//Icon box
	section.novi-background.novi-section.bg-cover
		.row.no-gutters.justify-content-sm-center.justify-content-md-start.row-40.row-sm-0
			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-portfolio23'],
					header: 'Internal Audit',
					mod: 'icon-box-top-line icon-box-hover',
					text: 'Audit services are designed to help your business mitigate risk, create new efficiencies and better support strategic objectives.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-equalizer26'],
					header: 'Accounting',
					mod: 'icon-box-top-line icon-box-hover',
					text: 'A range of services designed to provide timely preparation of company accounts, whether it be at the financial year end or on a monthly basis.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-search74'],
					header: 'Audit',
					mod: 'icon-box-top-line icon-box-hover',
					text: 'Audits are verified by sight, confirmation, discussion with management, assessment of internal controls and analytical procedures.'
				})
			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-graphical8'],
					header: 'Legislative Support',
					mod: 'icon-box-hover',
					text: 'To ensure the quality and effectiveness of every business activity, we support our every client by supporting them in all legislative issues.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-clipboard68'],
					header: 'Review',
					mod: 'icon-box-hover',
					text: 'Reviews are less detailed and consist predominantly of an assessment of the company`s books and records.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-favourites5'],
					header: 'Attest Services',
					mod: 'icon-box-hover',
					text: 'Attestation services that we provide, include the process of independent review of the data validity audited by an accountant.'
				})
	='\n'

	//-sect Looking for
	section.section-with-counters.bg-accent.text-center.novi-background.bg-cover
		.container.bg-cape-cod.context-dark.novi-background.bg-cover.section-60.section-lg-90
			h4.text-rolling-stone.font-weight-bold.text-uppercase Looking for
			h3.section-title
				span.text-thin a First-Class
				=' '
				| auditor?
			p.text-white With a lot of experience in audit, hiring us will become a proper solution for your business!

			.row.row-fix.justify-content-center.list-md-dashed.row-40
				.col-md-3
					.h1.small.counter-bold.counter 850
					.counter-title.font-weight-bold.text-white.text-uppercase Trusted Clients
				.col-md-3
					.h1.small.counter-bold.counter 18
					.counter-title.font-weight-bold.text-white.text-uppercase Awards
				.col-md-3
					.h1.small.counter-bold.counter 21
					.counter-title.font-weight-bold.text-white.text-uppercase Years of Experience
				.col-md-3
					.h1.small.counter-bold.counter 16
					.counter-title.font-weight-bold.text-white.text-uppercase Experts

			.button-block.inset-sm-left-60.inset-sm-right-60
				.d-md-flex.justify-content-md-center.align-items-md-center
					a(href="contact-us.html").btn.btn-rect.btn-primary.d-block.d-md-inline-block Contact us
					span.font-italic.text-white.inset-md-left-20.inset-md-right-20.d-block.d-md-inline-block.text-big-18 or
					a(href="services.html" style="min-width:236px;").btn.btn-rect.btn-white-outline.d-block.d-md-inline-block See All services

	='\n'

	//- our team
	section.section-66.section-md-top-100.section-md-bottom-75.novi-background.bg-cover
		.container
			h3.text-center our #[span.text-thin team]
			.row.row-fix.justify-content-sm-center
				.col-md-8.col-xl-12
					//- Owl Carousel
					.owl-carousel.owl-carousel-center.owl-nav-modern.owl-style-minimal.owl-style-minimal-inverse.text-center(data-items='1', data-md-items='2', data-xl-items='3', data-stage-padding='15', data-loop='false', data-margin='15', data-mouse-drag="false", data-nav="true", data-dots="true")
						.thumbnail-variant-5.text-center
							.thumbnail-variant-5-img-wrap
								img.img-circle(src="images/team-1-151x151.jpg" width="129" height="129" alt="")
							h4 John Doe
							.text-dusty-gray Managing Director
							.divider-fullwidth.bg-porcelain
							.link-group-wrap
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.material-icons-local_phone
									a.link-black(href='tel:#') +1 (609) 567–8974
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.fa-envelope-o
									a.link-black(href='mailto:#') info@demolink.org

						.thumbnail-variant-5.text-center
							.thumbnail-variant-5-img-wrap
								img.img-circle(src="images/team-2-151x151.jpg" width="129" height="129" alt="")
							h4 Amanda Smith
							.text-dusty-gray Accountant
							.divider-fullwidth.bg-porcelain
							.link-group-wrap
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.material-icons-local_phone
									a.link-black(href='tel:#') +1 (409) 987–5874
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.fa-envelope-o
									a.link-black(href='mailto:#') info@demolink.org

						.thumbnail-variant-5.text-center
							.thumbnail-variant-5-img-wrap
								img.img-circle(src="images/team-3-151x151.jpg" width="129" height="129" alt="")
							h4 David Nicholson
							.text-dusty-gray Audit Manager
							.divider-fullwidth.bg-porcelain
							.link-group-wrap
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.material-icons-local_phone
									a.link-black(href='tel:#') +1 (609) 567–8974
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.fa-envelope-o
									a.link-black(href='mailto:#') info@demolink.org

						.thumbnail-variant-5.text-center
							.thumbnail-variant-5-img-wrap
								img.img-circle(src="images/team-1-151x151.jpg" width="129" height="129" alt="")
							h4 John Doe
							.text-dusty-gray Managing Director
							.divider-fullwidth.bg-porcelain
							.link-group-wrap
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.material-icons-local_phone
									a.link-black(href='tel:#') +1 (609) 567–8974
								.link-group
									span.novi-icon.icon.icon-xxs.icon-primary.fa-envelope-o
									a.link-black(href='mailto:#') info@demolink.org

			.row.row-fix.justify-content-sm-center
				.col-md-10.col-lg-10.col-xl-12
					.panel.card-lg.bg-accent.bg-default-outline-btn.text-center.novi-background.bg-cover
						h3.text-white Request #[span.text-thin a callback]
						form.rd-mailform.group.group-bottom(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
							.group-item.form-wrap
								input#index-request-name.form-input(type="text" name="name" data-constraints="@Required")
								label.form-label(for="index-request-name") First Name
							.group-item.form-wrap
								input#index-request-phone.form-input(type="text" name="phone" data-constraints="@Numeric @Required")
								label.form-label(for="index-request-phone") Phone Number
							.group-item.form-wrap
								//Select 2
								select.form-input.select-filter(data-minimum-results-for-search="Infinity", data-constraints="@Required", name="discuss")
									option(value="1") I Would Like to Discuss
									option(value="2") I Wouldn't Like to Discuss
							.group-item.group-item-sm
								button.btn.btn-block.btn-white-outline(type="submit") submit

	//- successful cases
	section.bg-cape-cod.context-dark.novi-background
		.container
			.row.row-fix.justify-content-sm-center.justify-content-lg-start
				.col-sm-10.col-lg-6.text-left.section-60.section-md-90
					div
						h3.text-center.text-lg-left
							| successful
							=' '
							span.text-thin cases

						.carousel-testimonials-home
							.inset-xl-right-50
							.owl-carousel(data-nav="false", data-loop="false", data-dots="true", data-items="1")
								.item.inset-left-10.inset-right-10
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Amelia Lee
													.text-dusty-gray Sales, demolink.org
												.col-sm-6.text-center
													.quote-desc.row.row-10
														.col-6
															.quote-desc-text.text-fuel-yellow -20%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +17%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-1-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q I would not hesitate even one bit to work with them for my future tax and accounting needs.

										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

								.item.inset-left-10.inset-right-10
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Mark Wilson
													.text-dusty-gray CEO “WilsonCompany”
												.col-sm-6.text-center
													.quote-desc.row.row-10
														.col-6
															.quote-desc-text.text-fuel-yellow -30%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +22%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-2-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q I’ve never known another auditor more prepared or focused.  You havethe ability to dissect a case much like a skilled surgeon, with absolute calm.  Nothing seems to rattle you or distract from the goal on a case.

										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

								.item.inset-left-10.inset-right-10
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Jill Miller
													.text-dusty-gray Artist
												.col-sm-6.text-center
													.quote-desc.row.row-10
														.col-6
															.quote-desc-text.text-fuel-yellow -29%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +19%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-3-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q I am happy that I chose Tab Account for my US tax returns and would recommend it to everyone.
										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

								.item.inset-left-10.inset-right-10
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Christopher Taylor
													.text-dusty-gray Financial Consultant
												.col-sm-6.text-center
													.quote-desc.row.row-10
														.col-6
															.quote-desc-text.text-fuel-yellow -28%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +21%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-4-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q Over the last 6 years I have found their services to be reliable and their advice to be practical and clear.
										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

				.col-lg-6.section-image-aside.section-image-aside-right
					.section-image-aside-img.d-none.d-lg-block.custom-bg-image(style='background-image: url(images/home-4-946x689.jpg)')

	='\n'

	//- Latest News
	section.section-50.section-md-90.section-md-bottom-100.novi-background.bg-cover
		.container.text-center
			h3 Latest #[span.text-thin News]

			.row.justify-content-sm-center.row-40
				.col-sm-8.col-md-7.col-lg-4
					//- Post Boxed
					.post-boxed.d-xl-inline-block
						.post-boxed-img-wrap
							a(href="blog-post.html")
								+jpg("home-1-322x219")
						.post-boxed-caption
							.post-boxed-title.font-weight-bold
								a(href="blog-post.html") Presentations that Impress Your Audit Committee

							//- List Inline
							ul.list-inline.list-inline-dashed.text-uppercase
								li JUNE 14, 2018
								li
									span by #[a.text-primary(href="#") Sam Kromstain]

				.col-sm-8.col-md-7.col-lg-4
					//- Post Boxed
					.post-boxed.d-xl-inline-block
						.post-boxed-img-wrap
							a(href="blog-post.html")
								+jpg("home-2-322x219")
						.post-boxed-caption
							.post-boxed-title.font-weight-bold
								a(href="blog-post.html") Top 3 Concerns When Choosing a Cloud Vendor

							//- List Inline
							ul.list-inline.list-inline-dashed.text-uppercase
								li JUNE 20, 2018
								li
									span by #[a.text-primary(href="#") Vanessa Ives]

				.col-sm-8.col-md-7.col-lg-4
					//- Post Boxed
					.post-boxed.d-xl-inline-block
						.post-boxed-img-wrap
							a(href="blog-post.html")
								+jpg("home-3-322x219")
						.post-boxed-caption
							.post-boxed-title.font-weight-bold
								a(href="blog-post.html") Audit Data Analytics: Why Auditors Should Care


							//- List Inline
							ul.list-inline.list-inline-dashed.text-uppercase
								li JUNE 23, 2018
								li
									span by #[a.text-primary(href="#") Amanda Smith]

	='\n'


	//- Page Footer
	include ../sections/_section-footer-default