extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box

block variables
	- var activeIndex = 6
	- var pageName = 'Services page'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title(pageName, 'bg-image-1')

	section.novi-background.novi-section.bg-cover
		.row.no-gutters.justify-content-sm-center.justify-content-md-start.row-40.row-sm-0
			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-portfolio23'],
					header: 'Internal Audit',
					mod: 'icon-box-top-line icon-box-hover',
					text: 'Audit services are designed to help your business mitigate risk, create new efficiencies and better support strategic objectives.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-equalizer26'],
					header: 'Accounting',
					mod: 'icon-box-top-line icon-box-hover',
					text: 'A range of services designed to provide timely preparation of company accounts, whether it be at the financial year end or on a monthly basis.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-search74'],
					header: 'Audit',
					mod: 'icon-box-top-line icon-box-hover',
					text: 'Audits are verified by sight, confirmation, discussion with management, assessment of internal controls and analytical procedures.'
				})
			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-graphical8'],
					header: 'Legislative Support',
					mod: 'icon-box-hover',
					text: 'To ensure the quality and effectiveness of every business activity, we support our every client by supporting them in all legislative issues.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-clipboard68'],
					header: 'Review',
					mod: 'icon-box-hover',
					text: 'Reviews are less detailed and consist predominantly of an assessment of the company`s books and records.'
				})

			.col-sm-10.col-md-4.height-fill
				+icon-box({
					iconClass: ['fl-bigmug-line-favourites5'],
					header: 'Attest Services',
					mod: 'icon-box-hover',
					text: 'Attestation services that we provide, include the process of independent review of the data validity audited by an accountant.'
				})
	='\n'

	//-Services
	section.section-60.section-md-90.novi-background.bg-cover.bg-whisper-lighten
		.container
			.row.row-fix.row-40
				.col-12
					h3.text-center Services #[span.text-thin Overview]
					p.text-center Tab Account offers a variety of services covering almost every need of modern #[br.d-none.d-xl-inline-block] businesses. Learn more about our services below.
				.col-12
					.row.justify-content-sm-center.text-center.text-lg-left.row-60
						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-6-370x220')

								h6.thumbnail-title: a(href="single-service.html") Audit & Accounting

								p.text-black-05 Audit & accounting services assure your company’s compliance with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-7-370x220')

								h6.thumbnail-title: a(href="single-service.html") Tax Planning

								p.text-black-05 Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...

						.col-md-10.col-lg-4
							.thumbnail-with-img
								+jpg('services-8-370x220')

								h6.thumbnail-title: a(href="single-service.html") Consulting & Advisory

								p.text-black-05 Consulting & advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Tab Account can offer to its clients (including business advisory and consulting).

	='\n'

	//-Explore Our Corporate Culture
	section.section-66.section-md-90.novi-background.bg-cover
		.container
			h3 Our services
			p.text-gray-05(style='max-width: 600px;') At Tab Account, we provide career solutions to people interested in conducting broad-scale research and making efficient breakthroughs based on them. If you are one of them, learn more about the main points of our corporate culture below.

			ul.row.row-30.row-flex.block-service-wrap
				li.col-md-6
					+block-service({
						img: 'careers-1-1171x519',
						header: 'The Main Corporate Values of Tab Account',
						text: [
							"The corporate culture of Tab Account is based on openness, respect and equality regardless of the religion, sex, race, age, etc. These core values help us build a friendly working environment, where all the employees can feel comfortable and significant. We believe that the more comfort you get, the better results you’ll produce."
						]
					})

				li.col-md-6
					+block-service({
						img: 'careers-2-1171x519',
						header: 'Diversity of Learning Opportunities',
						text: [
							"When you join our team, you’ll dive into a knowledge-sharing environment. We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in conferences as both a listener and speaker."
						]
					})

				li.col-md-6
					+block-service({
						img: 'careers-3-1171x519',
						header: 'Top Qualities We Are Looking For',
						text: [
							"Searching for candidates, our HR managers prioritize a number of qualities. To get a job at Tab Account, you must be a self-motivated person who isn’t afraid of challenges and is ready to work overtime. As we work with multiple innovative technologies, you must be a quick learner. Attention to detail is also important for us, as it is a solid prerequisite for fewer bugs."
						]
					})

				li.col-md-6
					+block-service({
						img: 'careers-4-1171x519',
						header: 'Check Interview Stages at Tab Account',
						text: [
							"Whenever you decide to send us your CV, be ready for a job interview that goes in several stages. At the first stage, we’d like to learn about your experience, interests, and expectations. At the end of the interview, you will need to undergo a test allowing us to evaluate your skills."
						]
					})
	='\n'


	//- Page Footer
	include ../sections/_section-footer-default