extends  ../_skeleton

//- Includes
include ../elements/_ui-link-image

block variables
  - var activeIndex = 6
  - var pageName = 'Subscribe form'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //-Newsletter
  section.section-40.section-md-100.novi-background.bg-cover
    .container
      .row.justify-content-center
        .col-md-6.col-lg-5.col-xl-4
          h3 Newsletter
          //- RD Mailform
          form.rd-mailform.form-modern.offset-top-22(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
            .form-wrap
              input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="contact-email") Email
            button(type="submit").btn.btn-primary.btn-block Subscribe
  ='\n'

  +parallax({
    img: 'bg-image-3',
    addClass: 'bg-black'
  })
    .section-40.section-md-75.overlay-9
      .container
        .row.justify-content-center
          .col-md-8.col-lg-6.text-center
            h3 Newsletter
            .divider.divider-1
            //- RD Mailform
            form.rd-mailform.rd-mailform-2.form-classic.form-inline(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
              .form-wrap
                input#contact-email-1.form-input(type="email" name="email" data-constraints="@Email @Required")
                label.form-label(for="contact-email-1") Enter Your E-mail
              button(type="submit" aria-label='Subscribe').btn.btn-icon-only.btn-primary
                span.novi-icon.icon.icon-xs.icon-white.fa-envelope-o

  //-Feedback Form 2
  section.section-35.section-md-75.section-xl-100.novi-background.bg-cover.bg-whisper-lighten
    .container
      .row.justify-content-center
        .col-md-7.col-lg-6.col-xl-5.text-center
          h3 Newsletter
          //- RD Mailform
          form.rd-mailform.rd-mailform-1(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
            .form-wrap
              input#feedback-3-email.form-input(type="email" name="email" data-constraints="@Email @Required")
              label.form-label(for="feedback-3-email") Email
            button(type="submit").btn.btn-primary-outline Send
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default