extends  ../_skeleton

//- Includes
include ../elements/_ui-quote-bordered
include ../elements/_ui-quote-vertical

block variables
	- var activeIndex = 6
	- var pageName = 'Testimonials'

block title
	title=pageName

block page
	//- Page Header
	include ../sections/_section-header-default

	//- Page Content
	+page-title(pageName, 'bg-image-1')

	section.section-66.novi-background.bg-cover.bg-whisper-lighten
		.container.text-center
			h3 Testimonials carousel
			.divider

	section.bg-cape-cod.context-dark.novi-background
		.container
			.row.row-fix.justify-content-sm-center.justify-content-lg-start
				.col-sm-10.col-lg-6.text-left.section-60.section-md-90
					div
						h3.text-center.text-lg-left
							| successful
							=' '
							span.text-thin cases

						.carousel-testimonials-home
							.inset-xl-right-50
							.owl-carousel(data-nav="false", data-loop="false", data-dots="true", data-items="1")
								.item.inset-left-10.inset-right-10.inset-
									.inset-xl-right-85
										blockquote.quote-left
											.row.align-items-sm-end.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Amelia Lee
													.text-dusty-gray Sales, demolink.org
												.col-sm-6.text-center
													.quote-desc.row.d-flex
														.col-6
															.quote-desc-text.text-fuel-yellow -20%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +17%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-1-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q I would not hesitate even one bit to work with them for my future tax and accounting needs.

										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

								.item.inset-left-10.inset-right-10.inset-
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Mark Wilson
													.text-dusty-gray CEO “WilsonCompany”
												.col-sm-6.text-center
													.quote-desc.row.d-flex
														.col-6
															.quote-desc-text.text-fuel-yellow -30%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +22%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-2-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q I’ve never known another auditor more prepared or focused.  You havethe ability to dissect a case much like a skilled surgeon, with absolute calm.  Nothing seems to rattle you or distract from the goal on a case.

										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

								.item.inset-left-10.inset-right-10.inset-
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Jill Miller
													.text-dusty-gray Artist
												.col-sm-6.text-center
													.quote-desc.row.d-flex
														.col-6
															.quote-desc-text.text-fuel-yellow -29%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +19%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-3-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q I am happy that I chose Tab Account for my US tax returns and would recommend it to everyone.
										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

								.item.inset-left-10.inset-right-10.inset-
									.inset-xl-right-85
										blockquote.quote-left
											.row.row-20.row-fix
												.col-sm-6
													.quote-name
														cite Christopher Taylor
													.text-dusty-gray Financial Consultant
												.col-sm-6.text-center
													.quote-desc.row.d-flex
														.col-6
															.quote-desc-text.text-fuel-yellow -28%
															.text-medium.text-dusty-gray.text-uppercase Expenses
														.col-6
															.quote-desc-text.text-primary +21%
															.text-medium.text-dusty-gray.text-uppercase Profit
											.divider-fullwidth
											.quote-body.unit.unit-md-horizontal.unit-spacing-xs
												.unit-left
													+jpg('testimonials-4-70x70')
												.unit-body
													.novi-icon.quote-image.icon.fa.fa-quote-right
													q Over the last 6 years I have found their services to be reliable and their advice to be practical and clear.
										.button-block.text-center.text-md-left
											a(href="#").btn.btn-primary read more

				.col-lg-6.section-image-aside.section-image-aside-right
					.section-image-aside-img.d-none.d-lg-block.custom-bg-image(style='background-image: url(images/home-4-946x689.jpg)')

	='\n'

	section.section-66.novi-background.bg-cover.bg-whisper-lighten
		.container.text-center
			h3 Testimonials boxed
			.divider

	section.section-75.section-lg-100.text-left.bg-white
		.container
			include ../sections/_section-testimonials

	section.section-66.novi-background.bg-cover.bg-whisper-lighten
		.container.text-center
			h3 Testimonials parallax
			.divider

	//-Swiper
	section.section.parallax-container.bg-gray-base.bg-image.context-dark(data-parallax-img='images/clients-testimonials-parallax-2.jpg')
		.parallax-content
			.section-50.section-md-75.section-xl-top-100.section-xl-bottom-120
				.container.text-center
					.row.row-fix
						.col-sm-12
							h3
								| What
								=' '
								span.text-thin Clients Say?
					.row.justify-content-sm-center.justify-content-md-start.row-60
						.col-md-4
							+quote-vertical({
								mod: 'quote-vertical-inverse',
								img: 'clients-testimonials-7-113x113.jpg',
								text: "Beyond a shadow of doubt, they are the Best Tax Consultants I have ever come across.",
								cite: "Axel Merphy",
								caption: 'Client'
							})

						.col-md-4
							+quote-vertical({
								mod: 'quote-vertical-inverse',
								img: 'clients-testimonials-8-113x113.jpg',
								text: "I would not hesitate even one bit to work with them for my future tax and accounting needs.",
								cite: "Amelia Lee",
								caption: 'Client'
							})

						.col-md-4
							+quote-vertical({
								mod: 'quote-vertical-inverse',
								img: 'clients-testimonials-9-113x113.jpg',
								text: "The Tax Experts at TaxExpert are thorough professionals and always go that extra mile to help their clients.",
								cite: "Jack McGee",
								caption: 'Client'
							})
	='\n'


	//- Page Footer
	include ../sections/_section-footer-default