/*
* @subsection Google Map
* @description Describes style declarations for RD Google Map extension
* @version     1.0.0
*/

$map-height: 200px;
$map-xs-height: 250px;
$map-sm-height: 400px;
$map-lg-height: 450px;
$map-xl-height: 532px;

.google-map-markers{
  display: none;
}

.google-map-container {
  width: 100%;
}

.google-map {
  height: $map-height;
  width: 100%;

  @include media-breakpoint-up(sm) {
    height: $map-xs-height;
  }

  @include media-breakpoint-up(md) {
    height: $map-sm-height;
  }

  @include media-breakpoint-up(xl) {
    height: $map-lg-height;
  }

  @include media-breakpoint-up(xxl) {
    height: $map-xl-height;
  }
}

.google-map-container-1 {
  .google-map {
    @include media-breakpoint-up(md) {
      height: 405px;
    }
  }
}

* + .google-map-container-1 {
  margin-top: 20px;
}


.gm-style-iw > div > div {
  padding-right: 10px;
  font-size: 13px;
}