//- Quote default
mixin quote-default(text)
  //-Quote default
  blockquote.quote-default
    .quote-open.novi-icon.fa.fa-quote-left

    .quote-body
      p: q=text

    .quote-close.novi-icon.fa.fa-quote-right
