//- Text placeholder
mixin text-placeholder(className)
  .inset-lg-right-40.inset-xl-right-70(class=className)
    p When it comes to external auditing, there are two different categories of auditors. First, there is an external or statutory auditor who works independently to evaluate financial reporting, and then there are external cost auditors who...