//- Quote vertical
mixin quote-vertical(obj)
  //- Quote vertical
  blockquote.quote-vertical(class=obj.mod)
    .quote-body
      .quote-open
        .quote-icon.novi-icon.fa.fa-quote-left
      p.quote-text: q=obj.text

    .quote-meta
      figure.quote-image
        +img(obj.img)
      cite=obj.cite
      p.caption=obj.caption
