//- Thumbnail 3
//- Original image naming format: pagename-{X}-1200x600_original.jpg
mixin thumbnail-3(obj)
  //-Thumbnail variant 3
  .thumbnail.thumbnail-variant-3(class=obj.mod)
    a.link.link-external(href='#')
      span.novi-icon.icon.icon-sm.fa.fa-link
    a.img-link(href='images/' + obj.original + '.jpg', data-lightgallery='item')
      +jpg(obj.img, "img-item")
    .caption
      .link.link-original
