//- Post minimal
mixin post-minimal(obj)
  //- Post minimal
  article.post-minimal
    .post-left
      figure.post-image
        +jpg(obj.img)

    .post-body
      h6: a(href='blog-post.html')=obj.header
      .post-meta
        .object-inline-baseline
          span.icon.icon-xxs.icon-primary.material-icons-event.text-middle
          time(datetime=obj.time[0])=obj.time[1]
      p=obj.text

