//- Icon box vertical
mixin icon-box-vertical(obj)
  //- Icon box vertical
  article.icon-box-vertical(class=obj.mod)
    .unit.flex-column.unit-spacing-sm
      .unit-left
        span.novi-icon.icon.icon-primary(class=obj.icon)
      .unit-body
        h4=obj.header
        p(class= obj.descStyle)=obj.text
  ='\n'