//
// Custom typography
// --------------------------------------------------

// Page header
// -------------------------

.page-header {
}

// Fonts
// -------------------------

.font-default {
  font-family: $font-family-base;
}

.font-accent {
  font-family: $font-family-sec;
}

@mixin font-size-default {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.font-size-default {
  @include font-size-default;
}

// Basic Typography
// -------------------------

#{headings()} {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-color;

  > span {
    display: inline-block;
    font-size: inherit;
  }

  a {
    display: inline;
    font: inherit;
    letter-spacing: inherit;
    transition: .33s all ease;
    &, &:active, &:focus {
      color: inherit;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  > * {
    margin-right: .25em;
  }
}

h1,
.h1 {
  //{0 - 768px} <= 40px
  //{768px - 992px} <= 62px
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -.025em;

  @include media-breakpoint-up(md) {
    font-size: 40px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 70px;
  }

  @include media-breakpoint-up(xl) {
    line-height: $h1-line-height;
    font-size: $h1-font-size;

    &.small{
      font-size: 72px;
      line-height: 1.2;
    }
  }
}

h2,
.h2 {
  //{0 - 768px} <= 36px
  //{768px - 992px} <= 52px
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: -.025em;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 32px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 40px;
  }

  @include media-breakpoint-up(xl) {
    line-height: $h2-line-height;
    font-size: $h2-font-size;
  }
}

h3.text-style-lighter,
.h3.text-style-lighter {
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: 50px;
  }
}

h3,
.h3 {
  //{0 - 768px} <= 32px
  //{768px - 992px} <= 44px
  font-size: 24px;
  line-height: 1.35;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 26px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }

  @include media-breakpoint-up(xl) {
    line-height: 1.2;
    font-size: $h3-font-size;
  }
}

h4,
.h4 {
  //{0 - 768px} <= 26px
  //{768px - 992px} <= 36px
  font-size: 20px;
  line-height: 1.35;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }

  @include media-breakpoint-up(xl) {
    line-height: $h4-line-height;
    font-size: $h4-font-size;
  }
}

h5,
.h5 {
  //{0 - 768px} <= 22px
  //{768px - 992px} <= 28px
  font-size: 18px;
  line-height: 1.35;

  @include media-breakpoint-up(xl) {
    line-height: 1.2;
    font-size: $h5-font-size;
  }
}

h6,
.h6 {
  //{0 - 768px} <= 18px
  //{768px - 992px} <= 22px
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  @include media-breakpoint-up(sm) {
    line-height: $h6-line-height;
    font-size: $h6-font-size;
  }
}

.h7 {
  font: 700 14px/24px $headings-font-family;
  color: $tundora;
}

%text-bigger {
  font-size: 18px;
  font-weight: 300;
  line-height: (36 / 25);

  @include media-breakpoint-up(md) {
    font-size: 20px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 25px;
  }
}

.text-bigger {
  @extend %text-bigger;
}

.text-large {
  font: 700 38px/42px $font-family-base;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

.text-extra-large-bordered {
  display: inline-block;
  padding: .07em 0.12em;
  font: 700 120px $font-family-base;
  line-height: .8;
  border: .075em solid;
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: 220px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 272px;
  }
}

.big {
  letter-spacing: .025em;
}

.text-big {
  font-size: 17px;
}

.text-big-22 {
  font-size: 22px;
}

.text-big-18 {
  font-size: 18px;
}

.text-big-19 {
  font-size: 19px;
}

.text-small {
  font-size: 12px;
}

.text-small-16 {
  font-size: 16px;
}

.h3-variant-2 {
  font-size: 36px;
  line-height: 1.2;
}

@include media-breakpoint-up(sm) {
  .big {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
  }
}

@include media-breakpoint-up(md) {
  .big {
    font-size: $font-size-lg;
    line-height: floor(($font-size-lg * $line-height-large));
  }
}

small,
.small {
  font-size: $font-size-sm;
  line-height: floor(($font-size-sm * $line-height-small));
}

code {
  padding: 5px 7px;
  font-size: 75%;
  color: $brand-danger;
  background-color: $gray-200;
  border-radius: 2px;
}

em {
  font-family: $font-family-serif;
  font-size: inherit;
  font-style: italic;
  font-weight: 700;
  line-height: inherit;
  color: $gunsmoke;
}

mark,
.mark {
  color: $white;
  background-color: $primary;
  padding: .2em .3em;
}

.text-style-1 {
  font-family: $font-family-base;
  color: $dusty-gray;
}

.text-style-2 {
  font-family: $font-family-serif;
  font-style: italic;
  font-weight: 700;
}

// Misc
// -------------------------

// Addresses
address {
  margin-top: 0;
  margin-bottom: 0;
}

// Backgrounds
// -------------------------

// Contextual backgrounds
//
%context-dark {
  color: rgba($white, .5);

  #{headings()} {
    color: $white;
  }

  a {
    &, &:active, &:focus {
      color: $white;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .big,
  .text-bigger,
  .text-extra-large-bordered {
    color: $white;
  }

  .countdown-wrap span,
  .countdown-wrap div > h4 {
    color: $white;
  }
}

.context-dark {
  @extend %context-dark;
}

// Colors
.bg-black {
  @extend %context-dark;
  @include bg-variant-custom(#{$black});
}

.bg-gray-darker {
  @extend %context-dark;
  @include bg-variant-custom(#{$gray-900});

  .countdown-wrap div > h4 {
    color: rgba($white, .2);
  }
}

.bg-gray-dark {
  @extend %context-dark;
  @include bg-variant-custom(#{$gray-800});
}

.bg-mine-shaft {
  @extend %context-dark;
  @include bg-variant-custom(#{$mine-shaft});
}

.bg-cod-gray {
  @extend %context-dark;
  @include bg-variant-custom(#{$cod-gray});
}

.bg-gray {
  @include bg-variant-custom(#{$gray-500});
}

.bg-accent {
  @extend %context-dark;
  @include bg-variant-custom(#{$primary});

  &.bg-default-outline-btn {
    .btn-white-outline:hover {
      background: $cape-cod;
      border-color: $cape-cod;
    }
  }
}

.bg-white {
  background-color: $white;
}

.bg-porcelain {
  @include bg-variant-custom(#{$porcelain});
}

.bg-gray-light {
  @include bg-variant-custom(#{$gray-300});
}

.bg-gray-lighter {
  @include bg-variant-custom(#{$gray-200});
}

.bg-whisper {
  @include bg-variant-custom(#{$whisper});
}

.bg-whisper-lighten {
  @include bg-variant-custom(#{$whisper-lighten});
}

.bg-iron {
  @include bg-variant-custom(#{$iron});
}

.bg-cello {
  @extend %context-dark;
  @include bg-variant-custom(#{$cello});
}

.bg-cloud-burst {
  @include bg-variant-custom(#{$cloud-burst});
}

.bg-abbey {
  @include bg-variant-custom(#{$abbey});
}

.bg-abbey-04 {
  @include bg-variant-custom(#{rgba($abbey, .4)});
}

.bg-athens-lighten {
  @include bg-variant-custom(#{$athens-lighten});
}

.bg-cape-cod {
  @include bg-variant-custom(#{$cape-cod});
}

.bg-athens-gray {
  @include bg-variant-custom(#{$athens-gray});

  &:not([style*="background-"]) + &:not([style*="background-"]) {
    padding-top: 0;
  }
}

.page .bg-default-02 {
  @include bg-variant-custom(#{rgba($white, .2)});
}

.page .bg-cloud-burst a.text-bismark {
  &:hover, &:focus {
    color: $primary;
  }
}

.bg-overlay-lighten-inverse-md {
  background: rgba($white, .5);

  @include media-breakpoint-up(lg) {
    background: transparent;
  }
}

// Bg image
.bg-image {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.bg-image-centered {
  -webkit-background-size: auto;
  background-size: auto;
}

.bg-fixed {
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.bg-image-1 {
  -webkit-background-size: auto 100%;
  background-size: auto 100%;

  @include media-breakpoint-down(sm) {
    background-image: none !important;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-wasip {
  background: #f2f3f8;
  fill: #f2f3f8;
}

.bg-colin {
  background: #384142;
  fill: #384142;
}

// Colors
// -------------------------

// Contextual colors
//

.page {
  @include text-emphasis-variant('.text-primary', $primary);
  @include text-emphasis-variant('.text-secondary', $secondary);
  @include text-emphasis-variant('.text-red-orange', $red-orange);
  @include text-emphasis-variant('.text-black', $black);
  @include text-emphasis-variant('.text-silver', $silver);
  @include text-emphasis-variant('.text-dark', $gray-800);
  @include text-emphasis-variant('.text-gray', $gray-500);
  @include text-emphasis-variant('.text-gray-light', $gray-300);
  @include text-emphasis-variant('.text-dusty-gray', $dusty-gray);
  @include text-emphasis-variant('.text-white', $white);
  @include text-emphasis-variant('.text-white-05', rgba($white, .5));
  @include text-emphasis-variant('.text-white-03', rgba($white, .3));
  @include text-emphasis-variant('.text-white-08', rgba($white, .8));
  @include text-emphasis-variant('.text-tundora', $tundora);
  @include text-emphasis-variant('.text-black-05', rgba($black, .5));
  @include text-emphasis-variant('.text-bismark', $bismark);
  @include text-emphasis-variant('.text-black-08', rgba($black, .8));
  @include text-emphasis-variant('.text-gray-darker', $gray-900);
  @include text-emphasis-variant('.text-abbey', $abbey);
  @include text-emphasis-variant('.text-rolling-stone', $rolling-stone);
  @include text-emphasis-variant('.text-fuel-yellow', $fuel-yellow);

}

.hidden {
  display: none;
}
/*
*
* home variant 2
*/

.bg-transform{
  .bg-transform-inner{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .shell{
    z-index: 1;
    position: relative;
  }
}

.video-cover{
  position: relative;
  display: flex;
  min-height: 320px;
  padding-bottom: 44.7%;

  box-shadow: 0 0 24px 0 rgba(0,0,0,.13);

  > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.col-lg-divider{
  position: relative;

  &:before{
    position: absolute;
    top: 0;
    bottom: 0;

    left: -40px;

    @include media-breakpoint-up(xl) {
      left: -10px;
    }

    width: 1px;
    background-color: #444e4f;

    @include media-breakpoint-up(lg) {
      content: '';
    }
  }
}

.bg-transform-first{
  z-index: auto;
}


.text-extra-big{
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.05em;

  @include media-breakpoint-up(lg) {
    font-size: 72px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 100px;
  }
  line-height: 0.8;
}

.text-extra-big + h2 { margin-top: 30px; }

.home-variant-2 {
  .select2-container--bootstrap .select2-selection {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $primary;
    border-radius: 0;
    color: $primary;
    //font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0;
    outline: 0;
  }
  .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-color: $primary;
  }
  .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
    color: $primary;
  }


  .list-index {
    counter-reset: li;

    > li {
      .list-index-counter {
        color: $primary;
        font-size: 36px;
        line-height: 1;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-family: $font-family-base;

        &:before {
          content: counter(li, decimal-leading-zero);
          counter-increment: li;
        }
      }
    }
  }
}
