<section class="section-66 section-md-90 section-xl-bottom-120 novi-background bg-cover">
  <div class="container">
    <div class="row row-fix">
      <div class="col-sm-12">
        <h3>Who
          <span class="text-thin">we are</span>
        </h3>
      </div>
    </div>
    <div class="row justify-content-xl-between row-40">
      <div class="col-md-6 col-xl-5 text-secondary">
        <div class="inset-md-right-15 inset-xl-right-0">
          <p class="text-gray-darker">Easy Audit provides progressively minded, growing businesses with a single source of strategic solutions that span the full range of their needs – from tax, assurance, accounting and advisory to hands-on business consulting.</p>
          <p class="text-gray-darker">
          We have built our firm on a solid foundation of knowledge, a forward-looking vision and a belief in doing business differently. Our goal is to empower you – wherever you are based – to navigate your complex business challenges with confidence.
            </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="shift-sm-top-1">
          <ul class="list-progress">
            <li>
              <p class="animated fadeIn text-gray-darker h7">Tax Consultancy Services</p>
              <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-primary" data-value="70" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
            </li>
            <li>
              <p class="animated fadeIn text-gray-darker h7">Tax Training</p>
              <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-old-gold" data-value="54" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
            </li>
            <li>
              <p class="animated fadeIn text-gray-darker h7">Bookkeeping</p>
              <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-bermuda-gray" data-value="87" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
            </li>
            <li>
              <p class="animated fadeIn text-gray-darker h7">Bank Reconciliation</p>
              <div class="progress-bar-js font-weight-bold progress-bar-horizontal progress-bar-contessa" data-value="90" data-stroke="4" data-easing="linear" data-counter="true" data-duration="1000" data-trail="100"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>