<section class="section-with-counters bg-accent text-center novi-background bg-cover">
  <div class="container bg-cape-cod context-dark novi-background bg-cover section-60 section-lg-90">
    <h4 class="text-rolling-stone font-weight-bold text-uppercase">Looking for</h4>
    <h3 class="section-title">
      <span class="text-thin">a First-Class</span> auditor? </h3>
    <p class="text-white">With a lot of experience in audit, hiring us will become a proper solution for your business!</p>
    <div class="row justify-content-center list-md-dashed row-40">
      <div class="col-md-3">
        <div class="h1 small counter-bold counter">850</div>
        <div class="counter-title font-weight-bold text-white text-uppercase">Trusted Clients</div>
      </div>
      <div class="col-md-3">
        <div class="h1 small counter-bold counter">18</div>
        <div class="counter-title font-weight-bold text-white text-uppercase">Awards</div>
      </div>
      <div class="col-md-3">
        <div class="h1 small counter-bold counter">21</div>
        <div class="counter-title font-weight-bold text-white text-uppercase">Years of Experience</div>
      </div>
      <div class="col-md-3">
        <div class="h1 small counter-bold counter">16</div>
        <div class="counter-title font-weight-bold text-white text-uppercase">Experts</div>
      </div>
    </div>
    <div class="button-block inset-sm-left-60 inset-sm-right-60">
      <div class="d-md-flex justify-content-md-center align-items-md-center">
        <a class="btn btn-rect btn-primary d-block d-md-inline-block" href="appointment.html">Make an Appointment</a>
        <span class="font-italic text-white inset-md-left-20 inset-md-right-20 d-block d-md-inline-block text-big-18">or</span>
        <a class="btn btn-rect btn-white-outline d-block d-md-inline-block" href="services.html" style="min-width:236px;">See All services</a>
      </div>
    </div>
  </div>
</section>