<section class="section-50 section-md-75 section-xl-100 novi-background bg-cover bg-whisper-lighten">
  <div class="container">
    <div class="row row-fix row-30 justify-content-md-center justify-content-lg-start">
      <div class="col-md-9 col-lg-6 post-modern-wrap">
        <article class="post-modern">
          <div class="post-header novi-background">
            <h6 class="font-weight-bold"><a href="blog-post.html">Leave your Legacy through Planned Giving</a></h6>
          </div>
          <div class="post-body">
            <figure><img src="images/blog-masonry-1-570x321.jpg" alt="" width="570" height="321"/>
            </figure>
            <div class="post-inset">
              <p>There comes a point in life where you want to begin sharing or gifting all the things you’ve collected over the years—stories, wisdom, financial wealth. And unlike the Ancient Egyptians believed, you cannot take your worldly goods with you when...</p>
            </div>
          </div>
          <div class="post-footer novi-background">
            <div class="post-meta">
              <ul class="post-list">
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-query_builder"></span>
                  <time datetime="2018-01-01">2 days ago</time>
                </li>
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                  <ul class="list-tags-inline">
                    <li><a href="#">Legacy</a></li>
                    <li><a href="#">Plan</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-videocam"></span></div>
          </div>
        </article>
        <article class="post-modern">
          <div class="post-header novi-background">
            <h6 class="font-weight-bold"><a href="blog-post.html">Protecting Your Biggest Asset</a></h6>
          </div>
          <div class="post-body">
            <figure><img src="images/blog-masonry-2-570x321.jpg" alt="" width="570" height="321"/>
            </figure>
          </div>
          <div class="post-footer novi-background">
            <div class="post-meta">
              <ul class="post-list">
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-query_builder"></span>
                  <time datetime="2018-01-01">7 days ago</time>
                </li>
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                  <ul class="list-tags-inline">
                    <li><a href="#">Protecting</a></li>
                    <li><a href="#">Insurance</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-local_see"></span></div>
          </div>
        </article>
      </div>
      <div class="col-md-9 col-lg-6 post-modern-wrap">
        <article class="post-modern">
          <div class="post-header novi-background">
            <h6 class="font-weight-bold"><a href="blog-post.html">A Lesson in Helping your Student Pay for College</a></h6>
          </div>
          <div class="post-body">
            <div class="post-inset">
              <p>You think back fondly on those halcyon collegiate days--studying in the quad, late-night pizza, tailgating for the big tailgating game, dorm living, tossing your graduation cap in the air...beyond the lifelong friends and the parties and fun, college helped you get to where you are today. Looking ahead, your student is...</p>
            </div>
          </div>
          <div class="post-footer novi-background">
            <div class="post-meta">
              <ul class="post-list">
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-query_builder"></span>
                  <time datetime="2018-01-01">3 days ago</time>
                </li>
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                  <ul class="list-tags-inline">
                    <li><a href="#">Lesson</a></li>
                    <li><a href="#">Student</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-library_books"></span></div>
          </div>
        </article>
        <article class="post-modern">
          <div class="post-header novi-background">
            <h6 class="font-weight-bold"><a href="blog-post.html">How to Purchase the Right Amount of Life Insurance</a></h6>
          </div>
          <div class="post-body">
            <div class="post-inset">
              <div class="soundcloud-player-classic"><iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
              </div>
            </div>
          </div>
          <div class="post-footer novi-background">
            <div class="post-meta">
              <ul class="post-list">
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-query_builder"></span>
                  <time datetime="2018-01-01">4 days ago</time>
                </li>
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                  <ul class="list-tags-inline">
                    <li><a href="#">Insurance</a></li>
                    <li><a href="#">Financial</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-audiotrack"></span></div>
          </div>
        </article>
        <article class="post-modern">
          <div class="post-header novi-background">
            <h6 class="font-weight-bold"><a href="blog-post.html">Debt After Death – Do You Have it Covered?</a></h6>
          </div>
          <div class="post-body">
            <figure><img src="images/blog-masonry-3-570x321.jpg" alt="" width="570" height="321"/>
            </figure>
            <div class="post-inset">
              <p>Many people deal with credit card debt all of their lives with most of them giving little or no thought to what happens with their debt after they die. The fact that nearly 60% die without a will is a strong indication that they’ve given absolutely...</p>
            </div>
          </div>
          <div class="post-footer novi-background">
            <div class="post-meta">
              <ul class="post-list">
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-query_builder"></span>
                  <time datetime="2018-01-01">2 days ago</time>
                </li>
                <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                  <ul class="list-tags-inline">
                    <li><a href="#">Debt</a></li>
                    <li><a href="#">Credit Card</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="post-type"><span class="novi-icon icon icon-xxs icon-black material-icons-videocam"></span></div>
          </div>
        </article>
      </div>
    </div>
    <div class="pagination-custom-wrap text-center">
      <ul class="pagination-custom">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item active"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
</section>