<section class="section-50 section-md-75 section-xl-100 novi-background bg-cover bg-white">
  <div class="container">
    <div class="row row-fix justify-content-md-center">
      <div class="col-xl-10 post-classic-wrap">
        <article class="post-classic">
          <div class="post-media">
            <figure><img src="images/blog-classic-1-971x649.jpg" alt="" width="971" height="649"/>
            </figure>
          </div>
          <div class="post-main">
            <div class="post-info"><img src="images/blog-classic-2-113x113.jpg" alt="" width="113" height="113"/>
              <h6 class="post-author">Amelia Condon</h6>
            </div>
            <div class="post-body">
              <h4><a href="blog-post.html">Leave your Legacy through Planned Giving</a></h4>
              <p>There comes a point in life where you want to begin sharing or gifting all the things you’ve collected over the years—stories, wisdom, financial wealth. And unlike the Ancient Egyptians believed, you cannot take your worldly goods with you when your light goes out. You can share your stories wisdom in a manifesto or through funny tales to your family, but what about the money? Like the most, you have (or should have) a will and most of your assets are likely going to friends and family. But, what...</p>
              <div class="post-footer">
                <ul class="post-meta">
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-event"></span>
                    <time datetime="2018-06-17">05/14/2018</time>
                  </li>
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                    <ul class="list-tags-inline">
                      <li><a href="#">Legacy</a></li>
                      <li><a href="#">Plan</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article class="post-classic">
          <div class="post-main">
            <div class="post-info"><img src="images/blog-classic-3-113x113.jpg" alt="" width="113" height="113"/>
              <h6 class="post-author">Jack Smith</h6>
            </div>
            <div class="post-body">
              <h4><a href="blog-post.html">Protecting Your Biggest Asset</a></h4>
              <p>Life is full of risks, and people make decisions everyday that require weighing those risks against their ability to protect themselves using their own resources or by transferring the risk to an insurance company. Most people realize that they couldn’t afford to rebuild a damaged home or buy a new car without insurance. While these are important and expensive assets, the actual risk of loss pales next to the loss of their biggest asset, their ability to earn an income...</p>
              <div class="post-footer">
                <ul class="post-meta">
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-event"></span>
                    <time datetime="2018-03-02">04/3/2018</time>
                  </li>
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                    <ul class="list-tags-inline">
                      <li><a href="#">Protecting</a></li>
                      <li><a href="#">Insurance</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article class="post-classic">
          <div class="post-media">
            <figure><img src="images/blog-classic-5-970x546.jpg" alt="" width="970" height="546"/>
            </figure>
          </div>
          <div class="post-main">
            <div class="post-info"><img src="images/blog-classic-4-113x113.jpg" alt="" width="113" height="113"/>
              <h6 class="post-author">Alex Murphy</h6>
            </div>
            <div class="post-body">
              <h4><a href="blog-post.html">A Lesson in Helping your Student Pay for College</a></h4>
              <p>You think back fondly on those halcyon collegiate days--studying in the quad, late-night pizza, tailgating for the big tailgating game, dorm living, tossing your graduation cap in the air...beyond the lifelong friends and the parties and fun, college helped you get to where you are today. Looking ahead, your student is planning on following in your footsteps and will be receiving that admissions letter of acceptance sooner than you think...</p>
              <div class="post-footer">
                <ul class="post-meta">
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-event"></span>
                    <time datetime="2018-03-02">04/3/2018</time>
                  </li>
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                    <ul class="list-tags-inline">
                      <li><a href="#">Lesson</a></li>
                      <li><a href="#">Student</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article class="post-classic">
          <div class="post-media">
            <div class="owl-carousel owl-style-minimal" data-items="1" data-stage-padding="0" data-loop="true" data-margin="15" data-mouse-drag="true" data-nav="false" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut">
              <div class="item">
                <figure><img src="images/blog-classic-6-970x546.jpg" alt="" width="970" height="546"/>
                </figure>
              </div>
              <div class="item">
                <figure><img src="images/blog-classic-7-970x546.jpg" alt="" width="970" height="546"/>
                </figure>
              </div>
            </div>
          </div>
          <div class="post-main">
            <div class="post-info"><img src="images/blog-classic-8-113x113.jpg" alt="" width="113" height="113"/>
              <h6 class="post-author">Joe Peterson</h6>
            </div>
            <div class="post-body">
              <h4><a href="blog-post.html">Debt After Death – Do You Have it Covered?</a></h4>
              <p>Many people deal with credit card debt all of their lives with most of them giving little or no thought to what happens with their debt after they die. The fact that nearly 60% die without a will is a strong indication that they’ve given absolutely no thought to it. As a consequence, those that survive the debt holder are often left to deal with a myriad of issues that can be time-consuming and unpleasant. Credit card debt doesn’t simply evaporate when someone dies. In fact, creditors will actually...</p>
              <div class="post-footer">
                <ul class="post-meta">
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-event"></span>
                    <time datetime="2018-03-02">04/3/2018</time>
                  </li>
                  <li class="object-inline"><span class="novi-icon icon icon-xxs icon-black material-icons-loyalty"></span>
                    <ul class="list-tags-inline">
                      <li><a href="#">Debt</a></li>
                      <li><a href="#">Credit Card</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <div class="pagination-custom-wrap text-center">
          <ul class="pagination-custom">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>