<section class="section-60 section-md-90 novi-background bg-cover">
  <div class="container">
    <div class="row row-fix">
      <div class="col-sm-12">
        <h3>Our Clients</h3>
      </div>
    </div>
    <div class="row row-40 row-fix">
      <div class="col-md-7 col-lg-5 col-xl-4">
        <div class="owl-carousel-dark">
          <div class="owl-carousel owl-nav-bottom-left" data-items="1" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false" data-nav="true">
            <div class="item">
              <p>Among our clients, there are many world-renowned industry leaders. Their companies are now ranked as the most successful companies – thanks to us.</p>
            </div>
            <div class="item">
              <p>Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.</p>
            </div>
            <div class="item">
              <p>I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8">
        <div class="row shift-md-top-1 row-30">
          <div class="col-6 col-md-3">
            <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-2-132x83.png" alt="" width="132" height="83"/></a></div>
          </div>
          <div class="col-6 col-md-3">
            <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-3-169x68.png" alt="" width="169" height="68"/></a></div>
          </div>
          <div class="col-6 col-md-3">
            <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-4-141x88.png" alt="" width="141" height="88"/></a></div>
          </div>
          <div class="col-6 col-md-3">
            <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/services-5-138x55.png" alt="" width="138" height="55"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>