<section class="section-50 section-md-90 novi-background bg-cover">
  <div class="container">
    <div class="row row-40 text-center text-md-left">
      <div class="col-6 col-md-3">
        <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/clients-1-126x68.png" alt="" width="126" height="68"/></a></div>
      </div>
      <div class="col-6 col-md-3">
        <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/clients-2-126x100.png" alt="" width="126" height="100"/></a></div>
      </div>
      <div class="col-6 col-md-3">
        <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/clients-3-132x83.png" alt="" width="132" height="83"/></a></div>
      </div>
      <div class="col-6 col-md-3">
        <div class="link-image-wrap"><a class="link-image" href="#"><img src="images/clients-4-169x68.png" alt="" width="169" height="68"/></a></div>
      </div>
    </div>
  </div>
</section>