<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap novi-background custom-bg-image" style="background-image: url(images/bg-image-1.jpg);">
  <div class="container">
    <div class="page-title">
      <h2>About Us</h2>
    </div>
  </div>
</section>