<section class="section-60 section-md-100 context-dark bg-accent novi-background bg-cover">
  <div class="container text-center text-lg-left">
    <div class="row row-fix justify-content-sm-center align-items-lg-center justify-content-lg-start row-30">
      <div class="col-lg-8 text-center">
        <h3>affordable business advice</h3>
      </div>
      <div class="col-lg-4 col-xl-3"><a class="btn btn-xl btn-white-outline" href="#">Learn more</a></div>
    </div>
  </div>
</section>