<section class="section-60 section-md-90 bg-accent novi-background bg-cover">
  <div class="container">
    <div class="row row-fix justify-content-lg-center row-30 align-items-lg-center">
      <div class="col-lg-8 col-xl-7">
        <h5>Not Sure Which Plan is Right For You?</h5>
        <p class="text-white" style="max-width: 420px;">If you are in doubt of which plan to opt for, contact our managers, and we will try to help you make the right decision.</p>
      </div>
      <div class="col-lg-4 col-xl-3">
        <a class="btn btn-lg btn-lg-bigger btn-white-outline" href="contactanos.html">Send us a letter</a>
      </div>
    </div>
  </div>
</section>