<section class="section-60 section-md-90 bg-whisper-lighten novi-background bg-cover">
  <div class="container">
    <h3>Join <span class="text-thin">Our Team</span></h3>
    <div class="row row-40 row-fix justify-content-xl-between">
      <div class="col-md-10 col-lg-7">
        <div class="inset-lg-right-15 inset-xl-right-0">
          <p>
            Take a job opportunity of a lifetime – join the team of Tab Account. We cherish active specialists willing to work on projects of any type and complexity. If you are enthusiastic about audit and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.
            
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4"><a class="btn btn-primary btn-block" href="team.html">get started now</a></div>
    </div>
  </div>
</section>