<section class="section-60 section-md-90 bg-athens-gray novi-background bg-cover">
  <div class="container">
    <div class="row row-40 row-fix">
      <div class="col-md-6 col-lg-8">
        <div class="row row-30 row-fix">
          <div class="col-lg-6">
            <h3>Choose <span class="text-thin">Your Plan</span>
            </h3>
          </div>
          <div class="col-lg-6">
            <p class="text-gray-05">Pick the best plan that meets your business needs. A free trial is available to help you with the decision-making.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-1 d-none d-xl-inline-block"></div>
      <div class="col-md-5 col-lg-4 col-xl-3"><a class="btn btn-primary btn-block" href="#">Learn more</a></div>
    </div>
  </div>
</section>