<section class="section-66 section-md-90 novi-background bg-cover">
  <div class="container">
    <div class="row row-fix">
      <div class="col-sm-12">
        <h3>Explore
          <span class="text-thin">Our Corporate Culture</span>
        </h3>
        <p style="max-width: 600px;">At Easy Audit, we provide career solutions to people interested in conducting broad-scale research and making business breakthroughs based on them. If you are one of them, learn more about the main points of our corporate culture below.</p>
      </div>
    </div>
    <div class="row row-fix">
      <div class="col-sm-12">
        <ul class="list-blocks">
          <li class="custom-bg-image block-image-plate bg-black bg-image" style="background-image: url(images/careers-1-1171x519.jpg);">
            <div class="block-inner">
              <div class="block-header">
                <h5 class="text-none">The Main Corporate Values of Easy Audit</h5>
              </div>
              <div class="block-body">
                <div class="block-left">
                  <div class="block-list-counter"></div>
                </div>
                <div class="block-text">
                  <p>The corporate culture of Easy Audit is based on openness, respect and equality regardless of the religion, sex, race, age, etc. These core values help us build a friendly working environment, where all the employees can feel comfortable
                    and significant. We believe that the more comfort you get, the better results you’ll produce.</p>
                  <p>Members of our staff are free to choose working hours themselves, without any limitations. Such a strategy allows us to make the most of each employee’s potential, as they work when they are maximally productive.</p>
                  <p>What you may also find attractive about our corporation is a competitive benefits package. It includes a paid vacation, sick leave and national holidays, medical insurance, gym and swimming pool, parking and mobile phone reimbursement.
                    Our corporate fridge is also full of free snacks and drinks.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="custom-bg-image block-image-plate bg-black bg-image" style="background-image: url(images/careers-2-1171x519.jpg);">
            <div class="block-inner">
              <div class="block-header">
                <h5 class="text-none">Diversity of Learning Opportunities at Easy Audit</h5>
              </div>
              <div class="block-body">
                <div class="block-left">
                  <div class="block-list-counter"></div>
                </div>
                <div class="block-text">
                  <p>When you join our team, you’ll dive into a knowledge-sharing environment. We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in
                    conferences as both a listener and speaker.</p>
                  <p>As a part of our benefits package, we also offer multiple courses for you to master new subjects. Our working environment is full of learning opportunities, which can’t help motivating for a steady professional growth.</p>
                  <p>Offices of Easy Audit are located in different corners of the globe, so be ready to travel around the world. To save your budget, we cover all the travel costs including transportation, accommodation, food, and even some leisure activities.
                    Our company gives you a perfect chance to explore the world and immerse in different cultures.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="custom-bg-image block-image-plate bg-black bg-image" style="background-image: url(images/careers-3-1171x519.jpg);">
            <div class="block-inner">
              <div class="block-header">
                <h5 class="text-none">Top Qualities We Are Looking For</h5>
              </div>
              <div class="block-body">
                <div class="block-left">
                  <div class="block-list-counter"></div>
                </div>
                <div class="block-text">
                  <p>Searching for candidates, our HR managers prioritize a number of qualities. To get a job at Easy Audit, you must be a self-motivated person who isn’t afraid of challenges and is ready to work overtime. As we work with multiple innovative
                    technologies, you must be a quick learner. Attention to detail is also important for us, as it is a solid prerequisite for your own success.</p>
                  <p>Our company consists of many teams, that’s why you must be a team player and excellent communicator both in writing and oral speech. Our work is also based on mutual assistance, so be ready to lend a helping hand whenever you’re asked.</p>
                  <p>You are unlikely to find a project manager who wouldn’t appreciate punctuality and discipline. The same goes for PMs of Easy Audit. If you want to build a long-term career at our company, you will have to avoid late arrivals, unnecessary
                    breaks and hanging out in social networks. Also be polite not only with your boss, but also with colleagues and newcomers.</p>
                </div>
              </div>
            </div>
          </li>
          <li class="custom-bg-image block-image-plate bg-black bg-image" style="background-image: url(images/careers-4-1171x519.jpg);">
            <div class="block-inner">
              <div class="block-header">
                <h5 class="text-none">Check Interview Stages at Easy Audit</h5>
              </div>
              <div class="block-body">
                <div class="block-left">
                  <div class="block-list-counter"></div>
                </div>
                <div class="block-text">
                  <p>Whenever you decide to send us your CV, be ready for a job interview that goes in several stages. At the first stage, we’d like to learn about your experience, interests, and expectations. At the end of the interview, you will need to
                    undergo a test allowing us to evaluate your skills.</p>
                  <p>After successful completion of the test, you’ll be invited to the second interview stage. We will arrange a meeting with your future PM to give you a detailed overview of your project and key responsibilities.</p>
                  <p>Next, our team will make a final decision on your joining us. At the last stage of the interview, we will discuss your salary, benefits package, and some legal issues. If we reach an agreement, our HR will take you on an excursion through
                    our office premises.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>