<section class="section-66 section-md-90 bg-whisper-lighten novi-background bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Your Career
          <span class="text-thin">Starts Here</span>
        </h3>
        <p>Can't find the job you want? Send your resume to
          <a class="text-gray-05" href="mailto:#">info@demolink.com</a>, and
          <br class="d-none d-xl-inline-block"> we'll contact you when a new position opens.</p>
      </div>
    </div>
    <div class="row row-30">
      <div class="col-md-6">
        <a class="block-vacation novi-background bg-cover" href="#">
          <h6 class="text-big-19">Audit Consultant </h6>
          <div class="block-meta">
            <ul class="list-objects-inline">
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-location_on"></span>
                <span>London</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-av_timer"></span>
                <span>Full Time</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary mdi mdi-calendar"></span>
                <time datetime="2016-01-01">6 hours ago</time>
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="block-vacation novi-background bg-cover" href="#">
          <h6 class="text-big-19">External Auditor</h6>
          <div class="block-meta">
            <ul class="list-objects-inline">
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-location_on"></span>
                <span>Athlanta</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-av_timer"></span>
                <span>Freelance</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary mdi mdi-calendar"></span>
                <time datetime="2016-01-01">3 day ago</time>
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="block-vacation novi-background bg-cover" href="#">
          <h6 class="text-big-19">Accountant</h6>
          <div class="block-meta">
            <ul class="list-objects-inline">
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-location_on"></span>
                <span>Oakland</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-av_timer"></span>
                <span>Full Time</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary mdi mdi-calendar"></span>
                <time datetime="2016-01-01">4 days ago</time>
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="block-vacation novi-background bg-cover" href="#">
          <h6 class="text-big-19">Internal Auditor</h6>
          <div class="block-meta">
            <ul class="list-objects-inline">
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-location_on"></span>
                <span>New York</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-av_timer"></span>
                <span>Full Time</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary mdi mdi-calendar"></span>
                <time datetime="2016-01-01">week ago</time>
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="block-vacation novi-background bg-cover" href="#">
          <h6 class="text-big-19">Audit Assistant</h6>
          <div class="block-meta">
            <ul class="list-objects-inline">
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-location_on"></span>
                <span>Bristol</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-av_timer"></span>
                <span>Freelance</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary mdi mdi-calendar"></span>
                <time datetime="2016-01-01">month ago</time>
              </li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="block-vacation novi-background bg-cover" href="#">
          <h6 class="text-big-19">Credit Risk Audit Manager</h6>
          <div class="block-meta">
            <ul class="list-objects-inline">
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-location_on"></span>
                <span>Tampa</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary material-icons-av_timer"></span>
                <span>Full Time</span>
              </li>
              <li>
                <span class="novi-icon icon icon-xs-smaller icon-primary mdi mdi-calendar"></span>
                <time datetime="2016-01-01">May 12, 2016</time>
              </li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>