<section class="section parallax-container context-dark bg-black" data-parallax-img="images/clients-testimonials-parallax-2.jpg">
  <div class="parallax-content">
    <div class="section-50 section-md-75 section-xl-top-100 section-xl-bottom-120">
      <div class="container text-center">
        <div class="row row-fix">
          <div class="col-sm-12">
            <h3>What
              <span class="text-thin">Clients Say?</span>
            </h3>
          </div>
        </div>
        <div class="row justify-content-sm-center justify-content-md-start row-60">
          <div class="col-md-4">
            <blockquote class="quote-vertical quote-vertical-inverse">
              <div class="quote-body">
                <div class="quote-open">
                  <div class="quote-icon novi-icon fa fa-quote-left"></div>
                </div>
                <p class="quote-text">
                  <q>Beyond a shadow of doubt, they are the Best Tax Consultants I have ever come across.</q>
                </p>
              </div>
              <div class="quote-meta">
                <figure class="quote-image">
                  <img src="images/clients-testimonials-7-113x113.jpg" alt="" width="113" height="113"> </figure>
                <cite>Axel Merphy</cite>
                <p class="caption">Freelance developer</p>
              </div>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="quote-vertical quote-vertical-inverse">
              <div class="quote-body">
                <div class="quote-open">
                  <div class="quote-icon novi-icon fa fa-quote-left"></div>
                </div>
                <p class="quote-text">
                  <q>I would not hesitate even one bit to work with them for my future tax and accounting needs.</q>
                </p>
              </div>
              <div class="quote-meta">
                <figure class="quote-image">
                  <img src="images/clients-testimonials-8-113x113.jpg" alt="" width="113" height="113"> </figure>
                <cite>Amelia Lee</cite>
                <p class="caption">Sales, demolink.org</p>
              </div>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="quote-vertical quote-vertical-inverse">
              <div class="quote-body">
                <div class="quote-open">
                  <div class="quote-icon novi-icon fa fa-quote-left"></div>
                </div>
                <p class="quote-text">
                  <q>The Tax Experts at TaxExpert are thorough professionals and always go that extra mile to help their clients.</q>
                </p>
              </div>
              <div class="quote-meta">
                <figure class="quote-image">
                  <img src="images/clients-testimonials-9-113x113.jpg" alt="" width="113" height="113"> </figure>
                <cite>Jack McGee</cite>
                <p class="caption">Founder, The Therapy</p>
              </div>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="quote-vertical quote-vertical-inverse">
              <div class="quote-body">
                <div class="quote-open">
                  <div class="quote-icon novi-icon fa fa-quote-left"></div>
                </div>
                <p class="quote-text">
                  <q>It's been a pleasure working with Easy Audit. I have found them to be highly responsive to customer queries.</q>
                </p>
              </div>
              <div class="quote-meta">
                <figure class="quote-image">
                  <img src="images/clients-testimonials-10-113x113.jpg" alt="" width="113" height="113"> </figure>
                <cite>John Davis</cite>
                <p class="caption">Writer</p>
              </div>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="quote-vertical quote-vertical-inverse">
              <div class="quote-body">
                <div class="quote-open">
                  <div class="quote-icon novi-icon fa fa-quote-left"></div>
                </div>
                <p class="quote-text">
                  <q>I am happy that I chose Easy Audit for my US tax returns and would recommend it to everyone.</q>
                </p>
              </div>
              <div class="quote-meta">
                <figure class="quote-image">
                  <img src="images/clients-testimonials-11-113x113.jpg" alt="" width="113" height="113"> </figure>
                <cite>Jill Miller</cite>
                <p class="caption">Artist</p>
              </div>
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="quote-vertical quote-vertical-inverse">
              <div class="quote-body">
                <div class="quote-open">
                  <div class="quote-icon novi-icon fa fa-quote-left"></div>
                </div>
                <p class="quote-text">
                  <q>Over the last 6 years I have found their services to be reliable and their advice to be practical and clear.</q>
                </p>
              </div>
              <div class="quote-meta">
                <figure class="quote-image">
                  <img src="images/clients-testimonials-12-113x113.jpg" alt="" width="113" height="113"> </figure>
                <cite>Christopher Taylor</cite>
                <p class="caption">Financial Consultant</p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>