<section class="section-60 section-md-90 novi-background bg-cover">
  <div class="container">
    <div class="row justify-content-lg-center row-40 row-fix">
      <div class="col-sm-12">
        <h3>Questions
          <span class="text-thin">&amp; Answers</span>
        </h3>
      </div>
      <div class="col-lg-11 col-xl-10">
        <div class="row row-40 row-fix">
          <div class="col-md-6">
            <dl class="list-terms-variant-1">
              <dt>How do auditors charge audit fees?</dt>
              <dd class="text-black-05">Auditors are advised by the Code of Ethics for Assurance Practitioners that when charging fees they should ensure that their objectivity is not impaired by the hope of financial gain, and that such fees are proportional with the responsibilities
                they assume.</dd>
              <dt>What do these fees include?</dt>
              <dd class="text-black-05">A substantial proportion of the costs of providing audit services, both mandatiry and voluntary, are salary related. Auditors are justified in increasing their audit fees to ensure their remuneration is competitive, particularly considering
                the auditor’s responsibility.</dd>
              <dt>When can audit fees increase?</dt>
              <dd class="text-black-05">Clients should expect fees to go up so that auditors can cover the increasing overhead costs, and to recognize that audits are becoming more complex, requiring further involvement from the more experienced members of the audit team.</dd>
            </dl>
          </div>
          <div class="col-md-6">
            <dl class="list-terms-variant-1">
              <dt>Can I request an audit?</dt>
              <dd class="text-black-05">Yes! We will consider all requests from management; however, our ability to accept the project is dependent upon the risk/urgency of the request as compared to currently scheduled audits, staffing levels/workload, and other potential factors.</dd>
              <dt>When will my company be audited?</dt>
              <dd class="text-black-05">With the exception of audits that require no prior notification to be effective, such as cash counts, the customers are contacted shortly before the start of any audit. An entrance conference is held to discuss the audit and address any
                concerns management may have.</dd>
              <dt>How should I prepare for an audit?</dt>
              <dd class="text-black-05">The auditor will contact you to schedule a mutually convenient date and time for the audit. You will receive written correspondence confirming the details of the appointment. Audits are usually performed at the business location; however,
                an alternate off-site location may be chosen.</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>