<section class="section parallax-container bg-black bg-image context-dark" data-parallax-img="images/bg-image-7.jpg">
  <div class="parallax-content">
    <div class="section-60 section-md-90 bg-overlay-cello">
      <div class="container">
        <div class="row row-fix">
          <div class="col-sm-12 text-center">
            <h3>What <span class="text-thin">We Do</span></h3>
            <p class="text-white">Tab Account provides unparalleled guidance on audit, review, and other financial assurance <br class="d-none d-xl-inline-block"> and attestations matter in a cost effective way without draining your internal resources.</p>
          </div>
        </div>
        <div class="row row-50">
          <div class="col-sm-6 col-lg-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
              <div class="unit flex-column unit-spacing-sm">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-document-edit"></span></div>
                <div class="unit-body">
                  <h4>Advisory</h4>
                  <p class="text-white-05">From strategy through execution, Tab Account’s Advisory practice helps clients build their next competitive advantage.</p>
                </div>
              </div>
            </article>

          </div>
          <div class="col-sm-6 col-lg-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
              <div class="unit flex-column unit-spacing-sm">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-user"></span></div>
                <div class="unit-body">
                  <h4>Assurance</h4>
                  <p class="text-white-05">Working closely with public and private companies, we help solve complex business issues that our clients face.</p>
                </div>
              </div>
            </article>

          </div>
          <div class="col-sm-6 col-lg-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
              <div class="unit flex-column unit-spacing-sm">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-planet"></span></div>
                <div class="unit-body">
                  <h4>Tax Services</h4>
                  <p class="text-white-05">Our Tax professionals are problem solvers, providing value to their clients through analyzing and interpreting tax policy, advising on intricate tax matters.</p>
                </div>
              </div>
            </article>

          </div>
          <div class="col-sm-6 col-lg-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
              <div class="unit flex-column unit-spacing-sm">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-money"></span></div>
                <div class="unit-body">
                  <h4>Public Sector Practice</h4>
                  <p class="text-white-05">We often help federal, state &amp; local and multilateral development agencies address complex business issues; manage risk; and improve financial measures.</p>
                </div>
              </div>
            </article>

          </div>
          <div class="col-sm-6 col-lg-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
              <div class="unit flex-column unit-spacing-sm">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-thumb-up"></span></div>
                <div class="unit-body">
                  <h4>Business Management</h4>
                  <p class="text-white-05">Our business management services provide companies and the individuals who run them with tools and strategies to improve operations and plan for the future.</p>
                </div>
              </div>
            </article>

          </div>
          <div class="col-sm-6 col-lg-4">
            <article class="icon-box-vertical icon-box-vertical-sm">
              <div class="unit flex-column unit-spacing-sm">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg thin-icon-clock"></span></div>
                <div class="unit-body">
                  <h4>Financial Planning</h4>
                  <p class="text-white-05">We help you build and maintain a desirable position on the market through a combination of financial planning services.</p>
                </div>
              </div>
            </article>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>