<section class="bg-cape-cod context-dark novi-background">
  <div class="container">
    <div class="row row-fix justify-content-sm-center justify-content-lg-start">
      <div class="col-sm-10 col-lg-5 text-left section-60 section-md-90">
        <div>
          <h3>our <span class="text-thin">advantages</span>
          </h3>
          <div class="row row-30 inset-left-15">
            <div class="col-12">
              <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg-bigger thin-icon-briefcase-2"></span></div>
                <div class="unit-body">
                  <h4 class="text-white">Confidentiality</h4>
                  <p class="text-white-05">We guarantee the confidentiality of our client data through strict control over our infrastructure, as well as our physical and personal access rights.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg-bigger thin-icon-support"></span></div>
                <div class="unit-body">
                  <h4 class="text-white">Comprehensive support</h4>
                  <p class="text-white-05">As an experienced outsourcing provider, we  offer legal services, audit and internal control, financial administration, and other business support.</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-left"><span class="novi-icon icon icon-primary icon-lg-bigger thin-icon-time"></span></div>
                <div class="unit-body">
                  <h4 class="text-white">Quality</h4>
                  <p class="text-white-05">We are dedicated to providing high quality financial administration services based on extensive experience and knowledge.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1 d-none d-lg-inline-block"></div>
      <div class="col-lg-6 section-image-aside section-image-aside-right">
        <div class="section-image-aside-img d-none d-lg-block custom-bg-image" style="background-image: url(images/about-2.jpg)"></div>
      </div>
    </div>
  </div>
</section>