<section class="section-transform section-66 section-md-95 bg-whisper-lighten">
  <div class="container">
    <div class="row row-40">
      <div class="col-md-6 col-xl-3 height-fill">
        <article class="icon-box">
          <div class="box-top">
            <div class="box-icon">
              <div class="icon novi-icon fl-bigmug-line-checkmark16"></div>
            </div>
            <div class="box-header">
              <h5><a href="#">Quick and Easy</a></h5>
            </div>
          </div>
          <div class="box-body">
            <p class="text-black">We offer lots of ways to quickly pay off your loans.</p>
          </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
        </article>
      </div>
      <div class="col-md-6 col-xl-3 height-fill">
        <article class="icon-box">
          <div class="box-top">
            <div class="box-icon">
              <div class="icon novi-icon fl-bigmug-line-button5"></div>
            </div>
            <div class="box-header">
              <h5><a href="#">No Penalties</a></h5>
            </div>
          </div>
          <div class="box-body">
            <p class="text-black">Our clients are free of any prepayment penalties.</p>
          </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
        </article>
      </div>
      <div class="col-md-6 col-xl-3 height-fill">
        <article class="icon-box">
          <div class="box-top">
            <div class="box-icon">
              <div class="icon novi-icon fl-bigmug-line-graphical8"></div>
            </div>
            <div class="box-header">
              <h5><a href="#">Lower Rates</a></h5>
            </div>
          </div>
          <div class="box-body">
            <p class="text-black">We have lower rates than most of our competitors.</p>
          </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
        </article>
      </div>
      <div class="col-md-6 col-xl-3 height-fill">
        <article class="icon-box">
          <div class="box-top">
            <div class="box-icon">
              <div class="icon novi-icon fl-bigmug-line-lock64"></div>
            </div>
            <div class="box-header">
              <h5><a href="#">Secure Process</a></h5>
            </div>
          </div>
          <div class="box-body">
            <p class="text-black">Complete loans on our site quickly and securely.</p>
          </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
        </article>
      </div>
    </div>
  </div>
</section>