<footer class="section-single-footer novi-background bg-cover bg-cape-cod context-dark">
  <div class="container text-center">
    <div class="row row-fix">
      <div class="col-12">
        <p class="rights"><span>Tab Account</span><span>&nbsp;&#169;&nbsp;</span><span class="copyright-year"></span><span>All Rights Reserved</span><br class="d-md-none"><a class="link-primary-inverse" href="#">Terms of Use</a><span>and</span><a class="link-primary-inverse" href="#">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>