<section>
  <div class="section section-40 section-md-60 bg-cape-cod context-dark novi-background bg-cover">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-10 col-md-11 col-lg-12">
          <div class="row row-50">
            <div class="col-md-6 col-lg-4">
              <div class="inset-lg-right-30">
                <h6 class="text-uppercase">About us</h6>
                <p class="offset-top-15">TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from.</p>
                <div class="unit unit-spacing-xs offset-top-10">
                  <div class="unit-left">
                    <span class="novi-icon icon icon-xs-smaller icon-primary fa-phone"></span>
                  </div>
                  <div class="unit-body">
                    <a class="link link-bold link-light-2" href="tel:#">+1 (232) 349–8447</a>
                  </div>
                </div>
                <div class="inset-left-30">
                  <a class="link-light-2 font-italic" href="mailto:#">info@demolink.org</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <h6 class="text-uppercase">Quick links</h6>
              <div class="row row-fix offset-top-15" style="max-width: 340px;">
                <div class="col-6">
                  <ul class="list-marked-variant-2">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="services.html">Services</a>
                    </li>
                    <li>
                      <a href="careers.html">Careers</a>
                    </li>
                    <li>
                      <a href="blog-classic.html">Blog</a>
                    </li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-marked-variant-2">
                    <li>
                      <a href="about.html">About us</a>
                    </li>
                    <li>
                      <a href="contactanos.html">Contacts</a>
                    </li>
                    <li>
                      <a href="#">Appointment</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <h6 class="text-uppercase">Subscribe</h6>
              <p class="offset-top-10">Get latest updates and offers.</p>
              <form class="rd-mailform form-classic form-inline offset-top-10" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap">
                  <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-email">Enter Your E-mail</label>
                </div>
                <button class="btn btn-icon-only btn-primary" type="submit" aria-label="Subscribe">
                  <span class="novi-icon icon icon-xs icon-white fa-envelope-o"></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section page-foot section-15 bg-black context-dark novi-background bg-cover">
    <div class="container text-center">
      <p class="rights text-light-03">
        <span>©&nbsp;</span>
        <span class="copyright-year"></span>
        <span>Tab Account.&nbsp;</span>
        <a href="#">Privacy Policy</a>
      </p>
    </div>
  </div>
</section>