<section class="section-60 section-md-top-90 section-md-bottom-100">
  <div class="container">
    <div class="row row-fix">
      <div class="col-lg-9 col-xl-7">
        <h3>Feedback <span class="text-thin">Form</span></h3>
        <form class="rd-mailform form-modern" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
          <div class="row row-30 row-fix">
            <div class="col-md-5">
              <div class="form-wrap">
                <input class="form-input" id="feedback-name" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="feedback-name">Name</label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-wrap">
                <input class="form-input" id="feedback-email" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="feedback-email">Email</label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-wrap">
                <input class="form-input" id="feedback-date" type="text" name="date" data-constraints="@Required" data-time-picker="date">
                <label class="form-label" for="feedback-date">Date</label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-wrap">
                <input class="form-input" id="feedback-time" type="text" name="time" data-constraints="@Required" data-time-picker="time">
                <label class="form-label" for="feedback-time">Time Interval</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-wrap">
                <div class="textarea-lined-wrap">
                  <textarea class="form-input" id="feedback-message" name="message" data-constraints="@Required"></textarea>
                  <label class="form-label" for="feedback-message">Message</label>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-silver-outline btn-block" type="reset">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>