<section class="section-60 section-md-top-90 section-md-bottom-100 novi-background bg-cover">
  <div class="container">
    <div class="row row-fix justify-content-sm-center justify-content-lg-start row-50">
      <div class="col-lg-7 col-xl-6">
        <h3>Get in <span class="text-thin">Touch</span></h3>
        <form class="rd-mailform form-modern" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
          <div class="row row-fix row-30">
            <div class="col-md-6">
              <div class="form-wrap">
                <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="contact-name">Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-wrap">
                <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="contact-email">Email</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-wrap">
                <div class="textarea-lined-wrap">
                  <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                  <label class="form-label" for="contact-message">Message</label>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-silver-outline btn-block" type="reset">Reset</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-1 d-none d-xl-inline-block"></div>
      <div class="col-lg-5 col-xl-4">
        <div class="row row-40">
          <div class="col-md-10 col-lg-12">
            <h3>How to <span class="text-thin">Find Us</span></h3>
            <p class="text-secondary">
              If you have any questions, just fill in the contact form, and we will answer you shortly. If you are living nearby, come visit us.
              
            </p>
          </div>
          <div class="col-md-6 col-lg-12">
            <h4>Headquarters</h4>
            <address class="contact-info">
              <p class="text-uppercase">9863 - 9867 MILL ROAD, CAMBRIDGE, MG09 99HT.</p>
              <dl class="list-terms-inline">
                <dt>Telephone</dt>
                <dd><a class="link-secondary" href="tel:#">+1 800 603 6035</a></dd>
              </dl>
              <dl class="list-terms-inline">
                <dt>E-mail</dt>
                <dd><a class="link-primary" href="mailto:#">mail@demolink.org</a></dd>
              </dl>
            </address>
          </div>
          <div class="col-md-6 col-lg-12">
            <h4>Support Centre</h4>
            <address class="contact-info">
              <p class="text-uppercase">9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45</p>
              <dl class="list-terms-inline">
                <dt>Telephone</dt>
                <dd><a class="link-secondary" href="tel:#">+1 800 603 6035</a></dd>
              </dl>
              <dl class="list-terms-inline">
                <dt>E-mail</dt>
                <dd><a class="link-primary" href="mailto:#">mail@demolink.org</a></dd>
              </dl>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>