<section class="section-35 section-md-75 section-xl-100 bg-whisper-lighten">
  <div class="container">
    <div class="row row-fix">
      <div class="col-lg-9 col-xl-6">
        <h3>Feedback <span class="text-thin">Form 2</span></h3>
        <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
          <div class="row row-30 row-fix">
            <div class="col-md-6">
              <div class="form-wrap">
                <input class="form-input" id="feedback-2-first-name" type="text" name="first-name" data-constraints="@Required">
                <label class="form-label" for="feedback-2-first-name">First Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-wrap">
                <input class="form-input" id="feedback-2-last-name" type="text" name="last-name" data-constraints="@Required">
                <label class="form-label" for="feedback-2-last-name">Last Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-wrap">
                <input class="form-input" id="feedback-2-email" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="feedback-2-email">Email</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-wrap">
                <input class="form-input" id="feedback-2-phone" type="text" name="phone" data-constraints="@Numeric @Required">
                <label class="form-label" for="feedback-2-phone">Phone</label>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-wrap">
                <textarea class="form-input" id="feedback-2-message" name="message" data-constraints="@Required"></textarea>
                <label class="form-label" for="feedback-2-message">Message</label>
              </div>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary-outline btn-block" type="submit">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>