<section class="section-50 section-md-100">
  <div class="container isotope-wrap">
    <div class="row text-center row-40">
      <div class="col-sm-12">
        <ul class="isotope-filters-responsive">
          <li>
            <p>Choose your category:</p>
          </li>
          <li class="block-top-level">
            <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="#isotope-3" data-custom-toggle-hide-on-blur="true">Filter<span class="caret"></span></button>
            <div class="isotope-filters isotope-filters-minimal isotope-filters-horizontal" id="isotope-3">
              <ul class="list-inline">
                <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery3" href="#">All</a></li>
                <li><a data-isotope-filter="Category 1" data-isotope-group="gallery3" href="#">Internal Audit</a></li>
                <li><a data-isotope-filter="Category 2" data-isotope-group="gallery3" href="#">Capital Markets</a></li>
                <li><a data-isotope-filter="Category 3" data-isotope-group="gallery3" href="#">Corporate Reporting</a></li>
                <li><a data-isotope-filter="Category 4" data-isotope-group="gallery3" href="#">Risk Assurance</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 offset-top-40">
        <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery3" data-lightgallery="group">
          <div class="row no-gutters">
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-2-600x772_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-1-390x601.jpg" alt="" width="390" height="601"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-4-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-2-390x301.jpg" alt="" width="390" height="301"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-3-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-3-390x301.jpg" alt="" width="390" height="301"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 isotope-item" data-filter="Category 4">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-5-1170x841_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-4-780x300.jpg" alt="" width="780" height="300"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 isotope-item" data-filter="Category 3">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-1-1170x781_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-5-780x600.jpg" alt="" width="780" height="600"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-9-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-6-390x300.jpg" alt="" width="390" height="300"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-6-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-cobbles-7-390x300.jpg" alt="" width="390" height="300"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>