<section class="section-50 section-md-100">
  <div class="container isotope-wrap">
    <div class="row text-center row-40">
      <div class="col-sm-12">
        <ul class="isotope-filters-responsive">
          <li>
            <p>Choose your category:</p>
          </li>
          <li class="block-top-level">
            <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="#isotope-1" data-custom-toggle-hide-on-blur="true">Filter<span class="caret"></span></button>
            <div class="isotope-filters isotope-filters-minimal isotope-filters-horizontal" id="isotope-1">
              <ul class="list-inline">
                <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery1" href="#">All</a></li>
                <li><a data-isotope-filter="Category 1" data-isotope-group="gallery1" href="#">Internal Audit</a></li>
                <li><a data-isotope-filter="Category 2" data-isotope-group="gallery1" href="#">Capital Markets</a></li>
                <li><a data-isotope-filter="Category 3" data-isotope-group="gallery1" href="#">Corporate Reporting</a></li>
                <li><a data-isotope-filter="Category 4" data-isotope-group="gallery1" href="#">Risk Assurance</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="isotope isotope-gutter-default" data-isotope-layout="fitRows" data-isotope-group="gallery1" data-lightgallery="group">
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-1-1170x781_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-1-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-2-600x772_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-2-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-3-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-3-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-4-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-4-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-5-1170x841_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-5-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-6-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-6-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 1">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-7-1170x781_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-7-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-8-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-8-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a><a class="img-link" href="images/gallery-9-1170x780_original.jpg" data-lightgallery="item"><img class="img-item" src="images/gallery-grid-9-370x278.jpg" alt="" width="370" height="278"/></a>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>