<section class="section-50 section-md-100 navi-background bg-cover">
  <div class="container isotope-wrap">
    <div class="row text-center row-40">
      <div class="col-sm-12">
        <ul class="isotope-filters-responsive">
          <li>
            <p>Choose your category:</p>
          </li>
          <li class="block-top-level">
            <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="#isotope-2" data-custom-toggle-hide-on-blur="true">Filter<span class="caret"></span></button>
            <div class="isotope-filters isotope-filters-minimal isotope-filters-horizontal" id="isotope-2">
              <ul class="list-inline">
                <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery2" href="#">All</a></li>
                <li><a data-isotope-filter="Category 1" data-isotope-group="gallery2" href="#">Internal Audit</a></li>
                <li><a data-isotope-filter="Category 2" data-isotope-group="gallery2" href="#">Capital Markets</a></li>
                <li><a data-isotope-filter="Category 3" data-isotope-group="gallery2" href="#">Corporate Reporting</a></li>
                <li><a data-isotope-filter="Category 4" data-isotope-group="gallery2" href="#">Risk Assurance</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <div class="isotope isotope-gutter-default" data-isotope-layout="masonry" data-isotope-group="gallery2" data-lightgallery="group">
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-2-370x278.jpg" alt="" width="370" height="278"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 isotope-item" data-filter="Category 1">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-1-770x586.jpg" alt="" width="770" height="586"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 3">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-3-371x587.jpg" alt="" width="371" height="587"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-4-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-4-373x279.jpg" alt="" width="373" height="279"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 2">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-5-1170x841_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-5-1170x841_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-5-373x279.jpg" alt="" width="373" height="279"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8 isotope-item" data-filter="Category 3">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-8-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-8-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-6-769x384.jpg" alt="" width="769" height="384"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Category 4">
              <div class="thumbnail thumbnail-variant-3"><a class="link link-external" href="#"><span class="novi-icon icon icon-sm fa fa-link"></span></a>
                <div class="img-link" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/gallery-9-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-9-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-1-1170x781_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-3-1170x780_original.jpg&quot;},{&quot;thumb&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;,&quot;src&quot;:&quot;images/gallery-2-600x772_original.jpg&quot;}]"><img class="img-item" src="images/gallery-masonry-7-371x384.jpg" alt="" width="371" height="384"/>
                </div>
                <div class="caption">
                  <div class="link link-original"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>