<section class="section-40 section-md-100 novi-background bg-cover">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5 col-xl-4">
        <h3>Newsletter</h3>
        <form class="rd-mailform form-modern offset-top-22" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
          <div class="form-wrap">
            <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
            <label class="form-label" for="contact-email">Email</label>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>