<section class="section parallax-container bg-black" data-parallax-img="images/bg-image-3.jpg">
  <div class="parallax-content">
    <div class="section-40 section-md-75 overlay-9">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 text-center">
            <h3>Newsletter</h3>
            <div class="divider divider-1"></div>
            <form class="rd-mailform rd-mailform-2 form-classic form-inline" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap">
                <input class="form-input" id="contact-email-1" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="contact-email-1">Enter Your E-mail</label>
              </div>
              <button class="btn btn-icon-only btn-primary" type="submit" aria-label="Subscribe"><span class="novi-icon icon icon-xs icon-white fa-envelope-o"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>