<section class="section-50 section-md-90 section-md-bottom-100 novi-background bg-cover">
  <div class="container text-center">
    <h3>Latest
      <span class="text-thin">News</span>
    </h3>
    <div class="row justify-content-sm-center row-40">
      <div class="col-sm-8 col-md-7 col-lg-4">
        <div class="post-boxed d-xl-inline-block">
          <div class="post-boxed-img-wrap">
            <a href="blog-post.html">
              <img src="images/home-1-322x219.jpg" alt="" width="322" height="219">
            </a>
          </div>
          <div class="post-boxed-caption">
            <div class="post-boxed-title font-weight-bold">
              <a href="blog-post.html">Presentations that Impress Your Audit Committee</a>
            </div>
            <ul class="list-inline list-inline-dashed text-uppercase">
              <li>JUNE 14, 2016</li>
              <li>
                <span>by
                  <a class="text-primary" href="#">Sam Kromstain</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-7 col-lg-4">
        <div class="post-boxed d-xl-inline-block">
          <div class="post-boxed-img-wrap">
            <a href="blog-post.html">
              <img src="images/home-2-322x219.jpg" alt="" width="322" height="219">
            </a>
          </div>
          <div class="post-boxed-caption">
            <div class="post-boxed-title font-weight-bold">
              <a href="blog-post.html">Top 3 Concerns When Choosing a Cloud Vendor</a>
            </div>
            <ul class="list-inline list-inline-dashed text-uppercase">
              <li>JUNE 20, 2016</li>
              <li>
                <span>by
                  <a class="text-primary" href="#">Vanessa Ives</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-7 col-lg-4">
        <div class="post-boxed d-xl-inline-block">
          <div class="post-boxed-img-wrap">
            <a href="blog-post.html">
              <img src="images/home-3-322x219.jpg" alt="" width="322" height="219">
            </a>
          </div>
          <div class="post-boxed-caption">
            <div class="post-boxed-title font-weight-bold">
              <a href="blog-post.html">Audit Data Analytics: Why Auditors Should Care</a>
            </div>
            <ul class="list-inline list-inline-dashed text-uppercase">
              <li>JUNE 23, 2016</li>
              <li>
                <span>by
                  <a class="text-primary" href="#">Amanda Smith</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>