<section class="section-35 section-md-75 section-xl-100 novi-background bg-cover bg-whisper-lighten">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-6 col-xl-5 text-center">
        <h3>Newsletter</h3>
        <form class="rd-mailform rd-mailform-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
          <div class="form-wrap">
            <input class="form-input" id="feedback-3-email" type="email" name="email" data-constraints="@Email @Required">
            <label class="form-label" for="feedback-3-email">Email</label>
          </div>
          <button class="btn btn-primary-outline" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>