<section class="section-66 section-md-top-90 section-md-bottom-75 novi-background bg-cover">
  <div class="container">
    <div class="row row-fix row-30">
      <div class="col-sm-12">
        <h3>Our
          <span class="text-thin">Partners</span>
        </h3>
      </div>
      <div class="col-12">
        <p class="text-black-05" style="max-width: 590px;"> We build trust and long-term partnerships with our clients. In our work, we try to adapt to your ideas and to feel as part of your company. Everyone can become our affiliate. </p>
      </div>
      <div class="col-sm-12">
        <div class="slick-slider brand-slider" data-arrows="false" data-loop="true" data-dots="true" data-swipe="true" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="5" data-xl-items="6" data-slide-to-scroll="1">
          <div class="item">
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-1-126x68.png" alt="" width="126" height="68">
              </a>
            </div>
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-7-104x84.png" alt="" width="104" height="84">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-2-126x100.png" alt="" width="126" height="100">
              </a>
            </div>
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-8-144x68.png" alt="" width="144" height="68">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-3-132x83.png" alt="" width="132" height="83">
              </a>
            </div>
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-9-105x94.png" alt="" width="105" height="94">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-4-169x68.png" alt="" width="169" height="68">
              </a>
            </div>
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-10-95x101.png" alt="" width="95" height="101">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-5-141x88.png" alt="" width="141" height="88">
              </a>
            </div>
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-11-126x68.png" alt="" width="126" height="68">
              </a>
            </div>
          </div>
          <div class="item">
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-6-138x55.png" alt="" width="138" height="55">
              </a>
            </div>
            <div class="link-image-wrap">
              <a class="link-image" href="#">
                <img src="images/clients-12-132x83.png" alt="" width="132" height="83">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>