<section class="bg-decoration-wrap bg-decoration-bottom section-bottom-60 section-xl-100 bg-athens-gray novi-background bg-cover">
  <div class="container bg-decoration-content">
    <div class="row row-fix justify-content-md-center">
      <div class="col-lg-10 col-xl-12">
        <div class="row align-items-md-end row-40">
          <div class="col-md-6 col-xl-3">
            <div class="pricing-table">
              <div class="pricing-table-body">
                <h5 class="pricing-table-header">free</h5>
                <div class="pricing-object pricing-object-lg">
                  <span class="small small-top">$</span>
                  <span class="price">0</span>
                  <span class="small small-bottom">/mo</span>
                </div>
                <div class="divider-triangle"></div>
                <ul class="pricing-list">
                  <li>
                    <span class="text-ubold">1GB</span>Space amount</li>
                  <li>
                    <span class="text-ubold">5</span>users</li>
                  <li>
                    <span class="text-ubold">5GB</span>Bandwidth</li>
                  <li>No Support</li>
                  <li>
                    <span class="text-ubold">1</span>Databases</li>
                </ul>
              </div>
              <div class="pricing-table-footer">
                <a class="btn btn-primary btn-block" href="register.html">Sign up</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="pricing-table">
              <div class="pricing-table-body">
                <h5 class="pricing-table-header">Starter</h5>
                <div class="pricing-object pricing-object-lg">
                  <span class="small small-top">$</span>
                  <span class="price">59</span>
                  <span class="small small-bottom">/mo</span>
                </div>
                <div class="divider-triangle"></div>
                <ul class="pricing-list">
                  <li>
                    <span class="text-ubold">5GB</span>Space amount</li>
                  <li>
                    <span class="text-ubold">20</span>users</li>
                  <li>
                    <span class="text-ubold">10GB</span>Bandwidth</li>
                  <li>No Support</li>
                  <li>
                    <span class="text-ubold">1</span>Databases</li>
                </ul>
              </div>
              <div class="pricing-table-footer">
                <a class="btn btn-primary btn-block" href="register.html">Sign up</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="pricing-table pricing-table-preferred">
              <div class="pricing-table-label novi-background">
                <p>Most popular</p>
              </div>
              <div class="pricing-table-body">
                <h5 class="pricing-table-header">Business</h5>
                <div class="pricing-object pricing-object-lg">
                  <span class="small small-top">$</span>
                  <span class="price">99</span>
                  <span class="small small-bottom">/mo</span>
                </div>
                <div class="divider-triangle"></div>
                <ul class="pricing-list">
                  <li>
                    <span class="text-ubold">10GB</span>Space amount</li>
                  <li>
                    <span class="text-ubold">Unlimited</span>users</li>
                  <li>
                    <span class="text-ubold">30GB</span>Bandwidth</li>
                  <li>Free Support</li>
                  <li>
                    <span class="text-ubold">20</span>Databases</li>
                </ul>
              </div>
              <div class="pricing-table-footer">
                <a class="btn btn-primary btn-block" href="register.html">Sign up</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3">
            <div class="pricing-table">
              <div class="pricing-table-body">
                <h5 class="pricing-table-header">Ultimate</h5>
                <div class="pricing-object pricing-object-lg">
                  <span class="small small-top">$</span>
                  <span class="price">199</span>
                  <span class="small small-bottom">/mo</span>
                </div>
                <div class="divider-triangle"></div>
                <ul class="pricing-list">
                  <li>
                    <span class="text-ubold">100GB</span>Space amount</li>
                  <li>
                    <span class="text-ubold">Unlimited</span>users</li>
                  <li>
                    <span class="text-ubold">60GB</span>Bandwidth</li>
                  <li>Free Support</li>
                  <li>
                    <span class="text-ubold">Unlimited</span>Databases</li>
                </ul>
              </div>
              <div class="pricing-table-footer">
                <a class="btn btn-primary btn-block" href="register.html">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-decoration-object bg-whisper-lighten novi-background bg-cover"></div>
</section>