<section class="section-66 section-md-90 novi-background bg-cover">
  <div class="container">
    <h3>Our services</h3>
    <p class="text-gray-05" style="max-width: 600px;">At Tab Account, we provide career solutions to people interested in conducting broad-scale research and making efficient breakthroughs based on them. If you are one of them, learn more about the main points of our corporate culture below.</p>
    <ul class="row row-30 row-flex block-service-wrap">
      <li class="col-md-6">
        <div class="block-service bg-black bg-image custom-bg-image" style="background-image: url(images/careers-1-1171x519.jpg);">
          <div class="block-inner">
            <div class="block-header">
              <h4>The Main Corporate Values of Tab Account</h4>
            </div>
            <div class="block-body">
              <div class="block-text">
                <p class="text-white-05">The corporate culture of Tab Account is based on openness, respect and equality regardless of the religion, sex, race, age, etc. These core values help us build a friendly working environment, where all the employees can feel comfortable and significant. We believe that the more comfort you get, the better results you’ll produce.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="block-service bg-black bg-image custom-bg-image" style="background-image: url(images/careers-2-1171x519.jpg);">
          <div class="block-inner">
            <div class="block-header">
              <h4>Diversity of Learning Opportunities</h4>
            </div>
            <div class="block-body">
              <div class="block-text">
                <p class="text-white-05">When you join our team, you’ll dive into a knowledge-sharing environment. We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in conferences as both a listener and speaker.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="block-service bg-black bg-image custom-bg-image" style="background-image: url(images/careers-3-1171x519.jpg);">
          <div class="block-inner">
            <div class="block-header">
              <h4>Top Qualities We Are Looking For</h4>
            </div>
            <div class="block-body">
              <div class="block-text">
                <p class="text-white-05">Searching for candidates, our HR managers prioritize a number of qualities. To get a job at Tab Account, you must be a self-motivated person who isn’t afraid of challenges and is ready to work overtime. As we work with multiple innovative technologies, you must be a quick learner. Attention to detail is also important for us, as it is a solid prerequisite for fewer bugs.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="col-md-6">
        <div class="block-service bg-black bg-image custom-bg-image" style="background-image: url(images/careers-4-1171x519.jpg);">
          <div class="block-inner">
            <div class="block-header">
              <h4>Check Interview Stages at Tab Account</h4>
            </div>
            <div class="block-body">
              <div class="block-text">
                <p class="text-white-05">Whenever you decide to send us your CV, be ready for a job interview that goes in several stages. At the first stage, we’d like to learn about your experience, interests, and expectations. At the end of the interview, you will need to undergo a test allowing us to evaluate your skills.</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>