<section class="novi-background novi-section bg-cover">
  <div class="row no-gutters justify-content-sm-center justify-content-md-start row-40 row-sm-0">
    <div class="col-sm-10 col-md-4 height-fill">
      <article class="icon-box icon-box-top-line icon-box-hover">
        <div class="box-top">
          <div class="box-icon">
            <div class="icon novi-icon fl-bigmug-line-portfolio23"></div>
          </div>
          <div class="box-header">
            <h5><a href="#">Internal Audit</a></h5>
          </div>
        </div>
        <div class="box-body">
          <p class="text-black">Audit services are designed to help your business mitigate risk, create new efficiencies and better support strategic objectives.</p>
        </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
      </article>
    </div>
    <div class="col-sm-10 col-md-4 height-fill">
      <article class="icon-box icon-box-top-line icon-box-hover">
        <div class="box-top">
          <div class="box-icon">
            <div class="icon novi-icon fl-bigmug-line-equalizer26"></div>
          </div>
          <div class="box-header">
            <h5><a href="#">Accounting</a></h5>
          </div>
        </div>
        <div class="box-body">
          <p class="text-black">A range of services designed to provide timely preparation of company accounts, whether it be at the financial year end or on a monthly basis.</p>
        </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
      </article>
    </div>
    <div class="col-sm-10 col-md-4 height-fill">
      <article class="icon-box icon-box-top-line icon-box-hover">
        <div class="box-top">
          <div class="box-icon">
            <div class="icon novi-icon fl-bigmug-line-search74"></div>
          </div>
          <div class="box-header">
            <h5><a href="#">Audit</a></h5>
          </div>
        </div>
        <div class="box-body">
          <p class="text-black">Audits are verified by sight, confirmation, discussion with management, assessment of internal controls and analytical procedures.</p>
        </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
      </article>
    </div>
    <div class="col-sm-10 col-md-4 height-fill">
      <article class="icon-box icon-box-hover">
        <div class="box-top">
          <div class="box-icon">
            <div class="icon novi-icon fl-bigmug-line-graphical8"></div>
          </div>
          <div class="box-header">
            <h5><a href="#">Legislative Support</a></h5>
          </div>
        </div>
        <div class="box-body">
          <p class="text-black">To ensure the quality and effectiveness of every business activity, we support our every client by supporting them in all legislative issues.</p>
        </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
      </article>
    </div>
    <div class="col-sm-10 col-md-4 height-fill">
      <article class="icon-box icon-box-hover">
        <div class="box-top">
          <div class="box-icon">
            <div class="icon novi-icon fl-bigmug-line-clipboard68"></div>
          </div>
          <div class="box-header">
            <h5><a href="#">Review</a></h5>
          </div>
        </div>
        <div class="box-body">
          <p class="text-black">Reviews are less detailed and consist predominantly of an assessment of the company`s books and records.</p>
        </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
      </article>
    </div>
    <div class="col-sm-10 col-md-4 height-fill">
      <article class="icon-box icon-box-hover">
        <div class="box-top">
          <div class="box-icon">
            <div class="icon novi-icon fl-bigmug-line-favourites5"></div>
          </div>
          <div class="box-header">
            <h5><a href="#">Attest Services</a></h5>
          </div>
        </div>
        <div class="box-body">
          <p class="text-black">Attestation services that we provide, include the process of independent review of the data validity audited by an accountant.</p>
        </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span class="novi-icon icon icon-sm material-icons-arrow_forward"></span></a>
      </article>
    </div>
  </div>
</section>