<section class="section-60 section-md-90 novi-background bg-cover bg-whisper-lighten">
  <div class="container">
    <div class="row row-fix row-40">
      <div class="col-12">
        <h3 class="text-center">Services
          <span class="text-thin">Overview</span>
        </h3>
        <p class="text-center">Tab Account offers a variety of services covering almost every need of modern
          <br class="d-none d-xl-inline-block"> businesses. Learn more about our services below.</p>
      </div>
      <div class="col-12">
        <div class="row justify-content-sm-center text-center text-lg-left row-60">
          <div class="col-md-10 col-lg-4">
            <div class="thumbnail-with-img">
              <img src="images/services-6-370x220.jpg" alt="" width="370" height="220">
              <h6 class="thumbnail-title">
                <a href="servicio-de-impulsaciones.html">Audit &amp; Accounting</a>
              </h6>
              <p class="text-black-05">Audit &amp; accounting services assure your company’s compliance with requirements of applicable laws, financial reporting standards, regulations, rules, contracts, or grants, and can pave a road to your company’s success.</p>
            </div>
          </div>
          <div class="col-md-10 col-lg-4">
            <div class="thumbnail-with-img">
              <img src="images/services-7-370x220.jpg" alt="" width="370" height="220">
              <h6 class="thumbnail-title">
                <a href="servicio-de-impulsaciones.html">Tax Planning</a>
              </h6>
              <p class="text-black-05">Proactive planning is the key to minimizing your tax liability. We work with businesses and individuals to pay the least amount of tax required by law. Your unique circumstances will determine the strategies...</p>
            </div>
          </div>
          <div class="col-md-10 col-lg-4">
            <div class="thumbnail-with-img">
              <img src="images/services-8-370x220.jpg" alt="" width="370" height="220">
              <h6 class="thumbnail-title">
                <a href="servicio-de-impulsaciones.html">Consulting &amp; Advisory</a>
              </h6>
              <p class="text-black-05">Consulting &amp; advisory services provide strategic thinking and advice on the most valuable ways to enhance your business effectiveness that Tab Account can offer to its clients (including business advisory and consulting).</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>