<section>
  <div class="swiper-container swiper-slider swiper-variant-1 bg-black" data-loop="false" data-autoplay="false" data-simulate-touch="true">
    <div class="swiper-wrapper text-center">
      <div class="swiper-slide" data-slide-bg="images/home-slider-1-slide-1.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <div class="row row-fix justify-content-sm-center">
              <div class="col-md-11 col-lg-10">
                <div class="text-white text-uppercase jumbotron-custom border-modern" data-caption-animate="fadeInUp" data-caption-delay="0s">Upgrade
                  <span class="text-thin">your business</span>
                  <span class="border-modern-item-1"></span>
                  <span class="border-modern-item-2"></span>
                  <span class="border-modern-item-3"></span>
                  <span class="border-modern-item-4"></span>
                </div>
                <div data-caption-animate="fadeInUp" data-caption-delay="450s">
                  <p class="text-big-19 text-white d-none d-md-inline-block">We provide extensive assistance with any audit issues to modern bussinesses</p>
                </div>
                <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="550s">
                  <a class="btn btn-primary" href="contactanos.html">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-slide-bg="images/bg-image-5.jpg">
        <div class="swiper-slide-caption">
          <div class="container">
            <div class="row row-fix justify-content-sm-center">
              <div class="col-md-11 col-lg-10 col-xl-12">
                <div class="text-white text-uppercase jumbotron-custom border-modern" data-caption-animate="fadeInUp" data-caption-delay="0s">We Provide Proper Audit Solutions
                  <span class="border-modern-item-1"></span>
                  <span class="border-modern-item-2"></span>
                  <span class="border-modern-item-3"></span>
                  <span class="border-modern-item-4"></span>
                </div>
                <div data-caption-animate="fadeInUp" data-caption-delay="450s">
                  <p class="text-big-19 text-white d-none d-md-inline-block">Optimize audit costs using our years of experience</p>
                </div>
                <div class="button-block" data-caption-animate="fadeInUp" data-caption-delay="550s">
                  <a class="btn btn-primary" href="contactanos.html">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar d-xl-none"></div>
    <div class="swiper-nav-wrap d-none d-xl-block">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>