<section class="section-66 section-md-100 novi-background bg-cover">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Our <span class="text-thin">Team</span>
        </h3>
      </div>
    </div>
    <div class="row justify-content-sm-center">
      <div class="col-xl-12">
        <div class="owl-carousel owl-carousel-center owl-nav-modern owl-style-minimal owl-style-minimal-inverse text-center" data-data-items="1" data-xs-items="2" data-sm-items="3" data-xl-items="3" data-stage-padding="15" data-loop="false" data-margin="15" data-mouse-drag="false" data-nav="true" data-dots="true">
          <div class="item text-center">
            <div class="thumbnail-variant-5">
              <div class="thumbnail-variant-5-img-wrap"><img class="img-circle" src="images/team-1-151x151.jpg" width="129" height="129" alt=""></div>
              <h4>John Doe</h4>
              <div class="text-dusty-gray">Managing Director</div>
              <div class="divider-fullwidth bg-porcelain"></div>
              <div class="link-group-wrap">
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-black" href="tel:#">+1 (609) 567–8974</a></div>
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-black" href="mailto:#">info@demolink.org</a></div>
              </div>
            </div>
          </div>
          <div class="item text-center">
            <div class="thumbnail-variant-5">
              <div class="thumbnail-variant-5-img-wrap"><img class="img-circle" src="images/team-2-151x151.jpg" width="129" height="129" alt=""></div>
              <h4>Amanda Smith</h4>
              <div class="text-dusty-gray">Accountant</div>
              <div class="divider-fullwidth bg-porcelain"></div>
              <div class="link-group-wrap">
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-black" href="tel:#">+1 (409) 987–5874</a></div>
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-black" href="mailto:#">info@demolink.org</a></div>
              </div>
            </div>
          </div>
          <div class="item text-center">
            <div class="thumbnail-variant-5">
              <div class="thumbnail-variant-5-img-wrap"><img class="img-circle" src="images/team-3-151x151.jpg" width="129" height="129" alt=""></div>
              <h4>David Nicholson</h4>
              <div class="text-dusty-gray">Audit Manager</div>
              <div class="divider-fullwidth bg-porcelain"></div>
              <div class="link-group-wrap">
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-black" href="tel:#">+1 (609) 567–8974</a></div>
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-black" href="mailto:#">info@demolink.org</a></div>
              </div>
            </div>
          </div>
          <div class="item text-center">
            <div class="thumbnail-variant-5">
              <div class="thumbnail-variant-5-img-wrap"><img class="img-circle" src="images/team-1-151x151.jpg" width="129" height="129" alt=""></div>
              <h4>John Doe</h4>
              <div class="text-dusty-gray">Managing Director</div>
              <div class="divider-fullwidth bg-porcelain"></div>
              <div class="link-group-wrap">
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-black" href="tel:#">+1 (609) 567–8974</a></div>
                <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-black" href="mailto:#">info@demolink.org</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>