<section class="section-66 section-md-top-100 section-md-bottom-90 section-xl-bottom-130 bg-whisper-lighten bg-cover novi-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Our <span class="text-thin">Team</span>
        </h3>
      </div>
    </div>
    <div class="row row-40">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail-variant-2-wrap">
          <div class="thumbnail thumbnail-variant-2">
            <figure class="thumbnail-image"><img src="images/team-9-246x300.jpg" alt="" width="246" height="300"/>
            </figure>
            <div class="thumbnail-inner">
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">info@demolink.org</a></div>
            </div>
            <div class="thumbnail-caption novi-background">
              <p class="text-header"><a href="team-member.html">Amanda Smith</a></p>
              <div class="divider divider-md bg-default-02"></div>
              <p class="text-caption">Client Services Assistant</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail-variant-2-wrap">
          <div class="thumbnail thumbnail-variant-2">
            <figure class="thumbnail-image"><img src="images/team-10-246x300.jpg" alt="" width="246" height="300"/>
            </figure>
            <div class="thumbnail-inner">
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">info@demolink.org</a></div>
            </div>
            <div class="thumbnail-caption novi-background">
              <p class="text-header"><a href="team-member.html">David Nicholson</a></p>
              <div class="divider divider-md bg-default-02"></div>
              <p class="text-caption">Audit Manager</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail-variant-2-wrap">
          <div class="thumbnail thumbnail-variant-2">
            <figure class="thumbnail-image"><img src="images/team-11-246x300.jpg" alt="" width="246" height="300"/>
            </figure>
            <div class="thumbnail-inner">
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">info@demolink.org</a></div>
            </div>
            <div class="thumbnail-caption novi-background">
              <p class="text-header"><a href="team-member.html">Vanessa Ives</a></p>
              <div class="divider divider-md bg-default-02"></div>
              <p class="text-caption">Accountant</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail-variant-2-wrap">
          <div class="thumbnail thumbnail-variant-2">
            <figure class="thumbnail-image"><img src="images/team-12-246x300.jpg" alt="" width="246" height="300"/>
            </figure>
            <div class="thumbnail-inner">
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span><a class="link-white" href="tel:#">+1 (409) 987–5874</a></div>
              <div class="link-group"><span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span><a class="link-white" href="mailto:#">info@demolink.org</a></div>
            </div>
            <div class="thumbnail-caption novi-background">
              <p class="text-header"><a href="team-member.html">Sam Kromstain</a></p>
              <div class="divider divider-md bg-default-02"></div>
              <p class="text-caption">Director</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>