<section class="section-66 section-md-top-100 section-md-bottom-75 novi-background bg-cover">
  <div class="container">
    <h3 class="text-center">our
      <span class="text-thin">team</span>
    </h3>
    <div class="row row-fix justify-content-sm-center">
      <div class="col-md-8 col-xl-12">
        <div class="owl-carousel owl-carousel-center owl-nav-modern owl-style-minimal owl-style-minimal-inverse text-center" data-items="1" data-md-items="2" data-xl-items="3" data-stage-padding="15" data-loop="false" data-margin="15" data-mouse-drag="false"
          data-nav="true" data-dots="true">
          <div class="thumbnail-variant-5 text-center">
            <div class="thumbnail-variant-5-img-wrap">
              <img class="img-circle" src="images/team-1-151x151.jpg" width="129" height="129" alt="">
            </div>
            <h4>John Doe</h4>
            <div class="text-dusty-gray">Managing Director</div>
            <div class="divider-fullwidth bg-porcelain"></div>
            <div class="link-group-wrap">
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span>
                <a class="link-black" href="tel:#">+1 (609) 567–8974</a>
              </div>
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span>
                <a class="link-black" href="mailto:#">info@demolink.org</a>
              </div>
            </div>
          </div>
          <div class="thumbnail-variant-5 text-center">
            <div class="thumbnail-variant-5-img-wrap">
              <img class="img-circle" src="images/team-2-151x151.jpg" width="129" height="129" alt="">
            </div>
            <h4>Amanda Smith</h4>
            <div class="text-dusty-gray">Accountant</div>
            <div class="divider-fullwidth bg-porcelain"></div>
            <div class="link-group-wrap">
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span>
                <a class="link-black" href="tel:#">+1 (409) 987–5874</a>
              </div>
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span>
                <a class="link-black" href="mailto:#">info@demolink.org</a>
              </div>
            </div>
          </div>
          <div class="thumbnail-variant-5 text-center">
            <div class="thumbnail-variant-5-img-wrap">
              <img class="img-circle" src="images/team-3-151x151.jpg" width="129" height="129" alt="">
            </div>
            <h4>David Nicholson</h4>
            <div class="text-dusty-gray">Audit Manager</div>
            <div class="divider-fullwidth bg-porcelain"></div>
            <div class="link-group-wrap">
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span>
                <a class="link-black" href="tel:#">+1 (609) 567–8974</a>
              </div>
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span>
                <a class="link-black" href="mailto:#">info@demolink.org</a>
              </div>
            </div>
          </div>
          <div class="thumbnail-variant-5 text-center">
            <div class="thumbnail-variant-5-img-wrap">
              <img class="img-circle" src="images/team-1-151x151.jpg" width="129" height="129" alt="">
            </div>
            <h4>John Doe</h4>
            <div class="text-dusty-gray">Managing Director</div>
            <div class="divider-fullwidth bg-porcelain"></div>
            <div class="link-group-wrap">
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary material-icons-local_phone"></span>
                <a class="link-black" href="tel:#">+1 (609) 567–8974</a>
              </div>
              <div class="link-group">
                <span class="novi-icon icon icon-xxs icon-primary fa-envelope-o"></span>
                <a class="link-black" href="mailto:#">info@demolink.org</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-fix justify-content-sm-center">
      <div class="col-md-10 col-lg-10 col-xl-12">
        <div class="panel card-lg bg-accent bg-default-outline-btn text-center novi-background bg-cover">
          <h3 class="text-white">Request
            <span class="text-thin">a callback</span>
          </h3>
          <form class="rd-mailform group group-bottom" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
            <div class="group-item form-wrap">
              <input class="form-input" id="index-request-name" type="text" name="name" data-constraints="@Required">
              <label class="form-label" for="index-request-name">First Name</label>
            </div>
            <div class="group-item form-wrap">
              <input class="form-input" id="index-request-phone" type="text" name="phone" data-constraints="@Numeric @Required">
              <label class="form-label" for="index-request-phone">Phone Number</label>
            </div>
            <div class="group-item form-wrap">
              <select class="form-input select-filter" data-minimum-results-for-search="Infinity" data-constraints="@Required" name="discuss">
                <option value="1">I Would Like to Discuss</option>
                <option value="2">I Wouldn't Like to Discuss</option>
              </select>
            </div>
            <div class="group-item group-item-sm">
              <button class="btn btn-block btn-white-outline" type="submit">submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>