<section class="section-50 section-md-90 section-md-bottom-100 novi-background bg-cover">
  <div class="container text-center">
    <h3>Team boxed layout</h3>
    <div class="row row-40 row-offset-6 justify-content-sm-center">
      <div class="col-sm-8 col-md-5 col-lg-3">
        <div class="team-boxed d-xl-inline-block">
          <div class="team-boxed-img-wrap"><a href="team-member.html"><img src="images/team-13-246x190.jpg" alt="" width="246" height="190"/></a></div>
          <div class="team-boxed-caption">
            <div class="team-boxed-title font-weight-bold"><a href="team-member.html">Amanda Smith</a></div>
            <p class="position">Business Expert</p>
            <p class="exeption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-5 col-lg-3">
        <div class="team-boxed d-xl-inline-block">
          <div class="team-boxed-img-wrap"><a href="team-member.html"><img src="images/team-14-246x190.jpg" alt="" width="246" height="190"/></a></div>
          <div class="team-boxed-caption">
            <div class="team-boxed-title font-weight-bold"><a href="team-member.html">John Doe</a></div>
            <p class="position">PR Manager</p>
            <p class="exeption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-5 col-lg-3">
        <div class="team-boxed d-xl-inline-block">
          <div class="team-boxed-img-wrap"><a href="team-member.html"><img src="images/team-15-246x190.jpg" alt="" width="246" height="190"/></a></div>
          <div class="team-boxed-caption">
            <div class="team-boxed-title font-weight-bold"><a href="team-member.html">Vanessa Ives</a></div>
            <p class="position">Marketing Expert</p>
            <p class="exeption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-5 col-lg-3">
        <div class="team-boxed d-xl-inline-block">
          <div class="team-boxed-img-wrap"><a href="team-member.html"><img src="images/team-16-246x190.jpg" alt="" width="246" height="190"/></a></div>
          <div class="team-boxed-caption">
            <div class="team-boxed-title font-weight-bold"><a href="team-member.html">David Nicholson</a></div>
            <p class="position">Senior HR Manager</p>
            <p class="exeption">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>