<section class="bg-cape-cod context-dark novi-background">
  <div class="container">
    <div class="row row-fix justify-content-sm-center justify-content-lg-start">
      <div class="col-sm-10 col-lg-6 text-left section-60 section-md-90">
        <div>
          <h3 class="text-center text-lg-left">successful
            <span class="text-thin">cases</span>
          </h3>
          <div class="carousel-testimonials-home">
            <div class="inset-xl-right-50"></div>
            <div class="owl-carousel" data-nav="false" data-loop="false" data-dots="true" data-items="1">
              <div class="item inset-left-10 inset-right-10">
                <div class="inset-xl-right-85">
                  <blockquote class="quote-left">
                    <div class="row row-20 row-fix">
                      <div class="col-sm-6">
                        <div class="quote-name">
                          <cite>Amelia Lee</cite>
                        </div>
                        <div class="text-dusty-gray">Sales, demolink.org</div>
                      </div>
                      <div class="col-sm-6 text-center">
                        <div class="quote-desc row row-10">
                          <div class="col-6">
                            <div class="quote-desc-text text-fuel-yellow">-20%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                          </div>
                          <div class="col-6">
                            <div class="quote-desc-text text-primary">+17%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider-fullwidth"></div>
                    <div class="quote-body unit unit-md-horizontal unit-spacing-xs">
                      <div class="unit-left">
                        <img src="images/testimonials-1-70x70.jpg" alt="" width="70" height="70"> </div>
                      <div class="unit-body">
                        <div class="novi-icon quote-image icon fa fa-quote-right"></div>
                        <q>I would not hesitate even one bit to work with them for my future tax and accounting needs.</q>
                      </div>
                    </div>
                  </blockquote>
                  <div class="button-block text-center text-md-left">
                    <a class="btn btn-primary" href="#">read more</a>
                  </div>
                </div>
              </div>
              <div class="item inset-left-10 inset-right-10">
                <div class="inset-xl-right-85">
                  <blockquote class="quote-left">
                    <div class="row row-20 row-fix">
                      <div class="col-sm-6">
                        <div class="quote-name">
                          <cite>Mark Wilson</cite>
                        </div>
                        <div class="text-dusty-gray">CEO “WilsonCompany”</div>
                      </div>
                      <div class="col-sm-6 text-center">
                        <div class="quote-desc row row-10">
                          <div class="col-6">
                            <div class="quote-desc-text text-fuel-yellow">-30%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                          </div>
                          <div class="col-6">
                            <div class="quote-desc-text text-primary">+22%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider-fullwidth"></div>
                    <div class="quote-body unit unit-md-horizontal unit-spacing-xs">
                      <div class="unit-left">
                        <img src="images/testimonials-2-70x70.jpg" alt="" width="70" height="70"> </div>
                      <div class="unit-body">
                        <div class="novi-icon quote-image icon fa fa-quote-right"></div>
                        <q>I’ve never known another auditor more prepared or focused. You havethe ability to dissect a case much like a skilled surgeon, with absolute calm. Nothing seems to rattle you or distract from the goal on a case.</q>
                      </div>
                    </div>
                  </blockquote>
                  <div class="button-block text-center text-md-left">
                    <a class="btn btn-primary" href="#">read more</a>
                  </div>
                </div>
              </div>
              <div class="item inset-left-10 inset-right-10">
                <div class="inset-xl-right-85">
                  <blockquote class="quote-left">
                    <div class="row row-20 row-fix">
                      <div class="col-sm-6">
                        <div class="quote-name">
                          <cite>Jill Miller</cite>
                        </div>
                        <div class="text-dusty-gray">Artist</div>
                      </div>
                      <div class="col-sm-6 text-center">
                        <div class="quote-desc row row-10">
                          <div class="col-6">
                            <div class="quote-desc-text text-fuel-yellow">-29%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                          </div>
                          <div class="col-6">
                            <div class="quote-desc-text text-primary">+19%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider-fullwidth"></div>
                    <div class="quote-body unit unit-md-horizontal unit-spacing-xs">
                      <div class="unit-left">
                        <img src="images/testimonials-3-70x70.jpg" alt="" width="70" height="70"> </div>
                      <div class="unit-body">
                        <div class="novi-icon quote-image icon fa fa-quote-right"></div>
                        <q>I am happy that I chose Tab Account for my US tax returns and would recommend it to everyone.</q>
                      </div>
                    </div>
                  </blockquote>
                  <div class="button-block text-center text-md-left">
                    <a class="btn btn-primary" href="#">read more</a>
                  </div>
                </div>
              </div>
              <div class="item inset-left-10 inset-right-10">
                <div class="inset-xl-right-85">
                  <blockquote class="quote-left">
                    <div class="row row-20 row-fix">
                      <div class="col-sm-6">
                        <div class="quote-name">
                          <cite>Christopher Taylor</cite>
                        </div>
                        <div class="text-dusty-gray">Financial Consultant</div>
                      </div>
                      <div class="col-sm-6 text-center">
                        <div class="quote-desc row row-10">
                          <div class="col-6">
                            <div class="quote-desc-text text-fuel-yellow">-28%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Expenses</div>
                          </div>
                          <div class="col-6">
                            <div class="quote-desc-text text-primary">+21%</div>
                            <div class="text-medium text-dusty-gray text-uppercase">Profit</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="divider-fullwidth"></div>
                    <div class="quote-body unit unit-md-horizontal unit-spacing-xs">
                      <div class="unit-left">
                        <img src="images/testimonials-4-70x70.jpg" alt="" width="70" height="70"> </div>
                      <div class="unit-body">
                        <div class="novi-icon quote-image icon fa fa-quote-right"></div>
                        <q>Over the last 6 years I have found their services to be reliable and their advice to be practical and clear.</q>
                      </div>
                    </div>
                  </blockquote>
                  <div class="button-block text-center text-md-left">
                    <a class="btn btn-primary" href="#">read more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 section-image-aside section-image-aside-right">
        <div class="section-image-aside-img d-none d-lg-block custom-bg-image" style="background-image: url(images/home-4-946x689.jpg)"></div>
      </div>
    </div>
  </div>
</section>