<section class="section-75 section-lg-100 text-left">
  <div class="container">
    <div class="row row-40">
      <div class="col-md-6 col-lg-4">
        <div class="inset-xl-right-40">
          <blockquote class="quote-bordered">
            <div class="quote-body">
              <div class="quote-open fa fa-quote-left novi-icon"></div>
              <div class="quote-body-inner">
                <h6>I’m recommending you to all my colleagues </h6>
                <p>
                  <q>I recently closed a mortgage loan through FastCredit and I was extremely pleased with the procedure. This company has the most experienced loan experts.</q>
                </p>
              </div>
            </div>
            <div class="quote-footer">
              <div class="unit unit-horizontal unit-spacing-sm align-items-center">
                <div class="unit-left"><img class="img-circle" src="images/clients-testimonials-1-68x68.jpg" alt="" width="68" height="68"/>
                </div>
                <div class="unit-body">
                  <cite>Susan Bennett</cite>
                  <p class="text-primary">Manager</p>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="inset-xl-right-40">
          <blockquote class="quote-bordered">
            <div class="quote-body">
              <div class="quote-open fa fa-quote-left novi-icon"></div>
              <div class="quote-body-inner">
                <h6>I got a loan quickly and I felt like they really cared about me</h6>
                <p>
                  <q>All went well at the closing of my mortgage last week. FastCredit made the process as painless as possible and did everything in a professional and timely manner.</q>
                </p>
              </div>
            </div>
            <div class="quote-footer">
              <div class="unit unit-horizontal unit-spacing-sm align-items-center">
                <div class="unit-left"><img class="img-circle" src="images/clients-testimonials-2-68x68.jpg" alt="" width="68" height="68"/>
                </div>
                <div class="unit-body">
                  <cite>Jeffrey Neddery</cite>
                  <p class="text-primary">Student</p>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="inset-xl-right-40">
          <blockquote class="quote-bordered">
            <div class="quote-body">
              <div class="quote-open fa fa-quote-left novi-icon"></div>
              <div class="quote-body-inner">
                <h6>FastCredit cared and did everything to make the process fast and simple!</h6>
                <p>
                  <q> I just wanted to thank you and your colleagues for the role you played in my apartment closing, which occurred yesterday without a hitch. You are real professionals!</q>
                </p>
              </div>
            </div>
            <div class="quote-footer">
              <div class="unit unit-horizontal unit-spacing-sm align-items-center">
                <div class="unit-left"><img class="img-circle" src="images/clients-testimonials-3-68x68.jpg" alt="" width="68" height="68"/>
                </div>
                <div class="unit-body">
                  <cite>Amanda smith</cite>
                  <p class="text-primary">Sales Manager</p>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>