/*
*
* Video BG
* --------------------------------------------------
*/

.bg-vide {
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba($black, .5);

  }

  > * {
    position: relative;
    z-index: 1;
  }
}
