/*
* @subsection   Progress Bar
*/

.progress-bar-wrap {
  max-width: 100%;
  width: 210px;

  @include media-breakpoint-only(sm){
    max-width: 120px;
  }

  @include media-breakpoint-up(md) {
    max-width: 150px;
  }
}

.progress-bar {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: $font-family-base;

  .progress-bar__body {
    position: absolute;
    right: 50%;
    width: 100%;
    top: 50%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 34px;
    font-weight: 400;
    line-height: 26px;
    color: $secondary;
    text-align: right;

    &:after {
      content: '%';
    }
  }

  .progress-bar__stroke,
  .progress-bar__trail {
    stroke-linejoin: round;
  }
}

.progress-bar-horizontal {
  position: relative;
  font-family: $font-family-base;
  text-align: right;

  > svg {
    margin-top: 3px;
    border-radius: 3px;
  }

  .progress-bar__body {
    position: absolute;
    top: -27px;
    margin-top: 0;
    padding-right: 0;
    pointer-events: none;

    &:after {
      content: '%';
    }
  }
}

.progress-bar-radial {
  position: relative;
  padding-bottom: 100%;

  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar__stroke,
  .progress-bar__trail {
    stroke-location: outside;
  }

  .progress-bar__body {
    transform: translate(50%, -50%);
  }
}

.progress-bar-default {
  .progress-bar__stroke {
    stroke: $gray-500;
  }

  .progress-bar__trail {
    stroke: rgba($gray-500, 0.05);
  }
}

.progress-bar-primary {
  .progress-bar__stroke {
    stroke: $primary;
  }

  .progress-bar__trail {
    stroke: $athens-gray;
  }
}

.progress-bar-bermuda-gray {
  .progress-bar__stroke {
    stroke: $bermuda-gray;
  }

  .progress-bar__trail {
    stroke: $athens-gray;
  }
}

.progress-bar-contessa {
  .progress-bar__stroke {
    stroke: $contessa;
  }

  .progress-bar__trail {
    stroke: $athens-gray;
  }
}

.progress-bar-red-orange-1 {
  .progress-bar__stroke {
    stroke: $red-orange-1;
  }

  .progress-bar__trail {
    stroke: $gallery;
  }
}

.progress-bar-dodger-blue {
  .progress-bar__stroke {
    stroke: $dodger-blue;
  }

  .progress-bar__trail {
    stroke: $gallery;
  }
}

.progress-bar-gorse {
  .progress-bar__stroke {
    stroke: $gorse;
  }

  .progress-bar__trail {
    stroke: $gallery;
  }
}

.progress-bar-old-gold {
  .progress-bar__stroke {
    stroke: $old-gold;
  }

  .progress-bar__trail {
    stroke: $athens-gray;
  }
}

.progress-bar-secondary-2 {
  .progress-bar__stroke {
    stroke: $gray-300;
  }

  .progress-bar__trail {
    stroke: gray;
  }
}

.progress-bar-secondary-1 {
  .progress-bar__stroke {
    stroke: $gray-300;
  }

  .progress-bar__trail {
    stroke: rgba($gray-500, 0.05);
  }
}

.progress-bar-secondary-3 {
  .progress-bar__stroke {
    stroke: $brand-warning;
  }

  .progress-bar__trail {
    stroke: rgba($gray-500, 0.05);
  }
}

.progress-bar-secondary-4 {
  .progress-bar__stroke {
    stroke: $brand-danger;
  }

  .progress-bar__trail {
    stroke: rgba($gray-500, 0.05);
  }
}
