.row.align-items-md-end.row-40
  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header free
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 0
          span.small.small-bottom /mo
        .divider-triangle

        ul.pricing-list
          li
            span.text-ubold 1GB
            | Space amount
          li
            span.text-ubold 5
            | users
          li
            span.text-ubold 5GB
            | Bandwidth
          li No Support

          li
            span.text-ubold 1
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header Starter
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 59
          span.small.small-bottom /mo
        .divider-triangle

        ul.pricing-list
          li
            span.text-ubold 5GB
            | Space amount
          li
            span.text-ubold 20
            | users
          li
            span.text-ubold 10GB
            | Bandwidth
          li No Support

          li
            span.text-ubold 1
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table.pricing-table-preferred
      .pricing-table-label.novi-background
        p Most popular
      .pricing-table-body
        h5.pricing-table-header Business
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 99
          span.small.small-bottom /mo
        .divider-triangle

        ul.pricing-list
          li
            span.text-ubold 10GB
            | Space amount
          li
            span.text-ubold Unlimited
            | users
          li
            span.text-ubold 30GB
            | Bandwidth
          li Free Support

          li
            span.text-ubold 20
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up

  .col-md-6.col-xl-3
    //- Pricing table
    .pricing-table
      .pricing-table-body
        h5.pricing-table-header Ultimate
        .pricing-object.pricing-object-lg
          span.small.small-top $
          span.price 199
          span.small.small-bottom /mo
        .divider-triangle

        ul.pricing-list
          li
            span.text-ubold 100GB
            | Space amount
          li
            span.text-ubold Unlimited
            | users
          li
            span.text-ubold 60GB
            | Bandwidth
          li Free Support

          li
            span.text-ubold Unlimited
            | Databases
      .pricing-table-footer
        a.btn.btn-primary.btn-block(href='register.html') Sign up