section.section-75.section-xl-145.bg-white
  .container
    h2.d-xl-none Your personal managers
    .row.row-30.row-offset-7.justify-content-sm-center.align-items-sm-center
      .col-lg-10.col-xl-6.offset-xl-3.text-xl-left
        #user-1.tabs-custom.quote-slide-holder
          .tab-content.text-sm-left.text-gray
            div#user-1-1.tab-pane.fade.show.active
              .quote-slide
                +img('team-4-270x368.jpg', 'quote-slide-img')
                .quote-slide-inner
                  .sub-header Loan consultant
                  h4
                    a(href='team-member.html') Jane Smith
                  .unit.flex-sm-row
                    .unit-left
                      svg(version='1.1' x='0px', y='0px', width='49', height='42', viewbox='0 0 60.96 53', style='fill: #e9e9e9; enable-background:new 0 0 60.96 53; transform: rotate(180deg);')
                        g
                          defs
                            rect(x='0', width='60.96', height='53')
                          path(style='clip-path:url(#SVGID_2_);', d='M11.664,0C5.223,0,0,5.371,0,12s5.223,12,11.664,12C23.324,24,15.551,47.199,0,47.199\
                                                              v5.602C27.754,52.801,38.629,0,11.664,0L11.664,0z M45.262,0c-6.442,0-11.66,5.371-11.66,12s5.218,12,11.66,12\
                                                              c11.664,0,3.89,23.199-11.66,23.199v5.602C61.352,52.801,72.23,0,45.262,0L45.262,0z M45.262,0')

                    .unit-body.quote-body
                      p: q I’ll be glad to help you select a proper loan management plan to quickly pay off your credit.

            div#user-1-2.tab-pane.fade
              .quote-slide
                +img('team-5-270x368.jpg', 'quote-slide-img')
                .quote-slide-inner
                  .sub-header mortgage expert
                  h4
                    a(href='team-member.html') Ann Perkins
                  .unit.flex-sm-row
                    .unit-left
                      svg(version='1.1' x='0px', y='0px', width='49', height='42', viewbox='0 0 60.96 53', style='fill: #e9e9e9; enable-background:new 0 0 60.96 53; transform: rotate(180deg);')
                        g
                          defs
                            rect(x='0', width='60.96', height='53')
                          path(style='clip-path:url(#SVGID_2_);', d='M11.664,0C5.223,0,0,5.371,0,12s5.223,12,11.664,12C23.324,24,15.551,47.199,0,47.199\
                                                              v5.602C27.754,52.801,38.629,0,11.664,0L11.664,0z M45.262,0c-6.442,0-11.66,5.371-11.66,12s5.218,12,11.66,12\
                                                              c11.664,0,3.89,23.199-11.66,23.199v5.602C61.352,52.801,72.23,0,45.262,0L45.262,0z M45.262,0')

                    .unit-body.quote-body
                      p: q I can answer all the questions you may have about mortgage and loans.

            div#user-1-3.tab-pane.fade
              .quote-slide
                +img('team-6-270x368.jpg', 'quote-slide-img')
                .quote-slide-inner
                  .sub-header Operations Manager
                  h4
                    a(href='team-member.html') Martha Graham
                  .unit.flex-sm-row
                    .unit-left
                      svg(version='1.1' x='0px', y='0px', width='49', height='42', viewbox='0 0 60.96 53', style='fill: #e9e9e9; enable-background:new 0 0 60.96 53; transform: rotate(180deg);')
                        g
                          defs
                            rect(x='0', width='60.96', height='53')
                          path(style='clip-path:url(#SVGID_2_);', d='M11.664,0C5.223,0,0,5.371,0,12s5.223,12,11.664,12C23.324,24,15.551,47.199,0,47.199\
                                                              v5.602C27.754,52.801,38.629,0,11.664,0L11.664,0z M45.262,0c-6.442,0-11.66,5.371-11.66,12s5.218,12,11.66,12\
                                                              c11.664,0,3.89,23.199-11.66,23.199v5.602C61.352,52.801,72.23,0,45.262,0L45.262,0z M45.262,0')

                    .unit-body.quote-body
                      p: q I can become your guide in all peculiarities of mortgage process and answer all your questions.

          ul.nav.nav-border
            li: a.active(href='#user-1-1' data-toggle='tab')
              +img('team-1-108x91.jpg')
            li: a(href='#user-1-2' data-toggle='tab')
              +img('team-2-108x91.jpg')
            li: a(href='#user-1-3' data-toggle='tab')
              +img('team-3-108x91.jpg')

      .col-lg-3.d-xl-block.d-none.text-lg-left
        .text-extra-big.text-primary Your
        h3 
          | Personal
          | Managers
