//- Includes
include ../elements/_ui-quote-vertical

//- What Clients Say?
section.section-60.section-md-90.section-lg-bottom-120.bg-gray-dark
  .container.text-center
    .row
      .col-sm-12
        h3 What Clients Say?
    .row.justify-content-sm-center.justify-content-md-start.offset-top-40
      .col-md-4
        +quote-vertical({
          mod: 'quote-vertical-inverse',
          img: 'clients-testimonials-7-113x113.png',
          text: "The one thing I am sure about right now is that my next web startup will be developed by Starbis.",
          cite: "Axel Merphy",
          caption: 'Freelance developer'
        })

      .col-md-4.offset-top-60.offset-sm-top-0
        +quote-vertical({
          mod: 'quote-vertical-inverse',
          img: 'clients-testimonials-8-113x113.png',
          text: "They’ve developed a large multipage website with lots of additional functions in just two weeks.",
          cite: "Amelia Lee",
          caption: 'Sales, demolink.org'
        })

      .col-md-4.offset-top-60.offset-sm-top-0
        +quote-vertical({
          mod: 'quote-vertical-inverse',
          img: 'clients-testimonials-9-113x113.png',
          text: "I’m extremely satisfied with their work. My new website looks great and runs smoothly. The support is excellent too.",
          cite: "Jack McGee",
          caption: 'Founder, The Therapy'
        })
='\n'