[data-novi-id="176"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}
[data-novi-id="175"] {
  text-align: justify;
}
[data-novi-id="162"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  font-weight: 700;
  font-size: 17px;
}
[data-novi-id="158"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-size: 17px;
}
[data-novi-id="157"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  font-weight: 700;
  font-size: 17px;
}
[data-novi-id="156"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
[data-novi-id="155"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 17px;
}
[data-novi-id="154"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
  font-size: 17px;
}
[data-novi-id="153"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 17px;
}
[data-novi-id="152"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
  font-size: 17px;
}
[data-novi-id="151"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}
[data-novi-id="244"] {
  font-size: 15px;
  color: #c39c0a;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="244"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="243"] {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="243"] {
  text-align: justify;
}

[data-novi-id="77"] {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="77"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="76"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

[data-novi-id="7"] {
  text-align: justify;

}

[data-novi-id="6"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
}

[data-novi-id="438"] {
  font-weight: 400;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="437"] {
  color: #c3992a;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="436"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="435"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="434"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="433"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="432"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="431"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="430"] {
  color: #c39c0a;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="429"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="428"] {
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="427"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="426"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="425"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="424"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="423"] {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="422"] {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="421"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="420"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="419"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="324"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-weight: 400;
}

[data-novi-id="179"] {
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="418"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="417"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="416"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="415"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="414"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="413"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="412"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="411"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="410"] {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="409"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="408"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="407"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="406"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="405"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="404"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="403"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="402"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="401"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="400"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="399"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="398"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="397"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="396"] {
  text-align: justify;
}

[data-novi-id="395"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="394"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="393"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="392"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="391"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="390"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="389"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="388"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="387"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="386"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="385"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="384"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="383"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="382"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="381"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="380"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="379"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="378"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="377"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="376"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="375"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="374"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="373"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="372"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="371"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="370"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="369"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="368"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="367"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="366"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="365"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="364"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="363"] {
  text-align: justify;
}

[data-novi-id="362"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="361"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="360"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="359"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="358"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="357"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="356"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="355"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="354"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="353"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="352"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="351"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="350"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="349"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="348"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="347"] {
  text-align: justify;
}

[data-novi-id="346"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="345"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="344"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="343"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="342"] {
  text-align: justify;
}

[data-novi-id="341"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="340"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="339"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="338"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="337"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="336"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="335"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="334"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="333"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="332"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="331"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="330"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="329"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="328"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="327"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="326"] {
  text-align: justify;
}

[data-novi-id="325"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="324"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="323"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="322"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="321"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="320"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="319"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="318"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="317"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="316"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="315"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="314"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="313"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="312"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="311"] {
  text-align: justify;
}

[data-novi-id="310"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="309"] {
  color: rgb(97, 97, 97);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="308"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="307"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="306"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="305"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="304"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="303"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="302"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="301"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="300"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="299"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="298"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="297"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="296"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="295"] {
  text-align: justify;
}

[data-novi-id="294"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="293"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="292"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="291"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="290"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="289"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="288"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

[data-novi-id="287"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="286"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="285"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="284"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="283"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="282"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="281"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="280"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="279"] {
  text-align: justify;
}

[data-novi-id="278"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="277"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="276"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="275"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="274"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="273"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

[data-novi-id="272"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="271"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="270"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="269"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="268"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

[data-novi-id="267"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="266"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="265"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="264"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="263"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="262"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="261"] {
  text-align: justify;
}

[data-novi-id="260"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="259"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="258"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
  font-size: 17px;
}

[data-novi-id="257"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
  font-size: 17px;
}

[data-novi-id="256"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="255"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-size: 17px;
}

[data-novi-id="254"] {
  color: #E18900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  
  
}

[data-novi-id="253"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 17px;
  
  
}

[data-novi-id="252"] {
  color: #E18900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  
  
}

[data-novi-id="251"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  
  
  font-weight: 700;
  font-size: 17px;
  
}

[data-novi-id="250"] {
  color: #E18900;
  font-weight: 700;
  font-size: 17px;
  
  
}

[data-novi-id="249"] {
  color: #E18900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  
  
}

[data-novi-id="248"] {
  color: #E18900;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  
  
}

[data-novi-id="247"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  font-weight: 700;
  font-size: 17px;
}

[data-novi-id="246"] {
  color: rgba(252, 252, 252, 1);
  font-weight: 400;
}

[data-novi-id="245"] {
  font-family: 'Playfair Display', serif;
  color: rgba(99, 99, 99, 1);
  font-weight: 400;
}

[data-novi-id="244"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="243"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-weight: 400;
}

[data-novi-id="242"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="241"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="240"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="239"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  font-weight: 700;
  font-size: 17px;
}

[data-novi-id="238"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="237"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="236"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="235"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="234"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="233"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="232"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="231"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="230"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="229"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="228"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="227"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="226"] {
  text-align: justify;
}

[data-novi-id="225"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="224"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="223"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="222"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="221"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="220"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="219"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="218"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="217"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="216"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="215"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="214"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="213"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="212"] {
  color: rgba(219, 143, 51, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="211"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="210"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="209"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(219, 143, 51, 1);
}

[data-novi-id="208"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="207"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="206"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="205"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="204"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 17px;
}

[data-novi-id="203"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="202"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="201"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="200"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="199"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="198"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="197"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="196"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="195"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="194"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="193"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="192"] {
  text-align: justify;
  font-size: 16px;
}

[data-novi-id="191"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="190"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="189"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="188"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="187"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 16px;
}

[data-novi-id="186"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  font-weight: 700;
  font-size: 16px;
}

[data-novi-id="185"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 17px;
}

[data-novi-id="184"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 16px;
}

[data-novi-id="183"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="182"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 16px;
}

[data-novi-id="181"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 16px;
}

[data-novi-id="180"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #E18900;
  font-size: 16px;
}

[data-novi-id="179"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="178"] {
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
  font-weight: 700;
  font-size: 16px;
}

[data-novi-id="177"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="176"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="175"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="174"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="173"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="172"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="171"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="170"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="169"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="168"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="167"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="166"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="165"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="164"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="163"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="162"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="161"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="160"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="159"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="158"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="157"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="156"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="155"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="154"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="153"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="152"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="151"] {
  text-align: justify;
}

[data-novi-id="150"] {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

[data-novi-id="149"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="148"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="147"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="146"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="145"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="144"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="143"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

[data-novi-id="142"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="141"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-weight: 400;
}

[data-novi-id="140"] {
  text-align: justify;
}

[data-novi-id="139"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="138"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="137"] {
  text-align: justify;
}

[data-novi-id="136"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="135"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="134"] {
  text-align: justify;
}

[data-novi-id="133"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="132"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="131"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="130"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="129"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-size: 17px;
}

[data-novi-id="128"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="127"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  
  
  
  
}

[data-novi-id="126"] {
  text-align: justify;
}

[data-novi-id="125"] {
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="124"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="123"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="122"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="121"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="120"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="119"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="118"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="117"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="116"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="115"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="114"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="113"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="112"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="111"] {
  color: rgba(99, 99, 99, 1);
  font-size: 24px;
}

[data-novi-id="110"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="109"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="108"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="107"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="106"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="105"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="104"] {
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="103"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="102"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="101"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="100"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="99"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-size: 17px;
}

[data-novi-id="98"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="97"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="96"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="95"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="94"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
  font-size: 17px;
}

[data-novi-id="93"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="92"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
  font-size: 17px;
}

[data-novi-id="91"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="90"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="89"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="88"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="87"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="86"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  
  
}

[data-novi-id="85"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="84"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="83"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="82"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
  font-size: 17px;
}

[data-novi-id="81"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="80"] {
  color: #696969;
  font-family: 'Playfair Display', serif;
}

[data-novi-id="79"] {
  color: #696969;
  font-family: 'Playfair Display', serif;
}

[data-novi-id="78"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(110, 110, 110);
  font-size: 15px;
}

[data-novi-id="77"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="76"] {
  color: #c39c0a;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="75"] {
  text-align: justify;
}

[data-novi-id="74"] {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="73"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="72"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="71"] {
  text-align: justify;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="70"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  font-weight: 400;
  font-size: 17px;
  
  
}

[data-novi-id="69"] {
  color: rgb(51, 51, 51);
}

[data-novi-id="68"] {
  color: rgb(51, 51, 51);
}

[data-novi-id="67"] {
  text-align: justify;
}

[data-novi-id="66"] {
  font-size: 16px;
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="65"] {
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="64"] {
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="63"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="62"] {
  text-align: justify;
}

[data-novi-id="61"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="60"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="59"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="58"] {
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="57"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="56"] {
  text-align: justify;
}

[data-novi-id="55"] {
  color: rgb(99, 99, 99);
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="54"] {
  text-align: justify;
}

[data-novi-id="53"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="52"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
}

[data-novi-id="51"] {
  text-align: justify;
}

[data-novi-id="50"] {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 17px;
  
  
}

[data-novi-id="49"] {
  text-align: justify;
  font-weight: 400;
  font-size: 17px;
  
  
}

[data-novi-id="48"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

[data-novi-id="47"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

[data-novi-id="46"] {
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="45"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="44"] {
  color: rgb(99, 99, 99);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="43"] {
  font-weight: 400;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  
}

[data-novi-id="42"] {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="41"] {
  text-align: justify;
}

[data-novi-id="40"] {
  font-size: 20px;
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="39"] {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="38"] {
  text-align: justify;
}

[data-novi-id="37"] {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="36"] {
  text-align: justify;
}

[data-novi-id="35"] {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="34"] {
  text-align: justify;
}

[data-novi-id="33"] {
  font-weight: 700;
  font-size: 20px;
}

[data-novi-id="32"] {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="31"] {
  text-align: justify;
}

[data-novi-id="30"] {
  text-align: justify;
}

[data-novi-id="29"] {
  text-align: justify;
}

[data-novi-id="28"] {
  text-align: justify;
}

[data-novi-id="27"] {
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="26"] {
  color: rgba(0, 0, 0, 1);
}

[data-novi-id="25"] {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="24"] {
  font-size: 20px;
  font-weight: 700;
}

[data-novi-id="23"] {
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="22"] {
  font-weight: 700;
  
  text-align: justify;
  font-weight: 400;
  font-size: 17px;
  
}

[data-novi-id="21"] {
  font-size: 36px;
  color: rgba(219, 143, 51, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="20"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 165, 0, 1);
}

[data-novi-id="19"] {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 1);
}

[data-novi-id="18"] {
  font-family: 'Montserrat', sans-serif;
  font-size: 37px;
  font-weight: 700;
  color: rgba(246, 255, 252, 1);
}

[data-novi-id="17"] {
  font-style: italic;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(110, 110, 110);
}

[data-novi-id="16"] {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="15"] {
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="14"] {
  color: rgba(0, 0, 0, 1);
}

[data-novi-id="13"] {
  color: rgba(99, 99, 99, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="12"] {
  color: rgba(0, 0, 0, 1);
}

[data-novi-id="11"] {
  color: rgba(10, 10, 10, 0.2);
  color: rgba(10, 10, 10, 0.36);
}

[data-novi-id="10"] {
  color: rgb(110, 110, 110);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="9"] {
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="8"] {
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
}

[data-novi-id="7"] {
  font-family: 'Montserrat', sans-serif;
  color: rgba(99, 99, 99, 1);
}

[data-novi-id="6"] {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
}

[data-novi-id="5"] {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: rgb(99, 99, 99);
}

[data-novi-id="4"] {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
}

[data-novi-id="3"] {
  font-weight: 700;
  color: #E18900;
}

[data-novi-id="2"] {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #E18900;
}

[data-novi-id="1"] {
  font-weight: 700;
  color: #E18900;
}

[data-novi-id="0"] {
  text-align: justify;
}