//- Pre-footer
section
  .section.section-40.section-md-60.bg-cape-cod.context-dark.novi-background.bg-cover
    .container
      .row.justify-content-sm-center
        .col-sm-10.col-md-11.col-lg-12
          .row.row-50
            .col-md-6.col-lg-4
              .inset-lg-right-30
                h6.text-uppercase About us
                p.offset-top-15 TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from.

                .unit.unit-spacing-xs.offset-top-10
                  .unit-left: span.novi-icon.icon.icon-xs-smaller.icon-primary.fa-phone
                  .unit-body: a.link.link-bold.link-light-2(href='tel:#') +1 (232) 349–8447
                .inset-left-30
                  a.link-light-2.font-italic(href='mailto:#') info@demolink.org

            .col-md-6.col-lg-4
              h6.text-uppercase Quick links
              .row.row-fix.offset-top-15(style='max-width: 340px;')
                .col-6
                  ul.list-marked-variant-2
                    li: a(href='index.html') Home
                    li: a(href='services.html') Services
                    li: a(href='careers.html') Careers
                    li: a(href='blog-classic.html') Blog

                .col-6
                  ul.list-marked-variant-2
                    li: a(href='about-us.html') About us
                    li: a(href='contact-us.html') Contacts
                    li: a(href='#') Appointment

            .col-md-6.col-lg-4
              h6.text-uppercase Subscribe
              p.offset-top-10 Get latest updates and offers.
              //- RD Mailform
              form.rd-mailform.form-classic.form-inline.offset-top-10(data-form-output="form-output-global", data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
                .form-wrap
                  input#contact-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for="contact-email") Enter Your E-mail
                button(type="submit" aria-label='Subscribe').btn.btn-icon-only.btn-primary
                  span.novi-icon.icon.icon-xs.icon-white.fa-envelope-o


  //- Page Footer
  .section.page-foot.section-15.bg-black.context-dark.novi-background.bg-cover
    .container.text-center
      p.rights.text-light-03
        span &#169;&nbsp;
        span(class='copyright-year')
        span Tab Account.&nbsp;
        a(href='privacy-policy.html') Privacy Policy
        if (!ldVersion & !themeForest)
          =". "
          span Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]
='\n'