//- Counters
section.section-60.section-md-100.bg-black
  .container
    .row
      .col-sm-6.col-md-3
        .box-counter.box-counter-inverse
          span.icon.icon-md.icon-primary.material-icons-content_copy
          //- CountTo
          .text-large.counter 58249
          h5.box-header templates

      .col-sm-6.col-md-3.offset-top-40.offset-xs-top-0
        .box-counter.box-counter-inverse
          span.icon.icon-md.icon-primary.material-icons-mood
          //- CountTo
          .text-large.counter.counter-k 246
          h5.box-header happy clients

      .col-sm-6.col-md-3.offset-top-40.offset-sm-top-0
        .box-counter.box-counter-inverse
          span.icon.icon-md.icon-primary.material-icons-access_time
          //- CountTo
          .text-large.counter 1200
          h5.box-header hours of coding

      .col-sm-6.col-md-3.offset-top-40.offset-sm-top-0
        .box-counter.box-counter-inverse
          span.icon.icon-md.icon-primary.material-icons-code
          //- CountTo
          .text-large.counter.counter-k 834
          h5.box-header lines of code
='\n'