.row.row-40
  .col-md-6.col-lg-4
    .inset-xl-right-40
      +quote-bordered({
        img: 'clients-testimonials-1-68x68',
        header: 'I’m recommending you to all my colleagues ',
        text: 'I recently closed a mortgage loan through FastCredit and I was extremely pleased with the procedure. This company has the most experienced loan experts.',
        cite: 'Susan Bennett',
        caption: 'Manager'
      })
        ul.list-inline.list-inline-0
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star

  .col-md-6.col-lg-4
    .inset-xl-right-40
      +quote-bordered({
        img: 'clients-testimonials-2-68x68',
        header: 'I got a loan quickly and I felt like they really cared about me',
        text: "All went well at the closing of my mortgage last week. FastCredit made the process as painless as possible and did everything in a professional and timely manner.",
        cite: 'Jeffrey Neddery',
        caption: 'Student'
      })
        ul.list-inline.list-inline-0
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star-half

  .col-md-6.col-lg-4
    .inset-xl-right-40
      +quote-bordered({
        img: 'clients-testimonials-3-68x68',
        header: 'FastCredit cared and did everything to make the process fast and simple!',
        text: " I just wanted to thank you and your colleagues for the role you played in my apartment closing, which occurred yesterday without a hitch. You are real professionals!",
        cite: 'Amanda smith',
        caption: 'Sales Manager'
      })
        ul.list-inline.list-inline-0
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
          li
            span.icon.icon-sm.text-warning.mdi.mdi-star
