//- Includes
include ../elements/_ui-post-preview

//- Footer Widget
footer.page-foot.bg-cape-cod.context-dark.novi-background.bg-cover
  .section-40.section-md-75
    .container
      .row.row-fix.justify-content-sm-center
        .col-sm-9.col-md-11.col-xl-12
          .row.row-50
            .col-md-6.col-lg-10.col-xl-3
              .inset-xl-right-20(style='max-width: 510px;')
                //- Brand
                a.brand.brand-inverse(href='index.html')
                  +png("logo-light-282x68")
                p.text-dusty-gray.
                  TabAccount delivers environment through which high-quality firms from diverse backgrounds can work together toward their own common goals.
                .link-block
                  a.text-small-16.text-medium(href="contact-us.html") Free Consultation

            .col-md-6.col-lg-4.col-xl-3
              h6.text-small-16.text-uppercase.footer-title Recent Posts

              .post-preview-wrap
                +post-preview({
                  classes: ['post-preview-inverse', 'offset-top-22'],
                  img: 'post-preview-1-70x70',
                  header: 'Top 3 Concerns Whe Choosing a Cloud Vendor',
                  time: 'June 23, 2018'
                })

                +post-preview({
                  classes: ['post-preview-inverse', 'offset-top-22'],
                  img: 'post-preview-2-70x70',
                  header: 'Audit Data Analytics: Why Auditors Should Care',
                  time: 'June 20, 2018'
                })

            .col-md-6.col-lg-4.col-xl-3
              h6.text-small-16.text-uppercase.footer-title Quick links
              .row.row-fix(style='max-width: 270px;')
                .col-6
                  ul.list-marked-variant-2
                    li: a(href='index.html') Home
                    li: a(href='services.html') Services
                    li: a(href='blog-classic.html') Blog

                .col-6
                  ul.list-marked-variant-2
                    li: a(href='about-us.html') About us
                    li: a(href='contact-us.html') Contacts
                    li: a(href='team.html') Team

            .col-md-6.col-lg-4.col-xl-3
              h6.text-small-16.text-uppercase.footer-title Contact us
              address.contact-info.text-left
                .unit.unit-horizontal.unit-spacing-md.align-items-center
                  .unit-left
                    span.novi-icon.icon.icon-xs.icon-dusty-gray.material-icons-phone
                  .unit-body
                    a.link-white(href='tel:#') +1 (409) 987–5874

                .unit.unit-horizontal.unit-spacing-md.align-items-center
                  .unit-left
                    span.novi-icon.icon.icon-xs.icon-dusty-gray.fa.fa-envelope-o
                  .unit-body
                    a.link-white(href='mailto:#') info@demolink.org

                .unit.unit-horizontal.unit-spacing-md
                  .unit-left
                    span.novi-icon.icon.icon-xs.icon-dusty-gray.material-icons-place
                  .unit-body
                    a.link-white.d-inline(href='#')
                      | 6036 Richmond hwy,
                      br
                      | Alexandria, VA USA 22303
  .container
    hr.hr.bg-abbey-04

  .section-35
    .container.text-center
      .row.row-fix.flex-md-row-reverse.justify-content-md-between.align-items-md-center.row-15
        .col-md-6.text-md-right
          .group-sm.group-middle
            p.font-italic.text-white Follow Us:
            ul.list-inline.list-inline-reset
              li: a.novi-icon.icon.icon-round.icon-abbey-filled.icon-xxs-smallest.fa.fa-facebook(href='#')
              li: a.novi-icon.icon.icon-round.icon-abbey-filled.icon-xxs-smallest.fa.fa-twitter(href='#')
              li: a.novi-icon.icon.icon-round.icon-abbey-filled.icon-xxs-smallest.fa.fa-google-plus(href='#')

        .col-md-6.offset-top-15.offset-sm-top-0.text-md-left
          p.rights.text-white
            span(class='copyright-year')
            span &nbsp;&#169;&nbsp;
            span TabAccount.&nbsp;
            a.link-white-v2(href='privacy-policy.html') Privacy Policy
            | . Design&nbsp;by&nbsp;#[a(href="https://zemez.io/") Zemez]
            