//- Starbis Is Exactly What You Need
section.section-60.section-md-100.bg-accent
  .container.text-center.text-lg-left
    .row.align-items-lg-center.justify-content-lg-center
      .col-lg-8.col-xl-7
        h3 Starbis Is Exactly What You Need
      .col-lg-4.col-xl-3.offset-top-30.offset-md-top-0
        a.btn.btn-xl.btn-white-outline(href=globals.getTemplateLink) Get template
='\n'