//- Footer base
section.page-foot
  .page-foot-inner
    .container.text-center
      .row
        .col-sm-12
          p.rights.text-small.text-light
            span Tab Account
            span &nbsp;&#169;&nbsp;
            span(id='copyright-year')
            span All Rights Reserved
            br.d-md-none
            a.link-primary-inverse(href='#') Terms of Use
            span and
            a.link-primary-inverse(href='privacy-policy.html') Privacy Policy
='\n'
