//- Header base transparent
header.page-head
  .page-head-inner
    .container.text-center
      //- RD Navbar Brand
      a.brand.brand-md.brand-inverse(href='index.html')
        +png("logo-light-282x68")

