-
  var livedemo = true,
  menuHalf = {
    "home": {
      index: 0,
      title: 'Home',
      link: 'index.html'
    },

    "features": {
      index: 1,
      title: 'About Us',
      link: 'about-us.html'
    },

    "services": {
      index: 2,
      title: 'Services',
      link: 'services.html',
      dropdown: [
        {
          title: 'Single service',
          link: 'single-service.html'
        }
      ]
    },

    "blog": {
      index: 3,
      title: 'Blog',
      link: 'blog-grid.html',
      dropdown: [
       {
        title: "Blog post",
        link: "blog-post.html"
       }
      ]
    },

    "pages": {
      index: 4,
      title: 'Pages',
      link: '#',
      dropdown: [
        {
          title: 'Team',
          link: 'team.html'
        },
        {
          title: 'Team member',
          link: 'team-member.html'
        },
        {
          title: 'Privacy policy',
          link: 'privacy-policy.html'
        },
        {
          title: 'Search results',
          link: 'search-results.html'
        }
      ]
    },

    "contacts": {
      index: 5,
      title: 'Contacts',
      link: 'contact-us.html'
    }
  },
  menuFull = {
  "home": {
  index: 0,
  title: 'Home',
  link: 'index.html'
  },

  "features": {
  index: 1,
  title: 'About Us',
  link: 'about-us.html'
  },

  "services": {
  index: 2,
  title: 'Services',
  link: 'services.html',
  dropdown: [
  {
  title: 'Single service',
  link: 'single-service.html'
  }
  ]
  },

  "blog": {
  index: 3,
  title: 'Blog',
  link: 'blog-grid.html',
  dropdown: [
  {
  title: "Blog post",
  link: "blog-post.html"
  }
  ]
  },

  "pages": {
  index: 4,
  title: 'Pages',
  link: '#',
  dropdown: [
  {
  title: 'Team',
  link: 'team.html'
  },
  {
  title: 'Team member',
  link: 'team-member.html'
  },
  {
  title: 'Privacy policy',
  link: 'privacy-policy.html'
  },
  {
  title: 'Search results',
  link: 'search-results.html'
  }
  ]
  },

  "contacts": {
  index: 5,
  title: 'Contacts',
  link: 'contact-us.html'
  },
  "blocks": {
  index: 6,
  title: 'Blocks',
  link: '#',
    megamenu: [
      [
        {
          title: 'Elements 1',
          link: '#',
          list: [
            {
              title: 'Headers',
              link: 'headers.html'
            },
            {
              title: 'Footers',
              link: 'footers.html'
            },
            {
              title: 'Brands',
              link: 'brands.html'
            },
            {
              title: 'Call to action',
              link: 'call-to-action.html'
            },
            {
              title: 'Features',
              link: 'features.html'
            }
          ]
        }
      ],
      [
        {
          title: 'Elements 2',
          list: [
            {
              title: 'Forms',
              link: 'forms.html'
            },
            {
              title: 'Gallery',
              link: 'gallery.html'
            },
            {
              title: 'Gallery album',
              link: 'gallery-album.html'
            },
            {
              title: 'Maps',
              link: 'maps.html'
            },
            {
              title: 'Services page',
              link: 'services-page.html'
            }
          ]
        }
      ],
      [
        {
          title: "Elements 3",
          list: [
            {
              title: 'Subscribe forms',
              link: 'subscribe-forms.html'
            },
            {
              title: 'Sliders',
              link: 'sliders.html'
            },
            {
              title: 'Testimonials',
              link: 'testimonials.html'
            }
          ]
        }
      ],
      [
        {
          title: 'Blog',
          link: '#',
          list: [
            {
              title: 'Blog grid',
              link: 'blog-grid.html'
            },
            {
              title: 'Blog masonry',
              link: 'blog-masonry.html'
            },
            {
              title: 'Blog classic',
              link: 'blog-classic.html'
            }
          ]
        }
      ]
    ]
    }
  },
  menu = livedemo ? menuFull : menuHalf,
  builderLink = 'http://ld-wp2.template-help.com/novi-builder/prod-18364/'

  globals = {
    getTemplateLink: '#',
    address: '6036 Richmond hwy, Alexandria, VA USA 22303',
    soundcloud: '<iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>',
    video: '<iframe width="560" height="315" src="https://www.youtube.com/embed/1UWpbtUupQQ" allowfullscreen></iframe>'
  }
